{# Modify our SAMHSA Region Offices page to include an interactive map at the top #}
{% extends "node--generic--full.html.twig" %}

{% block pre_content %}
  <div id="samhsa_regions_map">
    {% include('node--region-map.html.twig') %}
    {{ drupal_view('samhsa_regions', 'embed') }}
  </div>

{% endblock %}
