{#
 * NODE:  Homepage - Spotlight
 *
 * AVALIABLE FIELDS
 * Add Spotlight Item -	field_add_spotlight_item
#}

<div id="node-homepageblock-samhsaspotlight" class="home-block samhsa-spotlight" style="position:relative;">
  {% if logged_in %}
    <div class="hs-button-edit contextual">
      <a href="/node/{{ node.id }}/edit">
        <button class="trigger hs-button-edit-button" type="button" aria-pressed="false"></button>
      </a>
    </div>
  {% endif %}

  <div class="block-content">
    <div class="samhsa-block-title">
      <h1>
        SAMHSA Spotlight
        <span class="home-h1-line">&nbsp;</span>
      </h1>
    </div>

    <div class="samhsa-spotlight-wrapper">
      {{ content }}
    </div>
  </div>
</div>
