{# This is a pure HTML file to be included on the SAMHSA Regions homepage (map) #}
<img src="/themes/custom/samhsa_uswds_base/images/regions_map/Regmap-850.svg" width="850" height="495" usemap="#sr-image-map" class="sr-image-map" aria-label="An accessible version of this map is available as a PDF at the link below" style="z-index:900;">

<map name="sr-image-map">
  <area id="sr-id-1" title="Region 1" href="/about-us/who-we-are/regional-offices/region-1" coords="736,121,755,113,765,72,779,70,789,95,801,105,772,131,769,142,782,161,749,179" shape="poly">
  <area id="sr-id-2" title="Region 2" href="/about-us/who-we-are/regional-offices/region-2" coords="675,181,672,176,679,162,703,154,716,125,732,122,745,180,820,180,813,233,768,238,731,207,736,198,730,189,731,179,724,170" shape="poly">
  <area id="sr-id-3" title="Region 3" href="/about-us/who-we-are/regional-offices/region-3" coords="665,183,671,178,674,184,722,174,728,181,726,189,733,197,728,204,740,225,733,252,700,260,674,264,650,267,660,256,652,244,657,233,662,226,670,219" shape="poly">
  <area id="sr-id-4" title="Region 4" href="/about-us/who-we-are/regional-offices/region-4" coords="574,278,574,268,581,271,582,265,586,259,594,257,606,253,611,255,616,243,622,240,624,234,633,240,640,239,646,237,649,243,657,255,646,269,733,256,739,268,733,282,718,299,702,314,686,334,680,354,712,414,710,437,702,440,670,402,669,387,648,370,636,378,616,368,602,371,588,372,575,373,571,368,573,363,548,365,555,345,551,332,554,316,567,290" shape="poly">
  <area id="sr-id-5" title="Region 5" href="/about-us/who-we-are/regional-offices/region-5" coords="479,90,499,87,514,97,522,95,553,104,571,112,616,123,623,138,636,158,640,174,634,189,641,196,663,186,667,210,659,224,654,231,651,240,647,235,638,238,628,234,622,232,619,239,613,241,609,251,589,254,580,264,571,268,561,254,560,243,545,229,547,215,548,206,556,197,544,173,538,171,487,171" shape="poly">
  <area id="sr-id-6" title="Region 6" href="/about-us/who-we-are/regional-offices/region-6" coords="332,264,402,273,504,276,505,284,560,281,557,287,564,290,561,299,557,306,554,312,551,320,549,329,550,338,552,346,550,351,546,361,545,366,568,365,582,391,563,393,554,393,539,388,522,385,509,389,500,396,482,407,470,418,468,431,472,446,447,438,440,422,432,409,426,396,414,382,401,382,393,393,374,380,371,368,352,347,341,344,329,342,327,350,320,349" shape="poly">
  <area id="sr-id-7" title="Region 7" href="/about-us/who-we-are/regional-offices/region-7" coords="400,180,460,182,467,188,475,186,482,189,485,176,540,174,543,183,554,194,554,202,547,205,542,219,540,229,550,243,557,245,555,252,564,262,570,274,565,286,561,287,562,281,561,278,508,280,506,272,418,269,422,208,399,206" shape="poly">
  <area id="sr-id-8" title="Region 8" href="/about-us/who-we-are/regional-offices/region-8" coords="288,68,335,78,406,88,476,92,481,136,479,141,482,147,481,185,472,183,467,183,461,180,400,174,397,176,396,207,396,212,416,212,414,269,362,264,318,258,273,250,287,178,321,184,328,142,322,140,308,141,305,137,301,129,298,120,294,121,297,105,287,92,285,80" shape="poly">
  <area id="sr-id-9" title="Region 9" href="/about-us/who-we-are/regional-offices/region-9" coords="173,148,217,163,283,179,268,252,328,264,316,347,397,422,393,456,314,434,275,404,242,456,220,453,203,409,139,356,90,358,88,320,72,234,181,263,173,239,169,207,164,194,165,173" shape="poly">
  <area id="sr-id-10" title="Region 10" href="/about-us/who-we-are/regional-offices/region-10" coords="221,50,285,67,283,78,284,90,295,107,291,120,293,126,298,123,303,141,324,146,317,181,254,167,175,146,146,146,111,120,56,141,46,109,54,79,63,64,80,53,117,65,200,52,216,61" shape="poly">
</map>


