{#
 * Paragraphs types:  Homepage Spotlight
 * MACHINE NAME: homepage_spotlight
 *
 * AVALIABLE FIELDS
 * Homepage Spotlight Image -	field_homepage_spotlight_image
 * Homepage Spotlight Heading -	field_homepage_spotlight_heading
 * Homepage Spotlight Body -	field_homepage_spotlight_body
 *
#}

{# TEMPLATE #}
{% block paragraph %}
    {# SET VARIABLES #}
    {% set hsimageurl = paragraph.field_homepage_spotlight_image[0].entity.uri.value %}
    {% set hsimagealt = paragraph.field_homepage_spotlight_image[0].entity.alt.value %}
    {% set hsheader = paragraph.field_homepage_spotlight_heading.title %}
    {% set hsheaderurl = paragraph.field_homepage_spotlight_heading.uri %}
    {% set hsbody = paragraph.field_homepage_spotlight_body.value %}

    <div class="box">
      <div class="box-detail">
        <div class="media">
          <div class="box-img">
            <img src="/sites/default/files/{{ hsimageurl|replace({'public://': ''}) }}" alt="{{ hsimagealt }}" loading="lazy" />
          </div>
        </div>

        <div class="box-summary">
          <h2 class="box-heading">
            {% if hsheaderurl starts with 'route' %}
              {{ hsheader|raw }}
            {% elseif hsheaderurl starts with 'internal' %}
              <a href="{{ hsheaderurl|striptags|trim('internal:') }}">
                {{ hsheader|raw }}
              </a>
            {% else %}
              <a href="{{ hsheaderurl|striptags }}">
                {{ hsheader|raw }}
              </a>
            {% endif %}
          </h2>

          <div class="box-body">
            {{ hsbody|raw }}
          </div>
        </div>
      </div>
    </div>
{% endblock paragraph %}
