{#
 * Paragraphs types:  Group - Accordions
 * LABEL: Component label
 * MACHINE NAME: uswds_group_accordions
 *
 * AVALIABLE FIELDS
 * Accordions | paragraph.field_cardholder
 * Grid | paragraph.field_layout_grid
 * Single or Multi Select | paragraph.field_usa_accordion_multiselect
 * Accordion Start State | paragraph.field_usa_accordion_start_state
 * Body | paragraph.field_usa_body
 * Header (Formatted) | paragraph.field_usa_card_header_formatted
 * Header Type | paragraph.field_usa_card_header_type
 * Header ID | paragraph.field_usa_card_header_id
 *
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
]
%}

{# TEMPLATE #}
<div{{attributes.addClass(classes)}}>
  {# SET VARIABLES #}
  {% set grmultiselect = paragraph.field_usa_accordion_multiselect.value %}
  {% set grexcol = paragraph.field_usa_accordion_exp_collap.value %}
  {% set grhtext = paragraph.field_usa_card_header_formatted.value %}
  {% set grhid = paragraph.field_usa_card_header_id.value %}
  {% set grhtype = paragraph.field_usa_card_header_type.value %}

  <div class="usa-accordion uswds tablet:grid-col-12 clearfix" aria-multiselectable="{{ grmultiselect }}">
    {% if grhtext or (grexcol == '1') %}
    <div class="grid-row margin-bottom-2">
      <div class="grid-col-6 usa-accordion-group-header">
        {% if grhtext %}
          <{{ grhtype }} id="{{ grhid }}">{{ grhtext|raw }}</{{ grhtype }}>
        {% endif %}
      </div>

      {% if grexcol == '1' %}
        <div class="grid-col-6 usa-accordion__expandcollapse text-right">
          <a href="#" class="usa-accordion-expandall">Expand All</a>&nbsp;|&nbsp;<a href="#" class="usa-accordion-collapse-all">Collapse All</a>
        </div>
      {% endif %}
    </div>
    {% endif %}

    {% for key, item in content.field_cardholder if key|first != '#' %}
      {# SET VARIABLES #}
      {% set idpre = "acc-panel-" %}
      {% set id = idpre ~ random() %}
      {% set start = item['#paragraph'].field_usa_accordion_start_state.value %}
      {% set hlev = item['#paragraph'].field_usa_card_header_type.value %}
      {% set hid = item['#paragraph'].field_usa_card_header_id.value %}
      {% set htext = item['#paragraph'].field_usa_card_header_formatted.value %}
      {% set btext = item['#paragraph'].field_usa_body.value %}

      {% if paragraph.field_layout_grid.value == 'key_one' %}
        <div class="usa-accordion_panel_wrapper tablet:grid-col-12">
			{% elseif paragraph.field_layout_grid.value == 'key_two' %}
        <div class="usa-accordion_panel_wrapper tablet:grid-col-6">
      {% else %}
        <div class="usa-accordion_panel_wrapper tablet:grid-col-4">
      {% endif %}
        {% if hlev == 'normal' %}
          <div id="{{ hid }}" class="usa-accordion__heading">
            <button class="usa-accordion__button"
                    aria-expanded="{{ start }}"
                    aria-controls="{{ id }}">
              {{ htext|raw }}
            </button>
          </div>
        {% elseif hlev == 'normal-bold' %}
          <div id="{{ hid }}" class="usa-accordion__heading">
            <button class="usa-accordion__button"
                    aria-expanded="{{ start }}"
                    aria-controls="{{ id }}">
              <strong>{{ htext|raw }}</strong>
            </button>
          </div>
        {% else %}
          <{{ hlev }} id="{{ hid }}" class="usa-accordion__heading">
            <button class="usa-accordion__button"
                    aria-expanded="{{ start }}"
                    aria-controls="{{ id }}">
              {{ htext|raw }}
            </button>
          </{{ hlev }}>
        {% endif %}

        <div id="{{ id }}" class="usa-accordion__content">
          <p>{{ btext|raw }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
