{#
 * Paragraphs types:  USWDS Cards - Summary Box
 * LABEL: Component label
 * MACHINE NAME: usa_card__summary_box
 *
 * AVALIABLE FIELDS
 * USWDS Cards - Summary Box | field_usa_card_header_formatted
 * USWDS Cards - Summary Box | field_usa_card_header_type
 * USWDS Cards - Summary Box | field_usa_card_header_id
 * USWDS Cards - Summary Box | field_usa_card__list_item
 *
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
]
%}

{# TEMPLATE #}
<div{{attributes.addClass(classes)}}>
    {# SET VARIABLES #}
    {% set hlev = paragraph.field_usa_card_header_type.value %}
    {% set hid = paragraph.field_usa_card_header_id.value %}
    {% set htext = paragraph.field_usa_card_header_formatted.value %}

  <div class="usa-summary-box samhsa" role="region" aria-labelledby="{{ hid }}">
    <div class="usa-summary-box__body">
      {% if hlev == 'normal' %}
      <div id="{{ hid }}" class="usa-summary-box__header">
        {{ htext|raw }}
      </div>
      {% elseif hlev == 'normal-bold' %}
      <div id="{{ hid }}" class="usa-summary-box__header">
        <strong>{{ htext|raw }}</strong>
      </div>
      {% else %}
      <{{ hlev }} id="{{ hid }}" class="usa-summary-box__header">
        {{ htext|raw }}
      </{{ hlev }}>
      {% endif %}

      <div class="usa-summary-box__text">
        <ul class="usa-list">
          {{ content.field_usa_card__list_item }}
        </ul>
      </div>
    </div>
  </div>
</div>
