{#
 * Paragraphs types:  0 Layouts
 * LABEL: Component label
 * MACHINE NAME: uswds_alerts
 *
 * AVALIABLE FIELDS
 * field_add_border_top
 * field_add_border_bottom
 *
#}

{% block paragraph %}
<section class="paragraph-layout-section">
  {% block content %}
    <div class="usa-layout samhsa">
      {{ content }}
    </div>
  {% endblock %}
</section>
{% endblock paragraph %}
