{#
 * Paragraphs types:  Card - Custom Block
 * LABEL: Component label
 * MACHINE NAME: uswds_card_custom_block
 *
 * AVALIABLE FIELDS
 * Grid | paragraph.field_layout_grid
 * Custom Block | content.field_block
 *
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
]
%}

{# TEMPLATE #}
{% block paragraph %}
<div{{attributes.addClass(classes)}}>
  {% block content %}

    {% set ctype = paragraph.field_usa_card_type.value %}

  <div class="usa-custom-block-group samhsa {{ ctype }} desktop:grid-col-12 clearfix desktop:display-flex tablet:display-block">
    {% for key, item in content.field_block if key|first != '#' %}
    {% if paragraph.field_layout_grid.value == 'key_one' %}
    <div class="usa-custom-block-item tablet:grid-col-12 desktop:grid-col-12">
      {% elseif paragraph.field_layout_grid.value == 'key_two' %}
      <div class="usa-custom-block-item tablet:grid-col-12 desktop:grid-col-6">
        {% else %}
        <div class="usa-custom-block-item tablet:grid-col-12 desktop:grid-col-4">
          {% endif %}
          <div class="usa-custom-block-container">
            {{ item }}
          </div>
        </div>
    {% endfor %}
    </div>
  {% endblock %}
</div>
{% endblock paragraph %}
