{#
 Paragraphs types:  USWDS Cards - Basic
 * LABEL: Component label
 * MACHINE NAME: uswds_container
 *
 * AVALIABLE FIELDS
 * USWDS Cards | field_usa_body
 * USWDS Cards | field_usa_button
 * USWDS Cards | field_usa_button_type
 * USWDS Cards | field_usa_card_type
 * USWDS Cards | field_usa_card_header_formatted
 * USWDS Cards | field_usa_card_header_type
 * USWDS Cards | field_usa_card_header_id
 * USWDS Cards | field_usa_card__media
 * USWDS Cards | field_usa_card__media_type
 * USWDS Cards | field_usa_card__media_url
 * USWDS Cards | field_block
 *
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
  'samhsa',
]
%}

{# TEMPLATE #}
<div{{attributes.addClass(classes)}}>
    {# SET VARIABLES #}
    {% set ctype = paragraph.field_usa_card_type.value %}
    {% set hlev = paragraph.field_usa_card_header_type.value %}
    {% set hid = paragraph.field_usa_card_header_id.value %}
    {% set htext = paragraph.field_usa_card_header_formatted.value %}
    {% set btext = paragraph.field_usa_body.value %}
    {% set link_url = paragraph.field_usa_card__link.uri %}
    {% set link_title = paragraph.field_usa_card__link.title %}
    {% set link_position = paragraph.field_usa_card__link_position.value %}
    {% set link_icon = paragraph.field_usa_card__link_icon.entity.name.value %}
    {% set link_icon_position = paragraph.field_usa_card_icon_position.value %}
    {% set mediatype = paragraph.field_usa_card__media_type.value %}
    {% set mediaurl = paragraph.field_usa_card__media_url.uri %}
    {% set media = paragraph.field_usa_card__media.entity.uri.value %}
    {% set mediaalt = paragraph.field_usa_card__media.alt %}
    {% set button_type = paragraph.field_usa_button_type.value %}
    {% set button_align = paragraph.field_usa_button_align.value %}
    {% set button_text = paragraph.field_usa_button.title ?: 'Link Text' %}
    {% set button_icon = paragraph.field_usa_button_icon.entity.name.value %}
    {% set button_icon_position = paragraph.field_usa_button_icon_position.value %}
    {% set button_uri = paragraph.field_usa_button.uri %}

    <div class="desktop:grid-col-12 usa-card samhsa {{ ctype }} {{ mediatype }}">
      <div class="usa-card__container">
          {% if htext %}
           <header class="usa-card__header">
             {% if hlev == 'normal' %}
                <div id="{{ hid }}">
                  {{ htext|raw }}
                </div>
              {% elseif hlev == 'normal-bold' %}
                <div id="{{ hid }}">
                  <strong>{{ htext|raw }}</strong>
                </div>
              {% else %}
                <{{ hlev }} id="{{ hid }}">
                  {{ htext|raw }}
                </{{ hlev }}>
              {% endif %}
            </header>
          {% endif %}

          {% if media %}
            <div class="usa-card__media">
              <div class="usa-card__img">
                {% if mediaurl %}<a href="{{ mediaurl|striptags|trim }}" title="Learn more about {{ mediaalt }}">{% endif %}<img src="/sites/default/files/{{ media|replace({'public://': ''}) }}" alt="{{ mediaalt }}">{% if mediaurl %}</a>{% endif %}
              </div>
            </div>
          {% endif %}

          {% if btext %}
            <div class="usa-card__body">
              {{ btext|raw }}
            </div>
          {% endif %}

          {% if link_url %}
            <div class="usa-card__link text-{{ link_position }}">
              <a href="{{ content.field_usa_card__link[0]['#url']|render }}" title="Learn more about {{ link_title }}">{% if link_icon_position == 'before' %}<span class="link_icon"><i class="fas fa-{{ link_icon }}" aria-hidden="true"></i></span>{% endif %}{{ link_title }}{% if link_icon_position == 'after' %}<span class="link_icon"><i class="fas fa-{{ link_icon }}" aria-hidden="true"></i></span>{% endif %}</a>
            </div>
            <div class="usa-card__link mobile text-{{ link_position }}">
              <a href="{{ content.field_usa_card__link[0]['#url']|render }}" title="Learn more about {{ link_title }}">{% if link_icon_position == 'before' %}<span class="link_icon"><i class="fas fa-{{ link_icon }}" aria-hidden="true"></i></span>{% endif %}{{ link_title }}{% if link_icon_position == 'after' %}<span class="link_icon"><i class="fas fa-{{ link_icon }}" aria-hidden="true"></i></span>{% endif %}</a>
            </div>
          {% endif %}

          {% if button_uri %}
            <div class="usa-card__footer" style="text-align:{{ button_align }};">
              <button class="usa-button samhsa {{ button_type }}">
                1<a href="{{ content.field_usa_button[0]['#url']|render }}" title="Learn more about {{ button_text }}">{% if button_icon_position == 'before' %}<i class="fas fa-{{ button_icon }}" aria-hidden="true"></i>{% endif %}{{ button_text }}{% if button_icon_position == 'after' %}<i class="fas fa-{{ button_icon }}" aria-hidden="true"></i>{% endif %}</a>
              </button>
            </div>
          {% endif %}
        </div>
    </div>
</div>
