{#
 * Paragraphs types:  Card Component
 * LABEL: Component label
 * MACHINE NAME: uswds_container
 *
 * AVALIABLE FIELDS
 * USWDS Group - Cards | content.field_cardholder
 * USWDS Group - Cards | paragraph.field_layout_grid
 * USWDS Cards | field_usa_body
 * USWDS Cards | field_usa_button
 * USWDS Cards | field_usa_button_type
 * USWDS Cards | field_usa_card_type
 * USWDS Cards | field_usa_card_header_formatted
 * USWDS Cards | field_usa_card_header_type
 * USWDS Cards | field_usa_card_header_id
 * USWDS Cards | field_usa_card__media
 * USWDS Cards | field_usa_card__media_type
 * USWDS Cards | field_usa_card__media_url
 * USWDS Cards | field_block
 *
#}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  'paragraph--id--' ~ paragraph.id.value,
]
%}

{# TEMPLATE #}
{% block paragraph %}
<div{{attributes.addClass(classes)}}>
  {% block content %}
    <ul class="usa-card-group samhsa">
      {% for key, item in content.field_cardholder if key|first != '#' %}
        {# SET VARIABLES #}
        {% set ctype = item['#paragraph'].field_usa_card_type.value %}
        {% set hlev = item['#paragraph'].field_usa_card_header_type.value %}
        {% set hid = item['#paragraph'].field_usa_card_header_id.value %}
        {% set htext = item['#paragraph'].field_usa_card_header_formatted.value %}
        {% set btext = item['#paragraph'].field_usa_body.value %}
        {% set mediatype = item['#paragraph'].field_usa_card__media_type.value %}
        {% set mediaurl = item['#paragraph'].field_usa_card__media_url.uri %}
        {% set media = item['#paragraph'].field_usa_card__media.entity.uri.value %}
        {% set mediaalt = item['#paragraph'].field_usa_card__media.alt %}
        {% set button_type = item['#paragraph'].field_usa_button_type.value %}
        {% set button_text = item['#paragraph'].field_usa_button.title ?: 'Link Text' %}
        {% set button_uri = item['#paragraph'].field_usa_button.uri %}

        {% if paragraph.field_layout_grid.value == 'key_one' %}
          <li class="desktop:grid-col-12 usa-card samhsa {{ ctype }} {{ mediatype }}">
        {% elseif paragraph.field_layout_grid.value == 'key_two' %}
          <li class="desktop:grid-col-6 tablet:grid-col-12 usa-card samhsa {{ ctype }} {{ mediatype }}">
        {% else %}
          <li class="desktop:grid-col-4 tablet:grid-col-12 usa-card samhsa {{ ctype }} {{ mediatype }}">
        {% endif %}
           <div class="usa-card__container">
             {% if htext %}
               <header class="usa-card__header">
                 {% if hlev == 'normal' %}
                    <div id="{{ hid }}">
                      {{ htext|raw }}
                    </div>
                  {% elseif hlev == 'normal-bold' %}
                    <div id="{{ hid }}">
                      <strong>{{ htext|raw }}</strong>
                    </div>
                  {% else %}
                    <{{ hlev }} id="{{ hid }}">
                      {{ htext|raw }}
                    </{{ hlev }}>
                  {% endif %}
                </header>
             {% endif %}

             {% if media %}
                <div class="usa-card__media">
                  <div class="usa-card__img">
                    {% if mediaurl %}<a href="{{ mediaurl|striptags|trim }}" title="Learn more about {{ mediaalt }}">{% endif %}<img src="/sites/default/files/{{ media|replace({'public://': ''}) }}" alt="{{ mediaalt }}">{% if mediaurl %}</a>{% endif %}
                  </div>
                </div>
             {% endif %}

              {% if btext %}
                <div class="usa-card__body">
                  {{ btext|raw }}
                </div>
              {% endif %}

              {% if button_uri %}
                <div class="usa-card__footer">
                  <a href="{{ button_uri }}" class="btn {{ button_type }}">
                    <button class="usa-button samhsa" tabindex="-1">{{ button_text }}</button>
                  </a>
                </div>
              {% endif %}
            </div>
        </li>
      {% endfor %}
    </ul>
  {% endblock %}
</div>
{% endblock paragraph %}
