{#
 * Paragraphs types:  Alerts
 * LABEL: Component label
 * MACHINE NAME: uswds_alerts
 *
 * AVALIABLE FIELDS
 * Alert - Size | paragraph.field_usa_alert_size
 * Alert - Type | paragraph.field_usa_alert_type
 * Body | paragraph.field_usa_body
 * Header (Formatted) | paragraph.field_usa_card_header_formatted
 *
#}

{# VARIABLES #}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{# TEMPLATE #}
{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    {# SET VARIABLES #}
    {% set asize = content.field_usa_alert_size['#items'].getString() %}
    {% set atype = content.field_usa_alert_type['#items'].getString() %}
    {% set aheader = paragraph.field_usa_card_header_formatted.value %}
    {% set abody = paragraph.field_usa_body.value %}

    <div class="usa-alert usa-alert--{{ atype }} usa-alert--{{ asize }} clearfix samhsa " >
      <div class="usa-alert__body">
        <div class="usa-alert__heading">{{ aheader|raw }}</div>
        <div class="usa-alert__text">{{ abody|raw }}</div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock paragraph %}
