// PARAGRAPHS

//==========================================================================
// INDEX
//------- 1. BASIC BLOCK ----------
//------- 1. MULTIPLE COLUMNS ----------
//------- ACCORDION ----------
//------- ALERT MESSAGES ----------
//==========================================================================

//------- BASIC LAYOUT ----------
/* BASIC PARAGRAPH NODE */
article.node--type-paragraphs {
  margin-bottom: 20px;
}

/* STYLEGUIDE Dropdown Button */
.dropbtn {
  background-color: $success;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $mist;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  height: 150px;
  overflow: scroll;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $silver;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $steel;
}

//------- PARAGRAPHS GENERAL (paragraph) ----------
.paragraph {

}

//------- 1. BASIC BLOCK (paragraph--type--header-body) ----------
div.paragraph--type--header-body {
  margin: 20px 0 0 0;

  div.hb_thumbnail {
    width: 100%;

    div.field--name-field-thumbnail-left {
      height: 100px;
      width: 100px;
      display: flex;
      margin: 0 auto;

      img {
        object-fit: cover;
      }
    }
  }

  div.hb_mainwrapper {
    div.field--name-field-button {
      margin: 20px 0;

      a {
        text-decoration: none;
      }
    }

    // BUTTONS
    .btn {
      font-size: 16px;
      line-height: 20px;
      font-weight: $weight-regular;
      cursor: pointer;
      padding: 15px 20px;
      margin: 5px;
      text-decoration: none;

      svg {
        color: $white;
      }
    }

    .primary-button-1 {
      background-color: $teal;
      color: $white;
      border: none;
    }

    .primary-button-1:hover {
      background-color: $steel;
    }

    .primary-button-2 {
      background-color: $midnight;
      color: $white;
      border: none;
    }

    .primary-button-2:hover {
      background-color: $charcoal;
    }

    .secondary-button-1 {
      background-color: $white;
      color: $teal;
      border: solid 1px $teal;
    }

    .secondary-button-1:hover {
      color: $steel;
      border: solid 1px $steel;
    }

    .secondary-button-2 {
      background-color: $white;
      color: $midnight;
      border: solid 1px $midnight;
    }

    .secondary-button-2:hover {
      color: $charcoal;
      border: solid 1px $charcoal;
    }

    .inverted-button-1 {
      background-color: $teal;
      color: $white;
      border: solid 1px $white;
    }

    .inverted-button-1:hover {
      color: $teal;
      background-color: $white;
    }

    .inverted-button-2 {
      background-color: $midnight;
      color: $white;
      border: solid 1px $white;
    }

    .inverted-button-2:hover {
      color: $charcoal;
      background-color: $white;
    }

    .cancel-button {
      background-color: $crimson;
      color: $white;
      border: solid 1px $white;
    }

    .cancel-button:hover {
      color: $white;
      background-color: $ruby;
    }

    .disabled-button {
      background-color: $mist;
      color: $charcoal;
      border: solid 1px $white;
    }
  }
}

div.paragraph--type--header-body.left {
  div.hb_thumbnail {
    float: left;
    width: 100px;
  }

  div.hb_mainwrapper {
    float: right;
    width: calc(100% - 120px);

    .bb-h {
      margin: 10px 0;
    }
  }
}

div.paragraph--type--header-body.right {
  div.hb_thumbnail {
    float: right;
    width: 100px;
  }

  div.hb_mainwrapper {
    width: calc(100% - 150px);

    .bb-h {
      margin: 10px 0;
    }
  }
}

div.paragraph--type--header-body.Card {
  border: 1px solid $charcoal;
  border-radius: 5px;

  div.hb_thumbnail {
    margin: 0;

    div.field--name-field-thumbnail-left {
      height: 150px;
      width: 100%;

      img {

      }
    }
  }

  div.hb_mainwrapper {
    padding: 0 20px 10px 20px;

    .field--name-field-button {
      text-align: center;
    }
  }
}

div.paragraph--type--header-body.Flag {
  border: 1px solid $charcoal;
  border-radius: 5px;
  display: flex;

  div.hb_thumbnail {
    margin: 0;
    width: 150px;
    height: 190px;
    flex-grow: 1;

    div.field--name-field-thumbnail-left {
      height: 100%;
      width: 100%;

      img {

      }
    }
  }

  div.hb_mainwrapper {
    padding: 0 20px 10px 20px;

    .field--name-field-header {
      .bb-h {
        margin: 10px 0;
      }
    }

    .field--name-field-button {
      text-align: center;
    }
  }
}

div.paragraph--type--header-body.Flag.right {
  div.hb_thumbnail {
    order: 2;

    div.field--name-field-thumbnail-left {
      img {
      }
    }
  }

  div.hb_mainwrapper {
    order: 1;

    .field--name-field-header {
      .bb-h {
      }
    }

    .field--name-field-header-body:after {
      display: none;
    }

    .field--name-field-button {
      margin: 20px 0;
      text-align: center;
    }
  }
}

//------- 1. MULTIPLE COLUMNS (paragraph--type--multiple-columns) ----------
div.paragraph--type--multiple-columns {
  div.field--name-field-paragraph-types {
    display: flex;
  }

  div.field--name-field-paragraph-types > div.field__item {
    border-radius: 5px;
    background: none;
    box-shadow: 0 0 0 0;
    float: left;
    padding: 10px 20px;
    margin: 5px;
    flex: 1;
  }

  div.paragraph--type--header-body {
    margin: 0 !important;
  }

  div.paragraph--type--alert,
  div.alert-message-wrapper {
    margin: 0 !important;
  }
}

div.paragraph--type--multiple-columns.two-column {
  div.field--name-field-paragraph-types > div.field__item {
    width: calc(50% - 10px);
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    div.field--name-field-paragraph-types {
      display: block;
    }
    div.field--name-field-paragraph-types > div.field__item {
      float: none;
      width: 100%;
    }
  }
}

div.paragraph--type--multiple-columns.three-column {
  div.field--name-field-paragraph-types > div.field__item {
    width: calc(33.3% - 10px);
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    div.field--name-field-paragraph-types {
      display: block;
    }
    div.field--name-field-paragraph-types > div.field__item {
      float: none;
      width: 100%;
    }
  }
}

div.paragraph--type--multiple-columns.four-column {
  div.field--name-field-paragraph-types > div.field__item {
    width: calc(25% - 10px);
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    div.field--name-field-paragraph-types {
      display: block;
    }
    div.field--name-field-paragraph-types > div.field__item {
      float: none;
      width: 100%;
    }
  }
}

div.paragraph--type--multiple-columns.five-column {
  div.field--name-field-paragraph-types > div.field__item {
    width: calc(20% - 10px);
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    div.field--name-field-paragraph-types {
      display: block;
    }
    div.field--name-field-paragraph-types > div.field__item {
      float: none;
      width: 100%;
    }
  }
}

div.paragraph--type--multiple-columns.six-column {
  div.field--name-field-paragraph-types > div.field__item {
    width: calc(16.5% - 10px);
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    div.field--name-field-paragraph-types {
      display: block;
    }
    div.field--name-field-paragraph-types > div.field__item {
      float: none;
      width: 100%;
    }
  }
}

//------- ACCORDION (paragraph--type--accordion OR paragraph--type--accordion-multiple) ----------
div.paragraph--type--accordion-group {
  margin: 0 0 20px 0;

  .field__item:first-child {
    .paragraph--type--header-body {
      margin: 10px 0 0 0;
    }
  }

  .field__item {
    .paragraph--type--header-body {
      margin: 25px 0 0 0;
    }
  }
}

div.paragraph--type--accordion {
  margin: 0 25px;

  div.accordion-header {
    .accordion-h {
      cursor: pointer;
      margin: 0 10px;
      padding: 20px 40px 20px 0;
      position: relative;
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;

      svg {
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 40%;
      }
    }
  }

  div.accordion-panel {
    padding: 20px;
  }
}

div.paragraph--type--accordion.open {
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px;
  margin: 20px 0 0 0;
  padding: 0 20px;

  div.accordion-header {
    border-bottom: 1px solid $cerulean;

    svg {

    }
  }

  div.accordion-panel {
    display: block;
  }
}

div.paragraph--type--accordion.closed {
  div.accordion-header {
    border-bottom: 1px solid $teal;

    svg {

    }
  }

  div.accordion-panel {
    display: none;
  }
}

//------- ALERT MESSAGES ----------
// ALERT MESSAGES FORM (alert-message-form-wrapper)
div.alert-message-form-wrapper .alert-h span.ui-accordion-header-icon {
  float: left;
  margin-top: 0;
}

// ALERT MESSAGES DISPLAY (paragraph--type--alert)
div.paragraph--type--alert {
  margin: 20px 0 0 0;

  div.alert-message-wrapper {
    background: $mist;
    border-left: 10px solid $black;
    margin: 20px 0 0 0;
    padding: 20px;

    div.alert-large-left {
      color: $black;
      float: left;
    }

    div.alert-large-right {
      float: left;
      width: calc(100% - 60px);

      .alert-h {
        margin: 0 0 10px 0;
        font-size: 18px;
        font-weight: $weight-bold;
      }
    }
  }

  div.alert-message-wrapper.small {
    div.alert-h {
      display: none;
    }

    div.alert-large-left {
      font-size: 25px;
      width: 50px;
    }
  }

  div.alert-message-wrapper.large {
    div.alert-large-left {
      font-size: 35px;
      width: 60px;
    }
  }

  div.alert-message-wrapper.error {
    background: $crimson-20;
    border-left: 10px solid $ruby;
  }

  div.alert-message-wrapper.info {
    background: $teal-20;
    border-left: 10px solid $cerulean;
  }

  div.alert-message-wrapper.success {
    background: $teal-20;
    border-left: 10px solid $success;
  }
}
