//Removed 'homepage' from the title of this file since the homepage isn't actually specified.
//Styling herein will alter this block regardless of where it is displayed.
//CDH - 20210219

// SAMHSA at Glance home block.
#block-samhsa-uswds-base-samhsaataglanceblock,
#block-uswds-samhsa-main-samhsaataglanceblock {
  border-radius: 20px;
  background-color: $white;
  margin-top: 20px;
  @include breakpoint($break-tablet-landscape) {
    box-shadow: 0 25px 50px 0 rgba(23, 41, 57, 0.08);
  }

  h1 {
    display: flex;

    &:after {
      content: "";
      border-bottom: none;
    }
  }

  ul.glance-items {
    margin: 0 10px 0 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    li.glance-item {
      @include breakpoint($break-tablet-landscape) {
        flex-basis: 19%;
      }

      a {
        text-decoration: none;
      }

      h3.glance-item-title {
        margin: 0 0 .25em;
        font-weight: normal;
      }

    }
  }

  .glance-item-image {
    float: left;
    width: 182px;
    margin-right: 10px;
    @include breakpoint($break-tablet-landscape) {
      float: none;
      width: 100%;
    }

    img {
      border-radius: 20px;
    }

  }

  .glance-item-content {
    p a {
      color: $steel;
    }
  }
}
