// Landing pages blocks in two column layout.
// Block groups for landing pages.
.cr-landing-block {
  width: 100%;
  margin-bottom: 15px;
  background-color: $white;

  .samhsa-block-title h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $teal;
    padding: 7px 15px;
    color: $white;

    a {
      display: block;
      color: $white;
      text-decoration: none;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }

      span.ext {
        display: none;
      }
    }
  }

  .field--name-body {
    padding: 10px 15px;
    border: 1px solid $teal;

    ul {
      list-style-type: none;
      margin: 0 0 1.5em 0.25em;

      li {
        padding: 0.25em 1em;
        text-indent: -1em;
        margin-left: 10px;

        &:before {
          content: "\0BB \020";
        }
      }
    }
  }
}

// View blocks - newsroom blocks styles.
//=========================================
.cr-landing-block.landing-view-block {
  border: 1px solid $teal;

  .view-content {
    padding: 5px 15px;
  }

  .views-field-field-release-date,
  p.news-date {
    font-weight: bold;
    margin-top: 10px;
  }

  .view-footer {
    margin: 0 0 15px 15px;
    clear: both;
  }
}

// EBP Featured resources view block.
//========================================
#block-views-block-ebrp-featured-resources-block-1 {
  .views-col.col-1 {
    padding-right: 7px;
  }

  .views-col.col-2 {
    padding-left: 7px;
  }
}

.two-col-layout {
  .view-content {
    column-count: 2;
  }

  @include breakpoint($break-tablet-portrait) {
    .views-row {
      margin-right: 2%;
    }
  }
}

// Language Toggle blocks.
.block-views-blocklanguage-toggle--block-1 {
  margin-bottom: 20px;
}

// Leadership and Regional Administrators Block.
#block-views-block-leadership-regional-administrators {
  clear: both;
}

// Map defined by samhsa_grants_map_master/src/Plugin/Block/SamhsaMapUs.php.
.grants-map-fy-title {
  width: 100%;
  text-align: center;
}
