//Featured block styles
.featured {
  .field--type-image {
    width: 100%;
    background-color: $teal;

    @include breakpoint($break-tablet-landscape) {
      width: 65%;
      height: 260px;
      float: right;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .featured-content {
    padding: 30px;
    background-color: $teal;
    color: $white;
    width: 100%;

    @include breakpoint($break-tablet-landscape) {
      width: 35%;
      height: 260px;
      float: left;
      img {
        max-height: 260px;
      }
    }

    h2 {
      margin: 0 0 10px 0;
      color: $white;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
    }

    span.ext {
      display: none;
    }

    .field--type-link a {
      border: 1px solid $white;
      display: inline-block;
      padding: 15px 20px;
      margin-top: 10px;
      text-decoration: none;
      background-color: darken($teal, 2%);
      color: $white;

      &:hover,
      &:focus {
        background-color: $white;
        color: $teal;
      }
    }
  }
}
