.cr-landing-block .block-content {
  width: 100%;
  margin-bottom: 15px;
  background-color: white;

  .samhsa-block-title h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: $teal;
    padding: 7px 15px;
    color: white;

    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }

      span.ext {
        display: none;
      }
    }
  }

  .padding-y-1 {
    p {
      padding: 10px 15px;
      border: 1px solid teal;
    }

    ul {
      list-style-type: none;
      margin: 0 0 1.5em 0.25em;

      li {
        padding: 0.25em 1em;
        text-indent: -1em;
        margin-left: 10px;

        &:before {
          content: "\0BB \020";
        }
      }
    }
  }
}
