//Removed 'homepage' from the title of this file since the homepage isn't actually specified.
//Styling herein will alter this block regardless of where it is displayed.
//CDH - 20210219

// Offices and centers block styles.
#block-uswds-samhsa-main-officesandcentershomepageblock {
  margin-bottom: 30px;

  ul.centers-offices-items {
    margin: 0 2% 0 0;
    list-style: none;
    float: left;

    @include breakpoint($break-tablet-portrait) {
      width: 48%;
    }

    h3.centers-offices-item-title {
      margin: 1em 0 .5em;
      font-weight: normal;

      a {
        text-decoration: none;
      }
    }

    p {
      margin: 0;
    }
  }
}
