/*** TS - Grant Reviewer Form Stylings related to latest design updates 3/10/20 ***/
.alias-grants-review-grant-reviewer-application {
  p, label, .description, .webform-element-description {
    font-size: 15px;
  }

  label {
    font-weight: normal;
    color: black;
  }

  hr {
    border-bottom: 2px solid $fog !important;
  }

  fieldset {
    border: none;
    padding: 0;
    margin-top: 3em;
    margin-bottom: 1em;

    legend {
      font-size: 140%;
      padding-bottom: 0;
      font-weight: bold;
      color: $sapphire;
    }

    fieldset {
      margin: 0;

      legend {
        padding-top: 1em;
        font-size: 15px;
        font-weight: bold;
        color: black;
        margin: 0;
      }
    }

    .checkboxes--wrapper legend {
      padding: 0;
    }

    .description, .webform-element-description {
      margin-top: 5px;
      margin-bottom: 15px;
    }
  }

  .required-asterisk {
    color: $ruby;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
  }

  .form-required:after {
    width: 8px;
    height: 8px;
    background-size: 8px 8px;
    background-image: url(../../images/a22c2a/required.svg);
  }

  input[type=text], input[type=email] {
    width: 450px;
    height: 30px;
  }

  .state-zip-wrapper {
    margin: 0;

    legend {
      display: none;
    }

    .fieldset-wrapper {

      .form-item-state .form-select {
        width: 450px;
      }
    }

    .form-item-zip-code {
      label {
        margin-top: 1em;
      }
    }
  }

  .form-item-license label {
    font-weight: bold;
    margin-top: 1em;
  }

  #edit-race--wrapper legend {
    padding-top: 1em;
  }

  textarea {
    width: 100% !important;
    height: 276px;
  }

  .form-submit {
    margin: 0 25px 0 0;
    background: $teal;
    border: none;
    color: white;
    width: 123px;
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      border: none;
    }
  }

  .form-reset {
    margin: 0;
    background: $white;
    color: $teal;
    text-decoration: underline;
    border: none;
    padding: 0;

    &:hover {
      color: $teal;
      border: none;
      background: none;
      font-weight: bold;
    }
  }

  #edit-actions, #edit-reset {
    display: inline;
  }
}
