//... HOMEPAGE SAMHSA SOPTLIGHT ...//
.path-frontpage .content-inner-regions h2 a:link {
  text-decoration: none;
  margin: 0;
}

.homepage-spotlight-quickblock {
  .contextual {
    .focusable {
      display: none;
    }
  }
}

// we can combine all the homepage titles under ".home-block " class
.samhsa-spotlight .samhsa-block-title {
  h1 {
    display: flex;

    &:after {
      content: "";
      border-bottom: none;
    }

    .home-h1-line {
      @include breakpoint($break-tablet-landscape) {
        flex-grow: 1;
        height: 5px;
        margin: auto 0 auto 32px;
        background: $mist;
      }
    }
  }
}

.samhsa-spotlight-wrapper {
  background: linear-gradient(0.5turn, $mist, $white, $mist);
  border-radius: 20px;
  opacity: 1;
  -webkit-box-shadow: 0 25px 50px 0 rgba(23, 41, 57, 0.08);
  box-shadow: 0 25px 50px 0 rgba(23, 41, 57, 0.08);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include breakpoint($break-tablet-landscape) {
    margin-left: 0;
    margin-right: 0;
  }

  .boxes, .box-detail {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .box {
    position: relative;
    padding-bottom: 30px;

    .media {
      .box-img {
        border-radius: 50%;

        img {
          border-radius: 50%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }
    }
  }

  .spotlight-first.boxes {
    margin: 0;
    padding: 23px 23px 0;

    .box {
      flex: auto;
      padding-bottom: 0;

      .media {
        flex: auto;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .box-img {
          width: 253px;

          img {
            box-shadow: 0px 17px 10px 0px rgba(0, 0, 0, 0.18);
          }
        }

        @include breakpoint($break-tablet-portrait) {
          margin-bottom: 0;
          flex: 1;
        }
      }

      .box-summary {
        flex: auto;
        margin-top: 20px;
        @include breakpoint($break-tablet-portrait) {
          margin-top: 0;
          flex: 3;
          padding-left: 40px;
        }
        @include breakpoint($break-tablet-landscape) {
          padding-top: 38px;
          padding-bottom: 42px;
        }

        h2.box-heading {
          font-size: 42px !important;
          color: $sapphire;
        }

        .box-body {
          padding-right: 0;
          @include breakpoint($break-tablet-landscape) {
            padding-right: 60px;
          }
        }
      }
    }
  }

  .spotlight-second.boxes {
    margin: 0;
    padding: 23px 23px 0 23px;

    .box {
      flex: auto;
      padding-bottom: 15px;
      @include breakpoint($break-tablet-landscape) {
        flex: 0 1 32%;
        padding-bottom: 0;
      }

      .media {
        // flex: 0 0 14%;
        display: flex;

        .box-img {
          width: 106px;
          @include breakpoint($break-mobile-landscape) {
            width: 106px;
          }
        }
      }

      .box-summary {
        width: calc(100% - 106px);
        padding-left: 15px;
        padding-bottom: 15px;

        .box-heading {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
