{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - heading_id: Pagination heading ID.
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
  <nav class="pager" role="navigation" aria-labelledby="{{ heading_id }}">
    <ul class="pager__items js-pager__items">
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          {# Link will always be rendered, only thing that chages is whether or not link is disabled or not #}
          <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-disabled="true" aria-hidden="true">{{ '‹ Previous'|t }}</span>
          </a>
        </li>
      {% endif %}

      {# Print first item if we are not on the first page. Ensures that link to first page doesn't repeat by loading it only when ellipses present #}
      {% if items.first and ellipses.previous %}
        <li class="pager__item pager__item--first">
          <a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}"{{ items.first.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'First page'|t }}</span>
            <span aria-hidden="true">{{ '1'|t }}</span>
          </a>
        </li>
      {% endif %}

      {% for key, item in items.pages %}

        {# Add an ellipsis if there are further previous pages. Prevents ellipses from loading if first page link and current page items are consecutive #}
        {% if loop.first and key - 1 != 1 and ellipses.previous %}
          <li class="pager__item pager__item--ellipsis" role="presentation"><span>&hellip;</span></li>
        {% endif %}

        {# Now generate the actual pager piece. #}
        <li class="pager__item{{ current == key ? ' is-active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
            <span class="visually-hidden">
              {{ current == key ? 'Current page'|t : 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>

        {# Add an ellipsis if there are further next pages. Prevents ellipses from loading if current page items and last page link are consecutive #}
        {% if loop.last and key + 1 != pager_max and ellipses.next %}
          <li class="pager__item pager__item--ellipsis" role="presentation"><span>&hellip;</span></li>
        {% endif %}

      {% endfor %}

      {# Print last item if we are not on the last page. Ensures that link to last page doesn't repeat by loading it only when ellipses present #}
      {% if items.last and ellipses.next %}
        <li class="pager__item pager__item--last">
          <a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}"{{ items.last.attributes|without('href', 'title') }}>
            <span class="visually-hidden">{{ 'Last page'|t }}</span>
            <span aria-hidden="true">{{ pager_max }}</span> {# pager_max variabled passed in through theme_preprocess_pager hook #}
          </a>
        </li>
      {% endif %}
          
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          {# Link will always be rendered, only thing that chages is whether or not link is disabled or not #}
          <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-disabled="true" aria-hidden="true">{{ 'Next ›'|t }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}