//Landing pages blocks in two column layout
//block groups for landing pages
//======================================

@include breakpoint($break-tablet-landscape) {
  .landing-group {
    &.left-col {
      @include grid-span(6, 1);
    }

    &.right-col {
      @include grid-span(6, 7);
    }
  }
}

//blocks with banners and single banners
//========================================

.banner-block {
  img {
    width: 100%;
    margin-bottom: -5px;
  }
}

// Start Home blocks - get help.
//==============================

// @include breakpoint($break-mobile) {
//   .get-help ul.get-help-list li {
//     flex-basis: 100%;
//     margin-right: 0;
//   }
// }
.get-help {
  box-shadow: 0 25px 50px 0 rgba(23, 41, 57, 0.08);
  margin-top: 20px;
  border-radius: 20px;

  h1 {
    display: flex;

    &:after {
      content: "";
      border-bottom: none;
    }
  }

  ul.get-help-list {
    flex-wrap: wrap;
    list-style: none;
    padding-top: 0;
    display: flex;
    margin: 0;

    @include breakpoint($break-tablet-landscape) {
      display: flex;
      flex-flow: row nowrap;
      padding-bottom: 1.5rem;
    }

    li:last-child {
      margin-right: 0;
      border-right: none;
      border-bottom: none;
    }

    li {
      flex-basis: 100%;
      margin-right: 0;
      padding: .7rem 1rem 0 1rem;
      border-right: none;
      border-bottom: 1px solid $silver;
      padding-bottom: 20px;

      @include breakpoint($break-tablet-landscape) {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 25%;
        flex-direction: column;
        border-right: 1px solid $silver;
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 0;
      }

      p {
        margin-top: 5px;
      }

      a {
        text-decoration: none;
      }

      h3 {
        text-decoration: none !important;
        margin: 0 0 7px;
      }

      .helpline-phone {
        background-color: $teal;
        display: block;
        padding: .95rem;
        text-align: center;
        margin-top: auto;
        margin-bottom: 0;

        a {
          color: $white;
          text-align: center;
          // display: block;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
            background-color: $steel;
            display: block;
            text-align: center;

            a {
              color: $white;
              text-align: center;
              text-decoration: none;
              display: block;
            }

      }

        h3 {
          a {
            font-weight: $weight-bold;
            color: $sapphire;
            text-decoration: underline;
          }
        }
      }
    }


  }

  .fix-height {
    display: block;
  }
}

// end get-help

// H1 Grey bar
.home-h1-line {
  @include breakpoint($break-tablet-landscape) {
    flex-grow: 1;
    height: 5px;
    margin: auto 0 auto 32px;
    background: $mist;
  }
}

// View blocks - newsroom blocks styles.
//=========================================
.cr-landing-block.landing-view-block {
  border: 1px solid $teal;

  .view-content {
    padding: 5px 15px;
  }

  .views-field-field-release-date,
  p.news-date {
    font-weight: bold;
    margin-top: 10px;
  }

  .view-footer {
    margin: 0 0 15px 15px;
    clear: both;
  }
}

// EBP Featured resources view block.
//========================================
#block-views-block-ebrp-featured-resources-block-1 {
  .views-col.col-1 {
    padding-right: 7px;
  }

  .views-col.col-2 {
    padding-left: 7px;
  }
}

// Category and year navigation blocks featured on /blog* pages
//========================================
#block-blogsbyyearblock, #block-views-block-term-counts-block-1 {
  li {
    margin-left: 0;
  }

  h2 {
    border-bottom: solid 1px $border-color-line;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }
}

.two-col-layout {
  .view-content {
    column-count: 2;
  }

  @include breakpoint($break-tablet-portrait) {
    .views-row {
      margin-right: 2%;
    }
  }
}

// Offices and centers block styles.
// #block-officesandcentershomepageblock
#block-samhsa-uswds-base-officesandcentershomepageblock {
  margin-bottom: 30px;
  background-image: url('../../images/humanmap.png');
  background-repeat: no-repeat;
  background-position-y: 102px;
  background-position-x: 80%;
  background-size: cover;
  
  
  @include breakpoint($break-tablet-landscape) {
    background-size: 69%;
    background-position-x: 102%;
  }



  h1 {
    display: flex;

    &:after {
      content: "";
      border-bottom: none;
    }
  }

  h2 {
    margin: 0 0 15px 20px;

    a {
      text-decoration: none;
    }

    &:after {
      border: none;
    }
  }

}

// Language Toggle blocks.
.block-views-blocklanguage-toggle--block-1 {
  margin-bottom: 20px;
}

// Leadership and Regional Administrators Block.
#block-views-block-leadership-regional-administrators {
  clear: both;
}

// Map defined by samhsa_grants_map_master/src/Plugin/Block/SamhsaMapUs.php.
.grants-map-fy-title {
  width: 100%;
  text-align: center;
}

// HOME PAGE RED ALERT
div.alert-home-wrapper {
  background: $ruby;
  color: $white;
  padding: 8px;

  div.alert-home-right {
    display: flex;
    float: left;
    width: 100%;

    svg.fa-exclamation-circle {
      font-size: 20px;
      width: 20px;
      color: $white;
      float: left;
      margin-right: 10px;
    }

    .alert-h {
      color: $white;
      margin: 0 0 10px 0;
    }

    p {
      margin: 0;
      word-break: break-word;
    }

    a {
      color: $white;
    }
  }
}

.path-frontpage #content-outer-wrapper h2 {
  font-size: 16px;
}

.path-frontpage .content-inner-regions h1 {
  font-size: 48px;
  color: $teal;
  margin-left: 10px;
  margin-bottom: 1.5rem;
}

//Hiding the program banner as it is displayed using a block
//instead of the template.

.program-banner {
  display: none;
}
