form#views-exposed-form-bup-practitioner-address-view-page-1 {
  display: flex;
}

#views-exposed-form-bup-practitioner-locator-view-page-1,
#views-exposed-form-bup-practitioner-address-view-page-1 {
  // Remove border, legend, and excess space from fieldset.
  fieldset {
    border: none;
    margin: 0;
    padding: 0;
    float: none;

    legend {
      display: none;
    }
  }

  fieldset#edit-field-bup-lat-lon-proximity .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .form-item-field-bup-lat-lon-proximity-value {
      order: 2;
    }
  }
  
  .form-item-field-bup-lat-lon-proximity-value,
  .form-item-field-bup-city-value,
  .form-item-field-bup-state-value,
  #edit-field-bup-lat-lon-proximity-source-configuration {
    width: 80%;
    display: block;
    @include breakpoint($break-tablet-portrait) {
      width: 47%;
      display: inline-block;
      float: left;
    }
    .form--inline .form-item {
      float: none;
    }
    .form-item-field-bup-lat-lon-proximity-source-configuration-origin-address {
      width: 100%;
    }
  }

  .form-item-field-bup-state-value,
  .edit-field-bup-lat-lon-proximity-source-configuration {
    margin-right: 0;
    float: none;
  }
  // Space input and select fields equally.
  input, select {
    width: 100%;
  }

  // Size the submit/reset buttons.
  input#edit-submit-bup-practitioner-locator-view,
  input#edit-submit-bup-practitioner-address-view,
  input#edit-reset {
    width: 65px;
  }

  .description {
    display: none;
  }

  // Error handling styles.
  div.invalidOrigin {
    input {
      border: 1px solid $crimson;
      color: $crimson;
    }

    .description {
      display: block;
      color: $crimson;
    }
  }

  .invalidCity {
    border: 1px solid $crimson;
    color: $crimson;
  }

  .field-suffix {
    color: $crimson;
    font-size: 0.85em;
  }
}
