.node--type-resource {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  .resource_image {
    display: none;

    @include breakpoint($break-tablet-portrait) {
      display: block;
//    width: 38%;
//    Reverting the changes in feature/SAMHSAWCM-8588-resource-thumbnail
      width: 40%;
      float: left;
      margin-right: 2rem;
//    background: linear-gradient(0deg, $silver 0%, $mist 100%);
//    padding: 14px 25px;
//    Reverting the changes in feature/SAMHSAWCM-8588-resource-thumbnail
    }
  }

  .resources_img {
    border: 1px solid $silver;
    box-shadow: rgba(152, 152, 152, 0.25) 0 0 20px 0;
  }

  .resource_image-empty {
    display: none;
  }

  .resource_image-empty + .right_content {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .right_content {
    @include breakpoint($break-tablet-portrait) {
      padding-top: 0;
      width: 55%;
      float: left;
    }

    .resource-link, .resource-agency, .summary-body {
      padding-bottom: 15px;
    }

    .product-page--block.product-page--download {
      .download-link-size {
        padding-left: 5px;
      }
    }
  }

  .other-resources {
    clear: both;
    padding-top: 20px;
  }

  .resource-btn-tags {
    padding-top: 5px;
    padding-bottom: 20px;

    .usa-tag.samhsa-tag {
      background-color: $mist;
      border: 1px solid $smoke;
      border-radius: .3rem;
      font-size: $base-font-size;
      cursor: pointer;
      color: $black;
      margin: 6px 3px;
      text-decoration: none;
      text-transform: none;
      white-space: pre-line;

      &:hover {
        background: $white;
        border: 1px solid $smoke;
        text-decoration: none;
      }
    }
  }
}

//IE11 whitespace fix
article.node--type-resource {
  display: block;
}

// USWDS style addition
.resource-agency {
  .field__label {
    font-weight: bold;
  }
}
