//Webforms styles
span.red {
  color: red;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  float: left;
}

.webform-submission-form {
  .ui-datepicker-trigger {
    display: none;
  }

  select,
  .select2-container--default .select2-selection--single,
  .select2-selection.select2-selection--single {
    background-color: $white;
    border: 1px solid $smoke;
    border-radius: 0;
    height: 32px;
  }
}

@include breakpoint($break-tablet-portrait) {
  .webform-submission-form {
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=url],
    select,
    .form-item-state,
    .form-item-states,
    textarea,
    .form-textarea,
    .form-type-textfield,
    .webform-element-description {
      width: 350px;
    }

    #edit-event-date-date,
    .form-text.required.hasDatepicker,
    .form-text.hasDatepicker {
      width: 128px;
    }

    .title-red > legend span.fieldset-legend {
      font-size: 125%;
      color: $crimson;

    }
  }
}

//Grant reviewer application form style
//=======================================
hr.webform-horizontal-rule {
  margin: 2em 0;
  border-bottom: 2px solid $ruby;
}

form#samhsa-physician-search-form {
  .chosen-with-drop {
    height: 300px;
  }

  .chosen-with-drop .chosen-drop {
    top: 0;
    height: 280px;
  }
}
