//Main content lists
//--------------------------------------
.region--content,
.cke_editable_themed {
  ul, ol {
    margin: 0 0 $base-spacing 1.25em;
    list-style: inherit;

    @include breakpoint($break-tablet-landscape) {
      margin-left: 40px;
    }

    ul, ol {
      margin-top: 0.5em;
    }
  }

  ul {
    list-style: disc;

    ul {
      list-style: circle;

      ul {
        list-style: square;
      }
    }
  }

  ol {
    list-style: decimal;

    ol {
      list-style: lower-alpha;

      ol {
        list-style: lower-roman;
      }
    }
  }

  li {
    margin-bottom: 0.5em;
    display: list-item;
    list-style: inherit;
  }
}

//Pager
//--------------------------------------
.region--content .pager ul {
  margin: $base-spacing 0;
  list-style: none;
  display: block;
  text-align: left;

  li {
    display: inline-block;
    margin: 0 0 0 0.25em;
    padding: 0;

    &:nth-child(1) {
      margin-left: 0;
    }
  }
}

//admin tabs
//---------------------------------
ul.tabs.primary li {
  display: inline-block;
}
