//images
@include breakpoint($break-tablet-portrait) {
  img.right {
    margin: 0 0 15px 15px;
    float: right;
  }
}

//a.ext fontawesome icon
[data-extlink] > i.fa-external-link-alt {
  color: $sapphire;
  display: none;
  font-size: 1.4rem;
  padding-left: 3px;
  vertical-align: middle;
}

span.exitDisclaimer {
  font-size: 95%;
  font-weight: $weight-bold;

  i,
  svg {
    fill: $sapphire;
  }

  a {
    border-bottom: none !important;
  }
}

.side-menu {
  a {
    a {
      color: $sapphire;
      font-size: .95em;
      font-weight: $weight-bold;
      padding: 0;
      margin-left: -3px;
    }
  }
}

[data-extlink] > i.fa-external-link-alt:nth-child(2) {
  display: inline;
}

svg.ext {
  width: 18px;
  height: 18px;
  fill: $sapphire;
  margin: 0 0 0 2px;
  display: none;
}

svg.fa-external-link-alt {
  font-size: 1.4rem;
  margin: 0 0 0 4px;
}

//summary styles
section.summary {
  margin-bottom: 20px;
  color: $base-font-color;
}

//Grants details
.node--type-rfa.node--view-mode-full {
  .field__item {
    margin-top: 14px;
  }

  .field--name-field-announcement-state {
    border-bottom: 1px black solid;
    width: 100%;
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-style: italic;
  }

  fieldset {
    border: none;
    padding: 0;
    margin: 10px 0;

    legend {
      border: 0;
      padding: 0;

      span.fieldset-legend {
        font-weight: bold;
        font-size: 112.5%;
        color: $crimson;
        padding-top: 15px;
      }
    }

    //legend
    fieldset {
      //margin-left: 15px;
      legend {
        margin-bottom: 0;

        span.fieldset-legend {
          font-size: 105%;
          color: $black;
        }
      }
    }
  }
}

//Find Treament page - two column layout
//.find-tretment added in the template

.find-treatment {
  @include breakpoint($break-tablet-portrait) {
    .left {
      width: 48%;
      float: left;
      margin-left: 0;
      margin-right: 2%;
    }

    .right {
      width: 48%;
      float: left;
      margin-right: 0;
      margin-left: 0;

    }
  }
}

//Budget Content Type
article.node--type-budget {
  margin-bottom: 14px;

  .field__label {
    margin-top: 14px;
  }

  .field__item {
    margin-top: 14px;
  }
}

article.node--type-meeting {
  .field {
    font-size: 15px;
    margin-top: 14px;
    overflow: auto;
  }

  .field--name-field-meeting-date {
    display: inline-flex;
    margin-top: 28px;
  }

  .field--name-field-meeting-date-end {
    display: inline-flex;
    margin-top: 28px;
  }

  .field--name-field-meeting-date-end:before {
    content: "to";
    margin: 0 10px 0 0;
  }

  @include breakpoint(max-width $break-tablet-landscape - 1) {
    .field--name-field-meeting-date {
      float: none;
      margin-top: 10px;
      width: 100%;
    }
    .field--name-field-meeting-date-end {
      float: none;
      margin-top: 10px;
      width: 100%;
    }
  }

  .field.field--name-field-related-documents {
    .field__items {
      .field__item {
        margin-top: 14px;
      }

      .field__item:first-child {
        margin-top: 0;
      }
    }
  }

  .field::after {
    content: "";
    clear: both;
    display: table;
  }
}

article.node--type-news div.field--type-datetime {
  margin-bottom: 20px;
}

.file--application-pdf {
  background-image: none !important;
  padding-left: 0 !important;
}
