// Styling for USA Jobs Listings
#usa_job_page {

  .usa_job_count, .usa_job_no_results {
    font-weight: $weight-bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .usa_job_listing {
    background: $mist;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;

    .usa_job_left, .usa_job_right {
      padding-top: 10px;
    }

    ul {
      margin-bottom: 0;
    }


    li {
      list-style: none;
      margin: 0;
    }

    .fa, .svg-inline--fa {
      color: $teal;
      font-size: 1.4em;
      margin-right: 5px;
      width: 1em;
    }

    .usa_job_title {
      a {
        text-decoration: none;
      }

    }

    .usa_job_id {

    }

    .usa_job_location {

    }

    .usa_job_categories {

    }

    .usa_job_salary {

    }

    .usa_jobs_type {

    }

    .usa_job_hiring_path {

    }

    .usa_job_open_between {

    }
  }
}
