//Styles for Infographic View Page
//===================================

// SAMHSAWCM-9480 - Reduce unnecessary space between blocks
// on various grants pages like /grants/awards
.view-id-grant_awards_new, .view-id-grants {
  form {
    margin: 0;
  }

  .view-filters {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;

    #edit-actions {
      margin: 0;
    }
  }
}

.view-infographic-view {
  h4 {
    margin: 0.75em 0 0.75em;
  }

  .embed-code {
    background-color: $cerulean-20;
    padding: 10px;
    font-size: 13px;
    font-family: monospace;
    color: $black;
    word-wrap: break-word;

    h5 {
      margin: 0.5em 0 0.5em;
      font-size: $base-font-size;
    }
  }

  //embed-code
  .views-view-table {
    @include breakpoint(max-width $break-tablet-portrait -1) {
      display: block;
    }

    tbody, tr, td {
      @include breakpoint(max-width $break-tablet-portrait -1) {
        display: block;
      }
    }
  }

  //.views-view-table
  .pager ul {
    text-align: center;

    a {
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//colorbox caption styles
#cboxTitle {
  left: 0;
  height: 38px;
  color: $charcoal;
  padding: 0 20px 10px 15px;
  display: table-cell !important;
  vertical-align: middle;
  float: none !important;
  font-size: 13px;
  line-height: 1.3;
}

//In the NEWS view (page display) styles
//====================================

.view-in-the-news {
  .views-field-field-featured-image {
    //max-width: 30%;
    float: left;
    clear: both;
    margin-top: 10px;
  }

  .text-fields-wrapper {
    float: left;
    max-width: 70%;
    padding-left: 10px;

    p {
      margin: 0;

      &.news-date {
        font-weight: bold;
      }
    }
  }
}

//view-in-the-news

// Press Anouncement View
//============================

//exposed filters
#views-exposed-form-news-page-1 {

  input, #edit-items-per-page {
    border: $base-border;
    border-radius: 0;
    box-shadow: none;
  }

  // field labels are not uniform for some reason
  legend, label {
    //    font-size: 1.3em;
    //    Commenting out the above line to make the font 14px.
    font-weight: $weight-bold;
    margin-bottom: $small-spacing;
  }

  // Keyword text field
  div.form-item-body-value {
    width: 100%;
    margin: 0;

    @include breakpoint($break-tablet-portrait) {
      width: 40%;
    }
  }

  // Wrapper for both date select boxes
  fieldset[id*="edit-field-release-date-value-wrapper"] {
    margin: 0;
    padding: 0;
    width: 70%;
    border: none;

    @include breakpoint($break-tablet-portrait) {
      width: 60%;
    }
  }

  // Date select boxes
  div.form-item-field-release-date-value-min, div.form-item-field-release-date-value-max {
    float: left;
    margin: 0;
    width: 90%;

    @include breakpoint($break-tablet-portrait) {
      margin: 0 0 0 5px;
      width: 48%;
    }

    label {
      display: none;
      margin-bottom: 0;
    }
  }

  select[id*="edit-items-per-page"] {
    float: right;
    margin-top: 0;

    @include breakpoint($break-tablet-portrait) {
      width: 60px;
      clear: both;
    }

    #edit-submit-news {
      margin-right: 0;
      float: right;
    }
  }

  // Submit and form reset buttons
  // We have to use the 'wildcard' syntax because the IDs get a random suffix applied on
  // certain form actions. Eg, "edit-submit-news--Jh6p6W1Holo"
  [id*="edit-submit-news"], [id*="edit-reset"] {
    width: 123px;
    margin-right: 8px; // Hack to align with form fields above that I couldn't get to push right;
    padding: 0 10px;
    background: $teal;
    color: $white;
    border: none !important;
    height: 38px;
    overflow: hidden;
    text-align: center;
    line-height: 38px;

    &:hover {
      background-color: $steel;
    }
  }

  [id*="edit-actions"] {
    clear: none;
    float: right;
    margin-top: 3em;
  }

  @include breakpoint($break-mobile-landscape) {
    .form-item-body-value {
      width: -webkit-calc(40% - 0.5em);
      width: -moz-calc(40% - 0.5em);
      width: calc(40% - 0.5em);
    }
    .form-item-field-release-date-value-min,
    .form-item-field-release-date-value-max {
      width: -webkit-calc(30% - 0.5em);
      width: -moz-calc(30% - 0.5em);
      width: calc(30% - 0.5em);
    }
    #edit-actions {
      clear: none;
      float: right;
      margin-top: 2em;
      text-align: right;
      width: 50%;
    }
  }
}

//FEB Resources view - block display
//======================================

.fep-display {
  .views-row {
    border-bottom: 1px solid $medium-gray;
    padding-bottom: 15px;
  }

  h3.field-content {
    color: $crimson;
  }

  select {
    line-height: 1.3;
  }

  .feb-program-info {
    margin: 10px 0;
    font-size: 1.3rem;
  }

  .services.clearfix {
    font-size: 1.3rem;
    @include breakpoint($break-tablet-portrait) {
      .left {
        float: left;
        width: 50%;
      }
      .right {
        float: left;
        width: 50%;
      }
    }
    //breakpoint
  }

  //services
}

//fep-display

//GAIN TT - Trauma-Informed Response Trainer Listing
//=================================================

//Block display

.view-gains-tt-list {
  .view-filters {
    select {
      line-height: 1.3;
    }

    label {
      display: block;
    }
  }

  //.view-filters
  .views-row {
    padding-bottom: 20px;
  }
}

//HPR resources view
.view-hpr-resources {
  select {
    line-height: 1.3;
  }

  @include breakpoint($break-mobile-landscape) {
    caption {
      display: none;
    }
  }
}

//Gains court locators
.block-views-blockgains-mhc-lists-block-1,
.view-gains-mhc-lists-juvenile {
  .views-row {
    margin-bottom: 20px;
  }
}

//Biographies view
.view-leadership {
  .views-row {
    clear: both;
  }

  .views-field-field-bio-image {
    img {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  .views-field-field-bio-last-name {
      float: left;
      width: calc(100% - 192px);
  }

  .views-field-field-professional-title {
    font-weight: bold;
    font-size: 1.6rem;
  }

  .views-field-field-social-media-w-icons- {
    .social-link-field li {
      list-style: none;
    }
  }

  &.view-display-id-block_bio {
    .views-field.views-field-body-1 {
      clear: both;
      padding-top: 20px;
    }
  }
}

//Biography node view styles
//================================
.node--type-biography {
  .field--name-field-bio-image {
    float: left;
    margin: 0 15px 15px 0;
  }

  .field--name-field-professional-title {
    font-weight: bold;
    padding-top: 5px;
  }

  .field--name-body {
    clear: both;
  }

  div#block-solrheadersearch .field--name-body,
  div#block-solrmobilesearch .field--name-body {
    margin-top: 0;
    padding-top: 0;
  }
}

//Grants announcements Footer view block
//=========================================
.block-views-blockgrants-grants-footer-block {
  .callout {
    background: $medium-gray;
    padding: 10px 15px;
    margin: 15px 0;

    h2 {
      margin: .5em 0 .75em;
    }
  }

  ul.app-materials ul {
    margin-bottom: 0;
  }
}

//Grants announcements details blocks
//======================================

.view-grants {
  .view-icons-group {
    background: $medium-gray;
    padding: 10px 15px;
    //position: absolute;
    //top: 120px;
    //width: 100%;
    h4 {
      margin: 0 0 .75em;
    }
  }

  select {
    line-height: 1.3;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 20px;
  }

  td.is-active {
    background-color: transparent;
  }

  .views-field-field-rfa-number-1 {
    width: 90px;
  }
}

//view-grants
.view-fy-samhsa-grant-awards {
  #view-field-award-number-table-column {
    width: 120px;
  }

  td.is-active {
    background-color: transparent;
  }

  .views-view-table caption {
    font-weight: bold;
  }

  .views-exposed-form {
    margin-bottom: 0;

    .form-actions {
      margin-top: 0;
      margin-bottom: 0;
    }

    .form-item {
      margin-bottom: 0;
    }
  }
}

.view-samhsa-grant-awards {
  .views-exposed-form.bef-exposed-form {
    margin: 0;

    .js-form-wrapper.form-wrapper {
      margin-bottom: 0;
    }
  }

  .views-view-table {
    caption {
      p {
        text-align: left;
        font-weight: bold;
      }
    }
  }
}

// Banners image
.view-banners .views-field-field-banner {
  @include breakpoint($break-fullsize) {
    img {
      width: 100%;
    }
  }
}

//PROGRAMS views
//===============================
.view-programs-and-campaigns,
.view-public-messages {
  .item-list .pc-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    list-style: none none;

    li {
      margin: 0 0 20px 0;
    }

    @include breakpoint($break-mobile-landscape) {
      li {
        width: 31.5%;
        margin: 0 1.75% 2% 0;
        float: left;
      }
    }
  }

  .views-field-body .field-content {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0 14px 14px 14px;
    font-weight: normal;

    a {
      text-decoration: none;
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .views-field-title h3.field-content {
    font-size: 18px;
    line-height: 1.2;
    margin: 10px 0 5px 0;
    padding: 10px 14px;
    font-weight: normal;

    a {
      text-decoration: none;
      color: $midnight;
      margin: 0 0 1em 0;
      font-size: 1.6rem;
      line-height: 20.8px;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .views-field-field-banner .field-content {
    line-height: 0;
  }

  .form--inline .form-actions, .form-item {
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint($break-mobile-landscape) {
      clear: none;
    }
  }

  @include breakpoint($break-mobile-landscape) {
    .bef-exposed-form .form--inline > .form-item {
      width: 40%;
      margin-right: 0;
    }
  }
}

.view-programs-and-campaigns {
  .bef-exposed-form .form--inline > .form-item {
    width: 100%;

    input[type=text] {
      height: 45px;
    }
  }

  div.form-actions {
    width: 100%;
  }

  input[value="Clear"], input[value="Search"] {
    height: 45px;
    width: 30%;
    font-size: 16px;
    line-height: 18px;
  }

  input[value="Clear"] {
    // display: inline-block;
    margin: 0 0 15px 0 !important;
    background: $white;
    border: 1px solid $teal;
    color: $teal;
    float: right;

    &:hover {
      color: $steel !important;
    }
  }
}

.view-programs-and-campaigns {
  @include breakpoint($break-mobile-landscape) {
    .bef-exposed-form .form--inline > .form-item {
      width: 64% !important;
      margin-right: 0;
      float: left;
      clear: none;
    }
    div.form-actions {
      width: 34%;
      float: left;
      display: block;
      height: 45px;
    }
    input[value="Search"] {
      display: inline-block;
      width: 51%;
      height: 45px;
    }
    input[value="Clear"] {
      // display: inline-block;
      margin: 0 0 0 15px !important;
      width: 34%;
      float: right;
    }
    .view-programs-and-campaigns .form--inline .form-actions {
      float: left;
    }
  }
}

//NAC Meetings view
.view-nac-meetings {
  form {
    margin: 0;
  }

  .bef-exposed-form {
    position: relative;

    .description {
      font-size: 0.85em;
      position: absolute;
      top: 35px;
    }

    legend {
      margin-bottom: 20px;
    }
  }

  // We need to make the date element/link tabbable (/about-us/advisory-councils/meetings)
  .nac-block-view--advisory-council-date {
    .nac-link {
      &:focus {
        div.nac-date {
          @include focus-outline();
        }
      }
    }
  }

  //.bef-exposed-form
  .views-table.views-view-table {
    td.is-active {
      background-color: transparent;
    }
  }
}

//Homepage views
//========================

//Current Topics view

.home-block {
  .block-content {
    padding-top: 20px;
  }

  ul.homepage-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    list-style: none none;

    li {
      width: 100%;
      margin: 0 1.75% 2% 0;
      float: left;

      @include breakpoint($break-tablet-landscape) {
        width: 31.5%;
      }
      //breakpoint
      .views-field.views-field-field-hp-thumbnail {
        width: 130px;
        height: 130px;
        float: left;
        margin-right: 10px;
      }

      //thumb
      .views-field.views-field-title {
        overflow: hidden;
      }

      h3.field-content {
        margin: 0 0 7px 0;
        //font-size: 16px;
        font-weight: normal;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

//home-block
.current-topics {
  .block-content {
    background-color: $mist;
    padding: 20px 5px 20px 20px;
    margin-top: 35px;
  }
}

a.link-button-style2 {
  display: inline-block;
  background-color: $white;
  border: 1px solid $teal;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: normal;
  color: $teal;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  line-height: 1.5;

  &:hover {
    text-decoration: none;
    color: $steel;
    border: 1px solid $steel;
  }
}

//Bupe practitioners data tables.
//====================================

//National Waiver Totals view
//------------------------------------
.view-bupe-physician-count-national {
  .bup-national-table {
    tr {
      background: transparent;
      border-bottom: 1px solid $medium-gray;

      &:last-child {
        border: none;
        border-top: 1px solid $smoke;
      }

      th {
        /*width:15%;*/
      }

      .bup-totals,
      .bup-grand-totals {
        font-weight: bold;
      }

      th, td {
        border: none;
        padding: 0.25em;
      }

      td {
        font-size: .9em;
      }
    }
  }
}

//Waiver Totals by State view
//-------------------------------

.block-views-blockbup-physician-count-national-table--block-1 {
  .view-header {
    font-size: 15px;
    color: $steel;

    h2 {
      background: $teal;
      color: white;
      font-size: 18px;
      padding: 1em;
      margin: 1em 0 0 0;
    }
  }

  //view-header
  #views-exposed-form-bup-physician-count-national-table--block-1 {
    a.chosen-single {
      height: 45px;
      display: flex;
      align-items: center;

      div {
        top: 20%;
      }
    }

    //chose-single
    input[type=submit] {
      width: 123px;
      height: 44px;
      margin-left: 25px;
      font-size: 1.1em;
    }
  }

  //views-exposed-form-bup-physician-count-national-table--block-1

  .tablesaw caption {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
  }

  .bup-col-labels {
    border: none;
    margin: 0;

    th {
      border: none;
      padding: 0;
      font-size: 20px;
    }

    tr:nth-child(odd) {
      background: transparent;
      border-bottom: none;
    }
  }

  //bup-col-labels
  .waiver-table-wrapper {
    background: $mist;
    padding: 1em;
    //exposed filters
    .view-filters {
      .views-exposed-form.bef-exposed-form {
        label {
          vertical-align: top;
          display: inline-block;
          margin-top: 5px;
          margin-right: 20px;
          color: $steel;
        }

        .form-actions {
          clear: none;
          margin-top: 0;

          .button.js-form-submit.form-submit {
            margin-top: 15px;
          }
        }
      }
    }

    //views-exposed-form
    .chosen-search input[type="text"] {
      display: none;
    }

    .chosen-container.chosen-container-single .chosen-single {
      border: 2px solid $medium-gray;
      background: white;
      height: 34px;
    }

    .chosen-results {
      background-color: $white;
    }
  }

  .inner-table-view-wrapper {
    background-color: $white;
    padding: 1.5em;

    tbody tr {
      background-color: transparent;
      border-bottom: 1px solid $medium-gray;

      &:last-child {
        border: none;
      }
    }

    .bup-col-labels tbody tr {
      border-bottom: none;
    }

    .pager ul {
      text-align: left;

      li a {
        text-decoration: none;
      }
    }

    .views-table.views-view-table {
      margin: 2em 0;

      caption {
        font-size: 18px;
        color: $teal;
        font-weight: bold;
        text-align: left;
      }

      td {
        border: none;
        padding: 0;
      }

      .bup-data-by-state-table {
        margin: 0;

        th {
          width: 15%;
          //padding: .25em .5em 0 0 ;
          background-color: $white;
          border: none;
          color: $steel;
        }

        .bup-totals,
        .bup-grand-totals {
          font-weight: bold;
          color: $steel;
        }

        .bup-totals {
          display: inline-block;
          width: 3em;
        }

        td {
          border: none;
          padding: 1em;
          font-size: .8em;

          &:nth-child(2) {
            width: 74%;
          }

          &:nth-child(3) {
            width: 15%;
          }

          &:nth-child(4) {
            width: 17%;
          }

          span {
            margin-right: 1em;
          }
        }

        tr {
          &:last-child {
            border-top: 1px solid $medium-gray;
          }
        }
      }
    }
  }
}

div.view-id-samhsa_physician_search {
  overflow: scroll;
}

.view-grants-awards-by-state table.views-table {
  th {
    border-right: none;
  }

  td {
    text-align: right;
    border-left: none;
  }
}

//SAMHSA in the news
.in-the-news-page {
  position: relative;

  .in-the-news.views-row:first-child {
    border-top: none;
    padding-top: 0;
  }

  .view-header > h1 {
    color: $steel;;
    font-size: 24px;
    font-weight: bold;
    height: 30px;

    &:after {
      position: absolute;
      left: 0;
      width: 80px;
      content: "";
      border-bottom: 4px solid $crimson;
      bottom: -7px;
    }
  }

  .in-the-news.views-row {
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: 1fr;
    padding: 23px 0 14px 0;
    border-bottom: 1px solid $fog;

    .text-fields-wrapper {
      float: none;
      padding-left: 0;
      max-width: 100%;
    }

    p.news-title, p.news-source {
      padding-bottom: 10px;
    }

    p.news-source, p.news-date {
      font-size: 15px;
      line-height: 18px;
      font-weight: normal;
    }

    p.news-title {
      font-size: 20px;
      line-height: normal;
    }

    p.news-source {
      color: $steel;
    }

    p.news-date {
      color: $black;
    }
  }
}

// Practitioner Training View
.practitioner-training {
  h1 {
    font-size: 30px;

    &.program-title {
      &::after {
        position: absolute;
        left: 0;
        top: 39px;
        width: 80px;
        content: "";
        border-bottom: 4px solid $crimson;
      }
    }
  }
}

// SAMHSA Regions View (SAMHSAWCM-8869)
// SAMHSA Regions View (SAMHSAWCM-8869)
#samhsa_regions_map {
  // Map doesn't really work on small screens so hide it.
  display: none;
  @include breakpoint ($break-tablet-landscape) {
    display: block;
  }

  .view-id-samhsa_regions .sr-tooltip {
    // Not sure if this is a reliable way to bring div to front
    z-index: 1;
    border-radius: 5px;
    width: 325px;
    font-size: 1.2rem;
    white-space: nowrap;
    height: auto;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.16);
    background-color: $white;
    position: absolute;
    display: none;

    .sr-region-name-wrapper {
      background-color: #DDDDDD; // TODO: replace with $medium-gray
      height: 25px;
      border-radius: 5px 5px 0 0;

      a.sr-region-name {
        vertical-align: middle;
        padding: 5px 0 5px 5px;
        font-weight: bold;
        font-size: 1.2em;
      }
    }

    .sr-region-admins-wrapper {
      // We wrapped all content in an <a> but don't want the effects
      a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
      }

      // Wrappers for each admin profile
      .sr-admin-wrapper, .sr-asst-admin-wrapper {
        clear: both;
        display: block;
        padding: 10px 0;

        // These separate the profile image from text details
        .sr-profile-left, .sr-profile-right {
          display: block;
        }

        .sr-region-profile-img {
          clear: both;
          float: left;
          padding: 0 10px;

          img {
            border-radius: 20%;
          }
        }

        .sr-region-profile-name {
        }

        .sr-region-profile-title {
          font-weight: bold;
          display: block;
        }

        .sr-region-profile-email {
          .fa-envelope {
            margin-right: 5px;
          }
        }

        .sr-region-profile-phone {
          .fa-phone-alt {
            margin-right: 5px;
          }
        }
      }
    }

    .sr-image-map {
      border: none;
      height: auto;
      max-width: 100%;
      width: auto;
    }

    // Unset the top padding for the bottom image
    .sr-asst-admin-wrapper .sr-region-profile-img {
      padding-top: 0;
    }
  }
}

// For the individual Grant Awards Page
// Just setting some margins and padding to 0
.individual-grant-awards, .grants-listing {
  form {
    margin-bottom: 0;
  }

  .form--inline .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-actions {
    margin-top: 0;
    margin-bottom: 0;
  }

  .tablesaw-advance .tablesaw-btn.btn-micro {
    padding: 0;
  }

  .grant-awards-no-body {
    padding: 1.25rem;
    color: #1b1b1b;
  }
}

// --- Calendar Date Styling for NAC Advisory Council Block - Start ---
// Intentionally separate from other styles
// DO NOT REMOVE WHEN GOING TO USWDS
.nac-block-view--advisory-council-date {
  text-align: center;
  margin: 0 auto;
  border: 1px solid $mist;
  max-width: 58px;
  font-weight: bold;
  font-size: 12px;

  a {
    text-decoration: none;
  }


  .nac-block-view--advisory-council-month-day {
    background-color: $teal;
    color: $white;
    padding: 0.25rem 0;
  }

  .nac-block-view--advisory-council-year {
    color: $teal;
    padding: 0.5rem 0;
  }
}

// --- Calendar Date Styling for NAC Advisory Council Block - End ---

// --- All Styles for NAC Advisory Council Block - Start
// Feel free to edit or remove if updating to USWDS styles
.nac-all-meetings-block-view { // class name of view
  .tablesaw-bar {
    display: none !important;
  }

  .views-exposed-form { // Drupal given class name of view for exposed filters
    .form-item {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }

    label {
      font-size: 1.66rem;
    }

    .chosen-container-multi { // Allows for styling of text inputs using the Chosen module
      // &:first-child {
      //   width: 135px !important;

      //   &:focus-within {
      //     outline: .25rem solid $focus-blue;
      //   }
      // }

      // &:last-child {
      //   width: 400px !important;

      //   &:focus-within {
      //     outline: .25rem solid $focus-blue;
      //   }
      // }
      .chosen-choices {
        border: 1px solid $black;

        li.search-choice {
          border-radius: 0;
          background: none;
          background-color: $white;
          border: 1px solid #cbcbcb;
          margin-top: 0.5rem;

          span {
            vertical-align: middle;
            font-size: 1.33rem;
          }
        }

        li.search-field {
          input[type="text"] {
            height: 2.75rem;
            color: $steel;
          }
        }
      }

      .chosen-drop {
        li.active-result {
          font-size: 14px;
          padding: 1.5rem;
          border: 1px solid $mist;
        }
      }
    }



    #edit-actions {
      display: block;
    }

    .button {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    @include breakpoint($break-fullsize) {
      .button {
        clear: none;
      }
    }
  }

  .nac-table { // Styles for NAC Table
    th {
      color: $charcoal;

      &:first-child { // Styles first column
        width: 20%;
        text-align: center;
      }

      @media screen and (max-width: $break-tablet-landscape) {
        &:first-child { // Styles first column
          width: 28%;
          text-align: center;
        }
      }
    }

    tr {
      background-color: $white;
    }

    td {
      padding: 1rem;
      vertical-align: middle;
    }
  }

  .pager { // Styles Pager with custom styles
    .pager__item {
      width: 4rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;

      border: 1px solid $steel;
      border-radius: 10%;
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        color: $sapphire;
      }

      &.is-active {
        background-color: $sapphire;

        a {
          color: $white;
          font-weight: normal;
        }
      }

      &.pager__item--previous, &.pager__item--next,
      &.pager__item--ellipsis {
        border: none;
        padding: initial;
      }

      &.pager__item--previous, &.pager__item--next {
        white-space: nowrap;
        text-decoration: underline;
      }

      &.pager__item--previous {
        width: 6.5rem;
        margin-right: 3rem;
      }

      &.pager__item--next {
        width: 4rem;
        margin-left: 3rem;
      }
    }

    @media screen and (max-width: $break-tablet-landscape) {
      .pager__items {
        margin: 0;
      }

      .pager__item {
        width: 2.25rem;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5rem;

        &.pager__item--previous {
          margin-right: 0;
          white-space: nowrap;
        }

        &.pager__item--next {
          margin-left: 0;
          white-space: nowrap;
        }
      }
    }

    @media screen and (max-width: $break-mobile-landscape) {
      .pager__item {
        &.pager__item--previous {
          width: 2rem;

          a span:last-child {
            display: none;
          }

          & a::after {
            content: '<';
          }
        }

        &.pager__item--next {
          width: 2rem;

          a span:last-child {
            display: none;
          }

          & a::after {
            content: '>';
          }
        }
      }
    }
  }

  // WILL CLEAN UP LATER
  // PLEASE FORGIVE US
  // BLAME TIM
  .js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-field-meeting-date-value.form-item-field-meeting-date-value .chosen-container {
    max-width: 135px;

    &:focus-within {
      outline: .25rem solid $focus-blue;
    }
  }

  .js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-field-council-list-value.form-item-field-council-list-value .chosen-container {
    max-width: 400px;

    &:focus-within {
      outline: .25rem solid $focus-blue;
    }
  }
  @media screen and (max-width: $break-desktop) {
    .js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-field-council-list-value.form-item-field-council-list-value .chosen-container {
      display: block !important;
      width: 400px !important;
    }
  }
  @media screen and (min-width: $break-desktop) {
    .js-form-item.form-item.js-form-type-select.form-type-select.js-form-item-field-council-list-value.form-item-field-council-list-value .chosen-container {
      display: inline-block;
      width: 550px !important;
    }
  }

}

.nac-meeting-block-view {
  font-size: 1.5rem;

  .views-label-field-meeting-agenda, .views-label-field-meeting-minutes, .views-label-field-meeting-transcripts, .views-label-field-related-documents, .views-label-field-additional-date-end,
  .views-label-field-meeting-venue {
    float:left;
    margin-right: 5px;
  }

  .views-field-body {
    margin: 20px 0;
  }
}
// --- All Styles for NAC Advisory Council Block - End
