{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}
{%
  set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'node--type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
]
%}
{% set atouchpath = 'themes/custom/samhsa_uswds_base/images/appletouch/' %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N898TT');</script>
  <!-- End Google Tag Manager -->
  <head-placeholder token="{{ placeholder_token|raw }}">
    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="/themes/custom/samhsa_uswds_base/favicon_1.ico" />
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
      <js-placeholder token="{{ placeholder_token|raw }}">
        <script type="text/javascript">
          // ForeSee Production Embed Script v2.01
          // DO NOT MODIFY BELOW THIS LINE *****************************************
          ;(function (g) {
            var d = document, am = d.createElement('script'), h = d.head || d.getElementsByTagName("head")[0], fsr = 'fsReady',
              aex = {
                "src": "//gateway.foresee.com/sites/samhsa/production/gateway.min.js",
                "type": "text/javascript",
                "async": "true",
                "data-vendor": "fs",
                "data-role": "gateway"
              };
            for (var attr in aex) { am.setAttribute(attr, aex[attr]); } h.appendChild(am); g[fsr] || (g[fsr] = function () { var aT = '__' + fsr + '_stk__'; g[aT] = g[aT] || []; g[aT].push(arguments); });
          })(window);
          // DO NOT MODIFY ABOVE THIS LINE *****************************************

          // Un-comment out the function below when you are ready to input your variable
          /*fsReady(function() {
            FSR.CPPS.set('name','value'); // use single quotes when passing a static-value
            FSR.CPPS.set('name2',somevariable); // don't use quotes for a dynamic value
            FSR.CPPS.set('name3',othervariable); // add as many CPPs as you like in this way
          });*/
        </script>
        {#
        /**
         * Icons
         * {{ url('<front>') }} is the site's base URL
         * The {{ atouchpath }} variable is set above
         */
        #}
        <link rel="apple-touch-icon" href="{{ url('<front>') }}{{ atouchpath }}appletouch-76.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url('<front>') }}{{ atouchpath }}appletouch-57.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url('<front>') }}{{ atouchpath }}appletouch-76.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url('<front>') }}{{ atouchpath }}appletouch-120.png" />
        <link rel="apple-touch-icon" sizes="128x128" href="{{ url('<front>') }}{{ atouchpath }}appletouch-128.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url('<front>') }}{{ atouchpath }}appletouch-152.png" />
        <link rel="apple-touch-icon" sizes="167x167" href="{{ url('<front>') }}{{ atouchpath }}appletouch-167.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('<front>') }}{{ atouchpath }}appletouch-180.png" />
        <link rel="apple-touch-icon" sizes="192x192" href="{{ url('<front>') }}{{ atouchpath }}appletouch-192.png" />

        {# ...and don't forget android #}
        <link rel="icon" sizes="192x192" href="{{ url('<front>') }}{{ atouchpath }}appletouch-192.png" />
        <link rel="icon" sizes="128x128" href="{{ url('<front>') }}{{ atouchpath }}appletouch-128.png" />

</head>
<body{{ attributes.addClass(body_classes) }} id="top">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N898TT"
                  height="0" width="0" style="display:none;visibility:hidden" title="googletagmanager"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div role="navigation" aria-labelledby="skip-to-main">
  <a href="#main-layout" id="skip-to-main" class="visually-hidden focusable">
    {{ 'Skip to main content'|t }}
  </a>
</div>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<script type="text/javascript">
  /*<![CDATA[*/
  (function() {
    var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
    sz.src = '//siteimproveanalytics.com/js/siteanalyze_6029428.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
  })();
  /*]]>*/
</script>
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
  <script type="text/javascript">
    //<![CDATA[
    var usasearch_config = { siteHandle:"samhsa_main" };
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "https://search.usa.gov/javascripts/remote.loader.js";
    document.getElementsByTagName("head")[0].appendChild(script);
    //]]>
  </script>
</body>
</html>
