<div{{ attributes }}>
	<p class="social">
		<a class="sprite social-button button-facebook" href="https://www.facebook.com/samhsa">Facebook</a>
		<a class="sprite social-button button-twitter" href="https://twitter.com/samhsagov">Twitter</a>
		<a class="sprite social-button button-youtube" href="https://www.youtube.com/samhsa/">YouTube</a>
		<a class="sprite social-button button-rss" href="https://blog.samhsa.gov/">SAMHSA's Blog</a>
	</p>

	<p>
		<a class="banner-button" href="#" onclick="window.open('https://protect2.fireeye.com/url?k=b34dfd0c-ef18f4dc-b34dcc33-0cc47a6a52de-4135a7025312c8a5&u=http://eepurl.com/gGZ7rv', '');return false;"><img alt="Sign up for Email Updates" src="{{ image_path }}/banners/emailupdatesbtn.png"/></a>
	</p>

	<p>
		<a class="banner-button" href="https://blog.samhsa.gov/"><img alt="Check out the SAMHSA blog" src="{{ image_path }}/banners/blogbtn.png"/></a>
	</p>
</div>
