{# ADMIN SEVEN THEME CSS STYLES #}
<style type="text/css">
  /* ----------ALERT PARAGRAPH */
  div.alert-message-form-wrapper h3 span.ui-accordion-header-icon {
    float:left;
    margin-top: 0px;
  }
</style>

{# ADMIN SEVEN THEME JS FUNCTIONS #}
<script src="../../../core/assets/vendor/jquery/jquery.min.js?v=3.5.1"></script>
<script type="text/javascript">
  // ----------RESOURCE LIST
  $(document).ready(function() {
    if($('form#node-resource-edit-form select#edit-field-file-or-link').val() == 'link'){
      $('form#node-resource-edit-form div.form-type-url label').addClass('js-form-required form-required');
      $('form#node-resource-edit-form div.form-type-url input').attr('required', 'required');
      $('form#node-resource-edit-form div.form-type-managed-file label').removeClass('js-form-required form-required');
      $('form#node-resource-edit-form div.form-type-managed-file input:file').removeAttr('required');
    } else if($('form#node-resource-edit-form select#edit-field-file-or-link').val() == 'file'){
      $('form#node-resource-edit-form div.form-type-url label').removeClass('js-form-required form-required');
      $('form#node-resource-edit-form div.form-type-url input').val('').attr('value', 'hidden').removeAttr('required');
      $('form#node-resource-edit-form div.form-type-managed-file label').addClass('js-form-required form-required');
      $('form#node-resource-edit-form div.form-type-managed-file input:file').attr('required', 'required');
    }
    $('form#node-resource-edit-form select#edit-field-file-or-link').change(function() {
      if($(this).val() == 'link'){
        $('form#node-resource-edit-form div.form-type-url label').addClass('js-form-required form-required');
        $('form#node-resource-edit-form div.form-type-url input').attr('required', 'required');
        $('form#node-resource-edit-form div.form-type-managed-file label').removeClass('js-form-required form-required');
        $('form#node-resource-edit-form div.form-type-managed-file input:file').removeAttr('required');
      } else if($(this).val() == 'file'){
        $('form#node-resource-edit-form div.form-type-url label').removeClass('js-form-required form-required');
        $('form#node-resource-edit-form div.form-type-url input').val('').attr('value', 'hidden').removeAttr('required');
        $('form#node-resource-edit-form div.form-type-managed-file label').addClass('js-form-required form-required');
        $('form#node-resource-edit-form div.form-type-managed-file input:file').attr('required', 'required');
      }
    });
    $("form#node-resource-edit-form").submit(function(e){
      if($('form#node-resource-edit-form select#edit-field-file-or-link').val() == 'file') {
        if ($("span.file--application-pdf")[0]) {

        } else {
          alert('Resource PDF Field is required');
          e.preventDefault();
        }
      }
    });
  });
</script>
