//Change the display of items
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.media-block {
  img {
    @extend .img-left;
  }

  p {
    @extend .p-clear;
  }
}

// generic top-margin spacer for in between blocks
.block-top-spacer {
  margin-top: 30px;
}
