/****** Cards for Practioner Page View *******/
//Could possibly revisit the structure of these types of pages for D9 redesign

.path-practitioner-training, .path-programs, .path-public-messages {

  .view-content {
    flex-direction: column;

    @include breakpoint($break-tablet-portrait) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .views-row {
      flex-basis: 100%;
      border: 1px solid $fog;
      margin-bottom: 1.5em;

      @include breakpoint($break-tablet-portrait) {
        flex-basis: 32.5%;
      }

      &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
      }

      a {
        text-decoration: none;

        &:hover {
          .card-title {
            text-decoration: underline;
          }
        }
        img {
          width: 100%;
        }
      }

      .card-content-wrapper {
        padding: 1em;

        .card-title {
          display: block;
          color: $midnight;
          margin: 0 0 1em 0;
        }

        .card-desc {
          color: $black;
        }
      }
    }
  }
}
