/*
  Accordion tabs that have not been created using Javascript
*/

/* clearfix */
.ckeditor-accordion-container > dl:before,
.ckeditor-accordion-container > dl:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.ckeditor-accordion-container > dl:after {
  clear: both;
}

/* CKEditor accordion */
.ckeditor-accordion-container > dl,
.ckeditor-accordion-container > dl dt,
.ckeditor-accordion-container > dl dd {
  box-sizing: border-box;
  width: 85%;
  max-width: 1000px;
  border: none;
  position: relative;
}

/* label / tab */

.ckeditor-accordion-container > dl dt > a {
  display: block;
  padding: 10px 15px 10px 50px;
  background-color: $white;
  color: $teal;
  cursor: pointer;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  border-bottom: 1px solid $teal;

}

.ckeditor-accordion-container > dl dt > a:hover {
  background-color: $white;
  border-bottom: hidden;
}

.ckeditor-accordion-container > dl dt.active > a {
  background-color: $white;
  padding-bottom: 10px;
  border: 1px solid;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.50);
}

.ckeditor-accordion-container > dl dt:last-of-type > a {
  border-bottom: 0;
}

/* contents */
.ckeditor-accordion-container > dl dd {
  display: none;
  border: 1px solid $fog;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.50);
  padding-left: 50px;
  padding-top: 15px;
  padding-right: 25px;
  margin: 0;
  text-align: left;
  will-change: height;
  overflow: hidden;
  color: $charcoal;
}
