//Webforms styles
span.red {
  color: red;
}

.webform-submission-form {
  .ui-datepicker-trigger {
    position: relative;
    top: -36px;
    left: 138px;
  }

  // HACK: The 'peer grant' webform needs this custom styling for some reason
  .form-item-license-expiration-date, .form-item-reviewer-training-completed-date-date {
    .ui-datepicker-trigger {
      position: inherit;
      padding-left: 5px;
    }
  }

  select,
  .select2-container--default .select2-selection--single,
  .select2-selection.select2-selection--single {
    background-color: $white;
    border: 1px solid $smoke;
    border-radius: 0;
    height: 32px;
  }
}

@include breakpoint($break-tablet-portrait) {
  .webform-submission-form {
    input[type=email],
    input[type=password],
    input[type=text],
    input[type=url],
    select,
    .form-item-state,
    .form-item-states,
    textarea,
    .form-textarea,
    .form-type-textfield,
    .webform-element-description {
      width: 350px;
    }

    #edit-event-date-date,
    .form-text.required.hasDatepicker,
    .form-text.hasDatepicker {
      width: 128px;
    }

    .title-red > legend span.fieldset-legend {
      font-size: 125%;
      color: $crimson;

    }
  }
}

//Grant reviewer application form style
//=======================================
hr.webform-horizontal-rule {
  margin: 2em 0;
  border-bottom: 2px solid $ruby;
}

@include breakpoint($break-tablet-portrait) {
  .webform-submission-application-for-peer-grant-revie-form {
    .container-inline > label {
      //clear: left;
      float: left;
      width: 220px;
      margin-right: 7px;
      text-align: right;
      display: inline;

      &:after {
        content: "";
      }
    }

    input[type=email],
    input[type=password],
    input[type=text],
    input[type=url],
    select,
    .form-item-state,
    .form-item-states,
    .form-type-textfield {
      width: 350px;
      display: inline;
    }

    textarea,
    .form-textarea {
      width: 80%;
    }

    .webform-element--title-inline > label {
      display: inline;
      padding-right: 0;
    }

    div#edit-email--description,
    .webform-element-description {
      display: block;
      width: 100%;
    }
  }
}

form#samhsa-physician-search-form {
  .chosen-with-drop {
    height: 300px;
  }

  .chosen-with-drop .chosen-drop {
    top: 0;
    height: 280px;
  }
}

.block-system-breadcrumb-block nav {
  padding-top: 14px !important;

  li {
    padding-left: 8px;
  }
}

// SAMHSAWCM-9064 - Speaker request form style
//=======================================
// id can vary depending on where form is being used, so string match
form[id^="webform-submission-speaker-request-form-"] {
  // Webform styles seem all out of whack, so I'm just forcing my way here.
  $width: 500px;

  // Make our text counter a little less conspicuous
  .text-count-message, .text-count-message.webform-counter-warning {
    font-size: .9rem;
    font-weight: normal;
  }

  .form-textarea {
    width: $width;
    height: 100px;
  }

  .form-text {
    width: $width;
  }

  .form-tel {
    width: $width;
    max-width: fit-content;
  }

  .form-time {
    width: $width;
    max-width: fit-content;
  }

  .form-select {
    width: $width;
    max-width: fit-content;
  }

  select[multiple].form-select {
    height: auto;
  }
}
