{{ attach_library('simple_styleguide/simple_styleguide.default') }}
<style>
  .sg-leftnav>ul {
    border:1px solid #dfe1e2;
    list-style: none;
    margin-left:0;
  }
  .sg-leftnav>ul li {
    margin-bottom:0;
  }
  .sg-leftnav>ul ul {
    list-style: none;
    margin-left:10px;
  }
  .simple-styleguide--site-styles .breadcrumbs,
  .simple-styleguide--site-styles .simple-styleguide--sectionhead {
    display:none;
  }

  .simple-styleguide--site-styles .simple-styleguide {
    margin: 0;
  }

  .hidden {
    display: none;
  }
</style>

{# -- PAGE WRAPPER ----------------------------------------------- #}
<h1>SAMHSA Styleguide</h1>

{# -- ROW ----------------------------------------------- #}
<div class="grid-row grid-gap">
  {# -- NAVIGATION ----------------------------------------------- #}
  <div class="sg-leftnav tablet:grid-col-2">
    <strong>Colors:</strong>
    <ul class="sg-sidenav usa-sidenav">
      <li class="usa-sidenav__item">
        <a class="sg-nav-item" href="#colors">Colors</a>
      </li>
    </ul>

    {% if default_patterns is defined and default_patterns is not empty %}
      <strong>Defaults:</strong>
      <ul class="sg-sidenav usa-sidenav">
        {% for default_pattern in default_patterns|sort %}
          <li class="usa-sidenav__item">
            <a class="sg-nav-item" href="#{{ default_pattern }}">{{ default_pattern|capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if custom_patterns is defined and custom_patterns is not empty %}
      <strong>USWDS:</strong>
      <ul class="sg-sidenav usa-sidenav">
        {% for custom_pattern in custom_patterns %}
          {% if custom_pattern.label starts with 'USWDS' %}
            <li class="usa-sidenav__item">
              <a class="sg-nav-item" href="#{{ custom_pattern.label|replace({' ': '_'}) }}">
                {{ custom_pattern.label }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if custom_patterns is defined and custom_patterns is not empty %}
      <strong>Custom:</strong>
      <ul class="sg-sidenav usa-sidenav">
        {% for custom_pattern in custom_patterns %}
          {% if custom_pattern.label starts with 'Custom' %}
            <li class="usa-sidenav__item">
              <a class="sg-nav-item" href="#{{ custom_pattern.label|replace({' ': '_'}) }}">
                {{ custom_pattern.label }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% if custom_patterns is defined and custom_patterns is not empty %}
      <strong>Sandbox:</strong>
      <ul class="sg-sidenav usa-sidenav">
        {% for custom_pattern in custom_patterns %}
          {% if custom_pattern.label starts with 'Sandbox' %}
            <li class="usa-sidenav__item">
              <a class="sg-nav-item" href="#{{ custom_pattern.label|replace({' ': '_'}) }}">
                {{ custom_pattern.label }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {# -- CONTENT ----------------------------------------------- #}
  <div class="simple-styleguide--site-styles tablet:grid-col-10">
    {# -- COLORS STYLES SEGMENTS ----------------------------------------------- #}
    {% if default_colors is defined and default_colors is not empty %}
    <div id="colors" class="sg-style-wrapper">
        <h2>
          Colors
        </h2>

        <div class="simple-styleguide--colors">
          {% for default_color in default_colors %}
            <div class="simple-styleguide--color">
              <div class="simple-styleguide--color--block {{ default_color.class }}" style="background-color: {{ default_color.hex }}"></div>
              <div class="simple-styleguide--color--swatch">
                <span class="simple-styleguide--color--swatch--class"><label>class:</label> {{ default_color.class }}</span>
                <span class="simple-styleguide--color--swatch--values"><label>values:</label> {{ default_color.hex }} | rgb({{ default_color.rgb }})</span>
                {% if default_color.description is not empty %}<span class="simple-styleguide--color--swatch--usage"><label>usage:</label> {{ default_color.description }}</span>{% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}

    {# -- DEFAULTS STYLES SEGMENTS ----------------------------------------------- #}
    {% if default_patterns is defined and default_patterns is not empty %}
      {% for default_pattern in default_patterns|sort %}
          <div id="{{ default_pattern }}" class="hidden sg-style-wrapper">
            <h2>
              {{ default_pattern|capitalize }}
            </h2>

            <div>
              <div class="simple-styleguide">
                {% set pattern = '@simple_styleguide/includes/' ~ default_pattern ~ '.html.twig' %}
                {% include(pattern) %}
                <div class="simple-styleguide--pattern">
                  <button class="simple-styleguide--view-sourecode">View Source</button>
                  <pre>
                    {% filter escape %}
                     {% include(pattern) %}
                    {% endfilter %}
                  </pre>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    {% endif %}

    {# -- CUSTOM STYLES SEGMENTS ----------------------------------------------- #}
    {% if custom_patterns is defined and custom_patterns is not empty %}
        {% for custom_pattern in custom_patterns %}
            <div id="{{ custom_pattern.label|replace({' ': '_'}) }}" class="hidden sg-style-wrapper">
              <h2>
                {{ custom_pattern.label }}
              </h2>

              <div id="{{ custom_pattern.id }}">
                <div class="simple-styleguide">
                  {{ custom_pattern.template }}
                  <div class="simple-styleguide--pattern">
                    <button class="simple-styleguide--view-sourecode">View Source</button>
                    <pre>{{ custom_pattern.template|render|escape('html') }}</pre>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
  </div>
</div>
