// Search Page
//==========================================================================

body.path-multi-site-search {
  div.view-filters {
    padding: 0 15px;

    form#views-exposed-form-multi-site-search-page-1 {
      margin: 0;

      div#edit-actions {
        clear: none;
        float: left;
        margin: 40px 10px 0 10px;
      }
    }
  }

  div.view-content {
    padding: 0 15px;

    div.views-row {
      border-top: 1px dotted $silver;
      padding: 1em 0;
      clear: both;

      div.views-field-title-multisite {
        a, a.visited {
          color: $charcoal;
          font-size: 16px;
          font-weight: $weight-bold;
          line-height: 1.5em;
        }

        a.hover {
          color: $crimson;;
        }
      }
    }

    div.views-field-document-date {
      color: $black;
      font-size: 10px;
    }

    div.views-field-highlighted-body {
      em {
        color: $crimson;
      }
    }

    div.views-row:first-child {
      border-top: 0;
      padding-top: 0;
    }
  }

  nav.pager {
    ul {
      li {
        margin: 0;

        a {
          float: left;
          padding: 4px 12px;
          margin: 0 -2px;
          line-height: 20px;
          text-decoration: none;
          background-color: $white;
          border: 1px solid $silver;
          border-left-width: 0;
        }

        a:hover {
          background-color: $teal;
          color: $white;
        }

        a.pager__item--ellipsis {
          background-color: $white;
          color: $fog;
        }
      }

      li.is-active {
        a {
          color: $white;
          background-color: $midnight;
        }

        a:hover {
          background-color: $teal;
        }
      }
    }
  }
}
