<p>SAMHSA's mission is to reduce the impact of substance abuse and mental illness on America's communities.</p>

<address>
  <p>
    5600 Fishers Lane, Rockville, MD 20857<br/>
    1-877-SAMHSA-7 (1-877-726-4727)
  </p>
</address>
