<div role="navigation"{{ attributes.addClass('language-assistance') }}>
  <h2>Language Assistance</h2>
  <div class="language-assistance">
    <ul class="lang">
      <li><a lang="es" href="/language-assistance-services#spanish" xml:lang="es">Español</a></li>
      <li><a lang="zh" href="/language-assistance-services#chinese" xml:lang="zh">繁體中文</a></li>
      <li><a lang="vi" href="/language-assistance-services#vietnamese" xml:lang="vi">Tiếng Việt</a></li>
      <li><a lang="ko" href="/language-assistance-services#korean" xml:lang="ko">한국어</a></li>
      <li><a lang="tl" href="/language-assistance-services#tagalog" xml:lang="tl">Tagalog</a></li>
      <li><a lang="ru" href="/language-assistance-services#russian" xml:lang="ru">Русский</a></li>
      <li><a lang="ar" href="/language-assistance-services#arabic" xml:lang="ar">العربية</a></li>
      <li><a lang="sg" href="/language-assistance-services#creole" xml:lang="sg">Kreyòl Ayisyen</a></li>
      <li><a lang="fr" href="/language-assistance-services#french" xml:lang="fr">Français</a></li>
      <li><a lang="pl" href="/language-assistance-services#polish" xml:lang="pl">Polski</a></li>
      <li><a lang="pt" href="/language-assistance-services#portuguese" xml:lang="pt">Português</a></li>
      <li><a lang="it" href="/language-assistance-services#italian" xml:lang="it">Italiano</a></li>
      <li><a lang="de" href="/language-assistance-services#german" xml:lang="de">Deutsch</a></li>
      <li><a lang="ja" href="/language-assistance-services#japanese" xml:lang="ja">日本語</a></li>
      <li><a lang="fa" href="/language-assistance-services#farsi" xml:lang="fa">فارسی</a></li>
      <li><a lang="en" href="/language-assistance-services#english" xml:lang="en">English</a></li>
    </ul>
  </div>
</div>
