// Grids
//=====================================================================

//Creating our Singularity grid
$max-col: 12;
$gutters: 14px;
$gutters-main-layout: 5px 14px;
$gutters-main-layout-home: 14px 30px;
@include add-grid($max-col);
@include add-gutter($gutters);

// Breakpoints
$break-mobile-landscape:   480px;
$break-tablet-portrait:    640px;
$break-tablet-landscape:   880px;
$break-desktop:           1024px;
$break-fullsize:          1200px;
$break-widescreen:        1400px;
$break-mobile-only: 0 $break-mobile-landscape - 1;
