// Standardized colors as defined in the styleguide: https://hhs.github.io/samhsa-pattern-library/colors/
$white:         #FFFFFF;
$black:         #000000;
$midnight:      #1E384B;
$teal:          #1A6986;
$charcoal:      #4A4A4A;
$steel:         #5F636A;
$crimson:       #CD3835;
$crimson-60:    #D45653;
$crimson-40:    #DC7371;
$crimson-20:    #E69B9A;
$ruby:          #A82D2B;
$sapphire:      #1F419A;
$smoke:         #CDCDCD;
$silver:        #DDDDDD;
$mist:          #EEEEEE;
$success:       #0F9D58;
$light-green:   #CFEBDE;
$dark-yellow:   #FFBE2E;
$light-yellow:  #FAF3D1;
$teal:          #1A6986;
$teal-80:       #3C7F98;
$teal-60:       #5E96AA;
$teal-40:       #8CB4C2;
$teal-20:       #BAD2DA;
$midnight-80:   #405666;
$midnight-60:   #617381;
$midnight-40:   #8E9BA5;
$midnight-20:   #BBC3C9;
$fog:           #A3A7A9;
$cerulean:      #5191CD;
$cerulean-80:   #85BCE4;
$cerulean-60:   #9DC9E9;
$cerulean-40:   #C2DDF1;
$cerulean-20:   #DAEAF6;
$vivid-blue:    #2491FF;

// Rogue colors - these are colors in use on prod but that do not exist in
// our standard palette. We need to add them to our palette or replace them
// with existing palette colors.
$medium-gray:   #DEE4E7;
$light-gray:    #CDCDCD;
$holy-gray:     #DADADA;

// Social Media colors - these are necessarily customized
$fb-color:      #3A67B8;  // Facebook
$tw-color:      #00A2F9;  // Twitter
$yt-color:      #FF0000;  // YouTube
$blog-color:    #1C7491;  // SAMHSA Blog
$lk-color:      #0E76A8;  // LinkedIn
$rss-color:     #F89C40;  // RSS
$ig-color:      #C13584;  // Instagram

// Utility Color Variables
// These are aliases to the standard palette above. These are used to isolate
// colors by use case so we can change them without impacting other uses
// of the same color.
// TODO: Define when utility variables are used
//-----------------------------------------------------

// Font Colors
$base-font-color: $charcoal;
$action-color: $sapphire;
$action-color-hover: $ruby;
$light-font-color: $white;

// Message Colors
$message-color: $light-gray;
$error-color: $crimson;
$warning-color: $dark-yellow;
$status-color: $success;

// Background Colors
$base-background-color: $white;
$second-background-color: $white;
$base-accent-color: $midnight;
$highlight-color: $light-yellow;
$megamenu-highlight-color: $midnight;
$megamenu-gray: $mist;

// Main menu color
$mm-bg-1: $midnight;
$mm-bg-2: $midnight;
$mm-color: $white;
$mm-icon-color: $white;

// Side menu color
$sm-bg-1: $crimson;
$sm-bg-2: $light-gray;
$sm-bg-3: $mist;
$sm-bg-4: $holy-gray;
$sm-color-1: $white;
$sm-color-2: $black;
$sm-border: 1px solid $white;

// This is superfish SAMHSA Main Menu
$superfish-1-color: $white;
$superfish-1-color-txt: $midnight;
$superfish-1-background-color-level-first: $midnight;
$superfish-1-background-color-level-second: $mist;
$superfish-1-background-color-level-third: $light-gray;
$superfish-1-background-color-level-fourth: $fog;

/* Right Sidebar -- Recent Posts */
$border-color-line: $fog;

/* 508 - Focus Colors */
$focus-blue: $vivid-blue;
