{#
/**
 * Custom Block - Homepage Spotlight field_add_spotlight_item
 * Field - field_add_spotlight_item
#}


{% for item in items %}
  {% if loop.index == 2 %}
  <div class="spotlight-first boxes">
    {{ item.content }}
  </div>
  {% endif %}
{% endfor %}

<div class="spotlight-second boxes">
  {% for item in items %}
    {% if loop.index != 1 and loop.index != 2 %}
       {{ item.content }}
    {% endif %}
  {% endfor %}
</div>
