{#
/**
 * Homepage Spotlight Content Type - Homepage Spotlight field_add_spotlight_item
 * Field - field_add_spotlight_item
#}


{% for item in items %}
  {% if loop.index == 2 %}
  <div class="spotlight-first boxes">
    {{ item.content }}
  </div>
  {% endif %}
{% endfor %}

<div class="spotlight-second boxes">
  {% for item in items %}
    {% if loop.index == 3 or loop.index == 4 or loop.index == 5 %}
      {{ item.content }}
    {% endif %}
  {% endfor %}
</div>
