{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: The icon image representing the file type.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 * @see stable_preprocess_image_widget()
 */
#}

{% set mimetype = file.filemime.value|split('/', 2)[1]|upper %}

{{ attach_library('classy/file') }}
    <span {{ attributes }}>{{ icon }} <a href="{{ link['#url'] }}"> {{ description }} ({{ mimetype }} | {{ file_size }})</a></span>


