{#
/**
 * @file
 * Default theme implementation to display a formatted social link field.
 *
 * Available variables:
 * - links: A collection of social networks links data.
 *   - text: Social link text/icon.
 *   - url: Social network profile link.
 *   - title: Social network name.
 * - new_tab: Is need to open a new tab.
 * - appearance: Parameters tha are responsible of appearance.
 *   - orientation: Orientation of links list.
 */
#}

{%
set classes = [
'social-link-field',
appearance.orientation,
]
%}

{% spaceless %}
  {% if links %}
    <ul {{ attributes.addClass(classes) }}>
      {% for link in links %}
        {% if appearance.orientation == "horizontal" %}
          {% if link.title == "Twitter" %}
            <li>
              <a class="twitter-timeline" data-height="400" data-chrome="nofooter" href="{{ link.url }}">Tweets by {{ link.url|replace({'https://www.twitter.com/': '@'}) }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
          {% else %}
          {% endif %}
        {% else %}
        <li>
          <a href="{{ link.url }}" class="{{ link.class }}" title="{{ link.title }}"{% if new_tab %} target="_blank"{% endif %}>
            {{ link.text }} {{ link.url|replace({'https://www.twitter.com/': '@'}) }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endspaceless %}


