// Forms
//==========================================================================

form {
  margin: $base-spacing 0;
}

fieldset {
  background-color: transparent;
  margin: 0 0 $small-spacing;
  padding: $form-padding $form-padding*2;
  border-radius: $base-border-radius;
  border: $base-border;
}

legend {
  font-weight: $weight-bold;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  cursor: pointer;
  vertical-align: top;
  display: block;
  font-weight: $weight-bold;
  margin-bottom: $small-spacing / 2;
}

// not a typo -- to use variable as css selector, wrap in #{}
#{$form-input-text},
select,
textarea {
  display: block;
  font-family: $base-font-family;
  vertical-align: middle;
  margin: 0 0 $small-spacing;
  padding: $form-padding;
  border-radius: $base-border-radius;
  border: $base-border;
  background-color: $form-field-bg;
  box-sizing: border-box;
  width: 100%;
  font-size: $base-font-size;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $form-focus-color;
    box-shadow: $form-box-shadow-focus;
  }

  &:disabled {
    cursor: not-allowed;
    color: $medium-gray;

    &:hover {
      border: $base-border;
    }
  }
}

#{
  $form-input-text
  } {
  line-height: $form-line-height; //line height is used to make the submit button the same height as inputs
  padding: 0 $form-padding;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

input[type="submit"],
input[type="reset"],
.button,
button:not(.toolbar-icon) {
  @include button();
}

input[type="tel"],
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea,
select {
  //-webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid $silver;
  background-color: $white;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 32px;

  // added font for USWDS

}

//overwriting chosen library select box styles

.chosen-container.chosen-container-single .chosen-single {
  height: 32px;
  border: $base-border;
  border-radius: 0;
  background: $white none;
  line-height: 28px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}
