// Tables
//------------------------------------------
table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: auto;
  width: 100% !important;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  background-color: transparent;
  border: $base-border;
}

th {
  font-weight: $weight-bold;
  vertical-align: middle;
}

td {
  font-weight: $weight-regular;
  vertical-align: top;
}

tbody tr:nth-child(2n+1) {
  background-color: $mist;
}

th,
td {
  border-color: $base-border-color;
}
