html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  min-width: 320px;
  background-color: $white;
}
