// Based on https://engineering.18f.gov/css/architecture/
// Meant for major elements, like body and links.

// Typography
//==========================================================================

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: $weight-bold;
  line-height: $heading-line-height;
  margin: $base-spacing 0 $small-spacing;
  color: $midnight;
  overflow-wrap: break-word;
}

h1 {
  font-size: 24px;
  margin-top: 0;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    width: 80px;
    content: "";
    border-bottom: 4px solid $crimson;
    bottom: -7px;
  }
}

h2 {
  font-size: 2rem;
  margin: $h2-spacing;
}

h3 {
  font-size: 1.8rem;
  font-weight: $weight-bold;
}

h3.h2spacing {
  margin: $h2-spacing;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: $weight-regular;
}

p {
  margin: 0 0 $small-spacing;
  overflow-wrap: break-word;
}

a {
  transition: color $base-duration $base-timing;
  @include hover-unstyled-link;
  overflow-wrap: break-word;
}

strong, b {
  font-weight: $weight-bold;
}

hr {
  border-bottom: 1px solid $steel;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

//Blockquote
//-----------------------------------

blockquote {
  margin: 0 0 $base-spacing 0.5em;
  padding: 0 0 0 1em;
  border-left: 5px solid $base-font-color;
  line-height: 1.4;
  overflow-wrap: break-word;
}

// Links
//------------------------------------------

a {
  @include link-colors($action-color, $action-color-hover, $action-color-hover, $action-color, $action-color-hover);
}

// samhsa-icon font icons
//==============================================

// Create the font family
//----------------------------------------------
@font-face {
  font-family: 'samhsa-icons';
  src: url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr');
  src: url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff2?xd8hxr') format('woff2'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.ttf?xd8hxr') format('truetype'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff?xd8hxr') format('woff'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.svg?xd8hxr#samhsa-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="samhsa-icons-"], [class*=" samhsa-icons-"] {
  font-family: 'samhsa-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// CKEditor indents from D7
//==============================================
.rteindent1 {
  margin-left: 40px;
}

.rteindent2 {
  margin-left: 80px;
}

.rteindent3 {
  margin-left: 120px;
}

.rteindent4 {
  margin-left: 160px;
}

.rteleft {
  text-align: left;
}

.rteright {
  text-align: right;
}

.rtecenter {
  text-align: center;
}

.rtejustify {
  text-align: justify;
}

.ibimage_left {
  float: left;
}

.ibimage_right {
  float: right;
}
