{#
/**
 * @file
 * Default theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 *
 * @ingroup themeable
 */
#}
<header role="banner" class="maintenance-page-banner">
    <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
      <img src="/themes/samhsa_uswds_base/images/error-option2.png" alt="{{ 'Home'|t }}"/>
    </a>
</header>
