// @charset 'UTF-8';
/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS CUSTOM SETTINGS
This file is used to make all custom changes to USWDS variable settings.
https://designsystem.digital.gov/documentation/settings/

GLOSSARY
- GENERAL SETTINGS
- COLOR SETTING
- COMPONENT SETTINGS
- SPACING SETTING
- TYPOGRAPHY SETTINGS
- UTILITIES SETTING

----------------------------------------
 */

/*
----------------------------------------
GENERAL SETTINGS
----------------------------------------
*/

/*
----------------------------------------
COLOR SETTING
----------------------------------------
*/

/*
----------------------------------------
COMPONENT SETTINGS
----------------------------------------
*/
$theme-banner-max-width: 1000px;
$theme-header-max-width: 1000px;
$theme-header-max-width: 1000px;
$theme-identifier-max-width: 1000px;
$theme-site-alert-max-width: 1000px;

/*
----------------------------------------
SPACING SETTING
----------------------------------------
*/
$theme-grid-container-max-width: 1000px;
$theme-site-max-width: 1000px;
$theme-site-margins-breakpoint: 1000px;

/*
----------------------------------------
TYPOGRAPHY SETTINGS
----------------------------------------
*/

/*
----------------------------------------
UTILITIES SETTING
----------------------------------------
*/
