// @charset 'UTF-8';
/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS CUSTOM STYLES - GENERAL

GLOSSARY
- GRID
----------------------------------------
 */

// GRID
.grid-container {
  padding-left: 0;
  padding-right: 0;
}

// font size overrides
.usa-label,
.usa-button,
.usa-select {
  font-size: $base-font-size;
}

// font face overrides
.usa-label,
.usa-select {
  font-family: $base-font-family;
}

// generic element overrides/reset - do not change!
// if you need something different use a more specific selector in the partial

.usa-label {
  margin-top: 0;
  max-width: initial;
}

.usa-input {
  max-width: initial;
}

.usa-alert__text a {
  color: $sapphire;

  &:hover {
    color: $ruby;
  }
}
