// Footer - address and logos
//================================================

#footer-outer-wrapper {
  overflow: hidden;
  padding: 30px 35px;
  background-color: $midnight;
  color: $white;

  a {
    color: $white;
  }

  .contextual-links a {
    color: $action-color;
  }

  //Setting up 2 columns
  @include breakpoint($break-mobile-landscape) {
    text-align: left;
    .footer-address {
      @include grid-span(6, 1);
    }
    .footer-logo {
      @include grid-span(6, 7);
    }
  }
}
