// Max widths for wrapper around everything
//============================================================

#page-wrapper {
  margin: 0 auto;

  @include breakpoint($break-tablet-portrait) {
    width: $break-tablet-portrait;
  }

  @include breakpoint($break-tablet-landscape) {
    //width: $break-tablet-landscape;
    // SAMHSAWCM-9405 Temporary max page width
    width: 1000px;
  }

  @include breakpoint($break-desktop) {
    //width: $break-desktop;
    // SAMHSAWCM-9405 Temporary max page width
    width: 1000px;
  }

  @include breakpoint($break-fullsize) {
    //width: $break-fullsize;
    // SAMHSAWCM-9405 Temporary max page width
    width: 1000px;
  }

  @include breakpoint($break-widescreen) {
    //width: $break-widescreen;
    // SAMHSAWCM-9405 Temporary max page width
    width: 1000px;
  }
}
