// Postscript - layout will change in the new theme
//==========================================================================
#postscript-outer-wrapper {
  background-color: $mist;
  color: $charcoal;
  padding: 30px 35px 20px;
}
