//Right Rail Blocks
//========================

.sideblock {
  margin-bottom: $gutters;
  border: 1px solid $mist;

  .block-title {
    font-size: 1em;
    margin: 0;
    padding: 0.75em 1em;;
    background-color: $mist;
    color: $base-accent-color;

    a {
      color: $base-accent-color;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .block-content {
    padding: 1em;
  }
}

.region--sidebar-second {
  a {
    color: $sapphire;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $ruby;
    }
  }

  //Banner Block
  .rr-banner-block {
    img {
      width: 100%;
      margin-bottom: 9px;
    }
  }

  //Header Box Block
  .rr-headerbox-block {
    background-color: transparent;
    margin-bottom: $gutters;

    h2 {
      display: block;
      font-size: 1.8rem;
      font-weight: $weight-bold;
      background-color: $mist;
      line-height: 1.6;
      margin: 0;
      padding: 7px 15px;
      color: $midnight;
      text-decoration: none;
    }

    .field--name-body {
      padding: 10px 15px;
      border: 1px solid $mist;

      h3 {
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0 0 1.5em 0;

        li {
          padding: 0.25em;
          text-indent: -1em;
          margin-left: 10px;

          &:before {
            content: "\0BB \020";
          }
        }
      }

      //ul
    }

    //body
  }

  //Color BG Block
  .rr-solidbox-block {
    background-color: $mist;
    margin-bottom: $gutters;

    h2 {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 15px 15px 0;
      color: $ruby;
      text-decoration: none;
    }

    .field--name-body {
      padding: 10px 15px;
      border: 1px solid $mist;

      ul {
        list-style-type: none;
        margin: 0 0 1.5em 0;

        li {
          padding: 0.25em;
          text-indent: -1em;
          margin-left: 10px;

          &:before {
            content: "\0BB \020";
          }
        }
      }

      //ul
    }

    //body
  }
}

//end region--sidebar-second

//Header Box Block for Disaster DIstress Helpine ONLY
.disaster-distress-helpline {
  .rr-headerbox-block {
    background-color: $mist;
    margin-bottom: $gutters;

    h2 {
      display: block;
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.6;
      margin: 0;
      padding: 7px 15px;
      color: $ruby;
      text-decoration: none;
    }

    .field--name-body {
      padding: 10px 15px;
      border: 1px solid $mist;

      h3 {
        margin: 0;
      }

      ul {
        list-style-type: none;
        margin: 0 0 1.5em 0;

        li {
          padding: 0.25em;
          text-indent: -1em;
          margin-left: 10px;

          &:before {
            content: "\0BB \020";
          }
        }
      }
    }
  }
}

//leadership RR view blocks
//===========================

.rr-solidbox-block {
  .view-content {
    padding: 15px 15px 20px;

    .views-row {
      margin-bottom: 7px;
    }
  }
}

//Underage drinking RR blocks
#block-talktheyhearyourrfeaturedresources,
#block-talktheyhearyourrtakeaction,
.media-list {
  p.left {
    clear: both;

    a {
      vertical-align: top;
    }

    img.left {
      margin-right: 10px;
      margin-bottom: 10px;
      float: left;
    }
  }
}

.region-sidebar-second {
  .button, .btn {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }
}

.view-language-toggle {
  margin-bottom: 10px;
}
