@mixin collapsiblock {
  div {
    a {
      font-weight: $weight-regular;
      color: $charcoal;
      font-size: 15px;
      text-decoration: none;

      h2 {
        // SAMHSAWCM-9236 - Contradicts global header styling
        font-weight: $weight-regular;
        color: $charcoal;
        font-size: 15px;
        margin: auto;
        text-decoration: none;
        border-top: solid 1px $border-color-line;
        @include list-padding-top-and-bottom(20px, 20px, 10px, 35px);
      }

      &:focus {
        h2 {
          outline: 5px auto -webkit-focus-ring-color;
          outline-offset: 0;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            outline: thin dotted;
          }
        }
      }
    }
  }
}
