// This "should" be the mixin for all buttons
@mixin button() {
  appearance: none;
  background-color: $teal;
  border: 1px solid $teal;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-weight: $weight-regular;
  line-height: $form-line-height;
  padding: 0 1em;
  margin: 0 $small-spacing / 2 $small-spacing / 2 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover,
  &:active,
  &:focus {
    background-color: $steel;
  }
  &:focus {
    box-shadow: $form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover,
    &:active,
    &:focus {
      background-color: $steel;
    }
  }
}

@mixin button-secondary-1 {
  display: inline-block;
  background-color: $white;
  border: 1px solid $teal;
  font-family: $base-font-family;
  font-size: 16px;
  font-weight: $weight-regular;
  color: $teal;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  line-height: 1.5;

  &:hover {
    color: $steel;
    border: 1px solid $steel;
  }
}

@mixin inverted-button-1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: $weight-regular;
  cursor: pointer;
  padding: 15px 20px;
  margin: 5px;
  background-color: $teal;
  color: $white;
  border: solid 1px $white;

  &:hover {
    color: $teal;
    background-color: $white;
  }
}
