@mixin views-field-title-h3 {
  h3 {
    margin-top: 10px;

    & {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:visited {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:hover {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:active {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:focus {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }
  }
}

@mixin views-field-title {
  margin-top: 10px;
  a {
    & {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:visited {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:hover {
      color: $ruby;
      text-decoration: underline;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:active {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }

    &:focus {
      color: $sapphire;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
      line-height: 28px;
    }
  }
}

@mixin get_res_link {
  a {
    & {
      color: $sapphire;
      text-decoration: none;
      font-size: 15px;
      font-weight: normal;
      line-height: 28px;
    }

    &:visited {
      color: $sapphire;
      text-decoration: none;
      font-size: 15px;
      font-weight: normal;
      line-height: 28px;
    }

    &:hover {
      color: $sapphire;
      text-decoration: none;
      font-size: 15px;
      font-weight: normal;
      line-height: 28px;
    }

    &:active {
      color: $sapphire;
      text-decoration: underline;
      font-size: 15px;
      font-weight: normal;
      line-height: 28px;
    }

    &:focus {
      color: $sapphire;
      text-decoration: none;
      font-size: 15px;
      font-weight: normal;
      line-height: 28px;
    }
  }
}

@mixin view-block-facets {
  .block-facets {
    .facet-item {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
      margin-top: 10px;

      label {
        font-weight: normal;
      }
    }
  }
}

@mixin view-block-item {
  width: 600px;
}

@mixin view-block-style {
  color: $charcoal;
  font-size: 15px;
  line-height: 20px;
}

@mixin view-block-image {
  float: left;
  display: block;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 85px;

}

@mixin facet-item-text {
  width: 200px;
  font-size: 15px;
  color: $charcoal;
  font-weight: $weight-regular;
  text-align: center;
}

@mixin bx-h-and-bx-w($bx-w, $bx-h) {
  width: $bx-w;
  height: $bx-h;
}

@mixin list-padding-top-and-bottom($list-top, $list-bottom, $list-left, $list-right) {
  padding: $list-top $list-right $list-bottom $list-left;
}

@mixin rc-reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin rc-horizontal-list {
  @include rc-reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}
