// Buttons and Links
//===============================================

@mixin hover-unstyled-link() {
  &:link {
    text-decoration: underline;
  }
  &:hover,
  &:active,
  &:focus ,
  &:visited {
    text-decoration: none;
  }
}
