<h3 class="site-preview-heading">Default</h3>
<nav aria-label="Pagination" class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Previous page"
      >
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
        </svg>

        <span class="usa-pagination__link-text"> Previous </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 1"
      >
        1
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 9"
      >
        9
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Page 10"
        aria-current="page"
      >
        10
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 11"
      >
        11
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Last page, page 24"
      >
        24
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Next page"
      >
        <span class="usa-pagination__link-text"> Next </span>

        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<h3 class="site-preview-heading">unbounded</h3>
<nav aria-label="Pagination," class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Previous page"
      >
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
        </svg>

        <span class="usa-pagination__link-text"> Previous </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 1"
      >
        1
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 9"
      >
        9
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Page 10"
        aria-current="page"
      >
        10
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 11"
      >
        11
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Page 12"
      >
        12
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Next page"
      >
        <span class="usa-pagination__link-text"> Next </span>

        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>

<h3 class="site-preview-heading">Default (Spanish)</h3>

<nav aria-label="Paginación" class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Anterior página"
      >
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
        </svg>

        <span class="usa-pagination__link-text"> Anterior </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 1"
      >
        1
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 9"
      >
        9
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Página 10"
        aria-current="page"
      >
        10
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 11"
      >
        11
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Última página, página 24"
      >
        24
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Siguiente página"
      >
        <span class="usa-pagination__link-text"> Siguiente </span>

        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>



<h3 class="site-preview-heading">unbounded (Spanish)</h3>
<nav aria-label="Paginación," class="usa-pagination">
  <ul class="usa-pagination__list">
    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__previous-page"
        aria-label="Anterior página"
      >
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_before"></use>
        </svg>

        <span class="usa-pagination__link-text"> Anterior </span>
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 1"
      >
        1
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 9"
      >
        9
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button usa-current"
        aria-label="Página 10"
        aria-current="page"
      >
        10
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 11"
      >
        11
      </a>
    </li>

    <li class="usa-pagination__item usa-pagination__page-no">
      <a
        href="javascript:void(0);"
        class="usa-pagination__button"
        aria-label="Página 12"
      >
        12
      </a>
    </li>

    <li
      class="usa-pagination__item usa-pagination__overflow"
      role="presentation"
    >
      <span> … </span>
    </li>

    <li class="usa-pagination__item usa-pagination__arrow">
      <a
        href="javascript:void(0);"
        class="usa-pagination__link usa-pagination__next-page"
        aria-label="Siguiente página"
      >
        <span class="usa-pagination__link-text"> Siguiente </span>

        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="/assets/img/sprite.svg#navigate_next"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>