<ul class="usa-card-group samhsa">

  <li class="desktop:grid-col-6 tablet:grid-col-12 usa-card samhsa no_border usa-card--image-top usa-card-two-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 id="">
          <p>Card - No Border - Image Top - No Button</p>

        </h2>
      </header>

      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="/sites/default/files/paragraphs/Flag_of_the_United_States_Department_of_Health_and_Human_Services.svg_.png" alt="HHS Icon">                  </div>
      </div>

      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

      </div>

    </div>
  </li>

  <li class="desktop:grid-col-6 tablet:grid-col-12 usa-card samhsa no_border usa-card--image-top usa-card-two-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 id="">
          <p>Card - Border - Image Top - Button</p>

        </h2>
      </header>

      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="/sites/default/files/paragraphs/Flag_of_the_United_States_Department_of_Health_and_Human_Services.svg_.png" alt="HHS Icon">                  </div>
      </div>

      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

      </div>

      <div class="usa-card__footer">
        <a href="https://designsystem.digital.gov/components/card/" class="btn primary-button-1" target="_blank">
          <button class="usa-button samhsa" data-dashlane-rid="4858a97661e31bd3">Card Button</button>
        </a>
      </div>
    </div>
  </li>

  <li class="desktop:grid-col-6 tablet:grid-col-12 usa-card samhsa no_border usa-card--flag usa-card-two-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 id="">
          <p>Card - No Border - Flag Left - No Button</p>

        </h2>
      </header>

      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="/sites/default/files/paragraphs/Flag_of_the_United_States_Department_of_Health_and_Human_Services.svg_.png" alt="HHS Icon">                  </div>
      </div>

      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

      </div>

    </div>
  </li>

  <li class="desktop:grid-col-6 tablet:grid-col-12 usa-card samhsa no_border usa-card--flag usa-card--media-right usa-card-two-col">
    <div class="usa-card__container">
      <header class="usa-card__header">
        <h2 id="">
          <p>Card - No Border - Flag Right - Button</p>

        </h2>
      </header>

      <div class="usa-card__media">
        <div class="usa-card__img">
          <img src="/sites/default/files/paragraphs/Flag_of_the_United_States_Department_of_Health_and_Human_Services.svg_.png" alt="HHS Icon">                  </div>
      </div>

      <div class="usa-card__body">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

      </div>

      <div class="usa-card__footer">
        <a href="https://designsystem.digital.gov/components/card/" class="btn primary-button-1" target="_blank">
          <button class="usa-button samhsa" data-dashlane-rid="eee6f69c0a5e1f73">Flag button</button>
        </a>
      </div>
    </div>
  </li>
</ul>
