<h3 class="site-preview-heading">Standard Alerts</h3>

<div class="usa-alert samhsa usa-alert--info">
<div class="usa-alert__body">
    <h4 class="usa-alert__heading">Informative status</h4>
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet,
    <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
    elit, sed do eiusmod.
    </p>
</div>
</div>

<div class="usa-alert samhsa usa-alert--warning">
<div class="usa-alert__body">
    <h4 class="usa-alert__heading">Warning status</h4>
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet,
    <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
    elit, sed do eiusmod.
    </p>
</div>
</div>

<div class="usa-alert samhsa usa-alert--error" role="alert">
<div class="usa-alert__body">
    <h4 class="usa-alert__heading">Error status</h4>
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet,
    <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
    elit, sed do eiusmod.
    </p>
</div>
</div>

<div class="usa-alert samhsa usa-alert--success">
<div class="usa-alert__body">
    <h4 class="usa-alert__heading">Success status</h4>
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet,
    <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a>
    elit, sed do eiusmod.
    </p>
</div>
</div>

<h3 class="site-preview-heading">Emergency Alert</h3>

<div class="usa-alert usa-alert--emergency usa-alert--slim clearfix samhsa ">
  <div class="usa-alert__body">
    <div class="usa-alert__heading"><p>Alert - Emergency Type - Default Size - Icon</p>
    </div>
    <div class="usa-alert__text"><p>Lorem ipsum dolor sit amet,&nbsp;<a href="javascript:void(0);">consectetur adipiscing</a>&nbsp;elit, sed do eiusmod.</p>
    </div>
  </div>
</div>

<h3 class="site-preview-heading">Slim Alert</h3>

<div class="usa-alert samhsa usa-alert--info usa-alert--slim">
<div class="usa-alert__body">
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
</div>
</div>

<h3 class="site-preview-heading">Alert with no icon</h3>

<div class="usa-alert samhsa usa-alert--info usa-alert--no-icon">
<div class="usa-alert__body">
    <p class="usa-alert__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
</div>
</div>
