<h3 class="site-preview-heading">xDefault</h3>
<button class="usa-button">Default</button>
<button class="usa-button usa-button--hover">Hover</button>
<button class="usa-button usa-button--active">Active</button>
<button class="usa-button usa-focus">Focus</button>
<button class="usa-button" disabled>Disabled</button
><button class="usa-button usa-button--unstyled">Unstyled button</button>

<h3 class="site-preview-heading">Secondary color</h3>
<button class="usa-button usa-button--secondary">Default</button>
<button class="usa-button usa-button--secondary usa-button--hover">
  Hover
</button>
<button class="usa-button usa-button--secondary usa-button--active">
  Active
</button>
<button class="usa-button usa-button--secondary usa-focus">Focus</button>
<button class="usa-button usa-button--secondary" disabled>Disabled</button
><button class="usa-button usa-button--secondary usa-button--unstyled">
  Unstyled button
</button>

<h3 class="site-preview-heading">Accent cool color</h3>
<button class="usa-button usa-button--accent-cool">Default</button>
<button class="usa-button usa-button--accent-cool usa-button--hover">
  Hover
</button>
<button class="usa-button usa-button--accent-cool usa-button--active">
  Active
</button>
<button class="usa-button usa-button--accent-cool usa-focus">Focus</button>
<button class="usa-button usa-button--accent-cool" disabled>Disabled</button
><button class="usa-button usa-button--accent-cool usa-button--unstyled">
  Unstyled button
</button>

<h3 class="site-preview-heading">Accent warm color</h3>
<button class="usa-button usa-button--accent-warm">Default</button>
<button class="usa-button usa-button--accent-warm usa-button--hover">
  Hover
</button>
<button class="usa-button usa-button--accent-warm usa-button--active">
  Active
</button>
<button class="usa-button usa-button--accent-warm usa-focus">Focus</button>
<button class="usa-button usa-button--accent-warm" disabled>Disabled</button
><button class="usa-button usa-button--accent-warm usa-button--unstyled">
  Unstyled button
</button>

<h3 class="site-preview-heading">Base color</h3>
<button class="usa-button usa-button--base">Default</button>
<button class="usa-button usa-button--base usa-button--hover">Hover</button>
<button class="usa-button usa-button--base usa-button--active">Active</button>
<button class="usa-button usa-button--base usa-focus">Focus</button>
<button class="usa-button usa-button--base" disabled>Disabled</button
><button class="usa-button usa-button--base usa-button--unstyled">
  Unstyled button
</button>

<h3 class="site-preview-heading">Outline</h3>
<button class="usa-button usa-button--outline">Default</button>
<button class="usa-button usa-button--outline usa-button--hover">Hover</button>
<button class="usa-button usa-button--outline usa-button--active">
  Active
</button>
<button class="usa-button usa-button--outline usa-focus">Focus</button>
<button class="usa-button usa-button--outline" disabled>Disabled</button
><button class="usa-button usa-button--outline usa-button--unstyled">
  Unstyled button
</button>

<h3 class="site-preview-heading">Outline inverse</h3>
<div class="bg-base-darkest padding-1" style="max-width: fit-content">
  <button class="usa-button usa-button--outline usa-button--inverse">
    Default
  </button>
  <button
    class="usa-button usa-button--outline usa-button--inverse usa-button--hover"
  >
    Hover
  </button>
  <button
    class="
      usa-button usa-button--outline usa-button--inverse usa-button--active
    "
  >
    Active
  </button>
  <button class="usa-button usa-button--outline usa-button--inverse usa-focus">
    Focus
  </button>
  <button class="usa-button usa-button--outline usa-button--inverse" disabled>
    Disabled</button
  ><button
    class="
      usa-button usa-button--outline usa-button--inverse usa-button--unstyled
    "
  >
    Unstyled button
  </button>
</div>

<h3 class="site-preview-heading">Big button</h3>
<button class="usa-button usa-button--big">Default</button>
<button class="usa-button usa-button--big usa-button--unstyled">
  Unstyled button
</button>
