{#
/**
 * This is a copy of the block template from the Omega theme
 * it simply allows for block titles to contain links
 * without this template, links are rendered as text rather than being a link
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
{%
  set heading_id = attributes.id ~ '-menu'|clean_id
%}
<div{{ attributes.addClass(classes) }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  <div{{ content_attributes.addClass('block-content') }}>
    {% block content %}
      {{ content.field_title }}
      {{ content.body }}
      {{ node.body }}
    {% endblock %}
  </div>
</div>





