<div class="hhs-ribbon">
  <a href="https://www.hhs.gov" title="hhs.gov">
    <svg class="hhs-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.333 45.333">
      <path
        d="M36.355 4.597s-.711 1.359-2.145 2.577c-1.022.868-12.715 8.336-13.288 8.805-.573.469-1.624 1.73-2.484 5.433-.695 2.988-1.147 1.874-3.442 1.78-1.341-.055-5.066-1.076-4.78 1.922 0 0 .457-.668 5.544.045 2.007.281 3.64-.399 4.111-1.967.477-1.593 1.165-4.296 2.198-5.714.479-.655 9.847-6.65 12.428-8.243.943-.582 3.962-2.483 1.858-4.638zM6.966 27.126s.764-.656 2.772.187c2.007.843 7.296 3.332 8.7 4.403.86.656 3.25 1.78 2.581 2.998-.67 1.217-3.92 1.779-3.251 4.402.67 2.623 4.206 1.499 4.685.843.477-.655-1.574.384-2.294-1.498-.573-1.498.431-2.497 1.816-3.465.669-.469 1.572-.848 1.434-2.062-.095-.843-1.529-1.498-2.963-2.341-1.434-.843-6.979-3.56-9.177-4.59-2.2-1.031-4.589-.657-4.303 1.123z"/>
      <path fill="#495E6D"
            d="M38.509 7.769c-.271.492-.477 1.197-1.592 1.975-2.087 1.458-10.167 6.666-12.028 7.828-1.052.656-1.891 1.882-2.151 2.435-.287.609-.714 2.134-.905 4.757-.037.502-1.306 1.334-1.15 1.706.15.358 1.125.183 1.087.457-.035.245-.322.615-.322.854 0 .281.573.027.43.328-.235.496.143.606.287.984.144.374-.048.796.082 1.11.228.55 1.061.65 2.387.623 1.327-.025 1.93.93 1.641 1.78-.382 1.124-1.269 1.106-2.648 2.068-1.38.962-1.441 2.187-.637 3.223.614.792 2.922 1.173 4.371-.355.299-.347-.656.122-2.037-.632 0 0-.902-.676-.424-1.586.477-.91 1.246-1.3 2.096-1.82.849-.519 1.964-.806 1.91-1.923-.053-1.118-1.168-1.273-1.618-1.3-.452-.026-1.154.014-1.778-.017-.95-.048-1.236-.516-1.291-2.388-.017-.604-.834-.283-.381-1.078.238-.416-.453-.246-.916-.459-.398-.185.462-1.055 1.059-1.882.185-.257-.11-.592 0-1.827.096-1.078.573-2.483 1.959-3.467.676-.479 3.633-2.388 4.494-2.903 1.2-.719 7.024-4.638 8.023-5.424 1.883-1.481-.127-3.198.052-3.067z"/>
      <path fill="#495E6D"
            d="M36.982 13.919s-1.489 1.347-2.581 2.06c-1.147.75-6.309 3.606-7.456 4.589-1.147.984-1.099 1.827-1.099 1.827l-.191 2.436s-.716.75-.812 1.031c-.095.281.479.327.908.562.43.234-.081.445.095.656.335.398.599.075.371.749-.036.105.287.422.25.597-.057.276-.204.468.047.714.287.281 1.21.757 3.323.305 2.294-.492 3.8 1.37 4.947 1.686.389.106 1.685.527 3.728-1.124.885-.715-.538-.07-2.581-.96-2.181-.949-2.838-1.013-4.302-.726-1.255.246-2.186.457-2.677.304-.418-.131-.069-.78-.382-.89-.633-.222-.203-.538-.574-.748-.379-.217-.155-.305-.166-.738-.009-.305-.33-.223-.789-.492-.358-.211.489-.6.61-.914.143-.375-.036-.913.059-1.698.168-1.378 2.148-2.348 3.203-2.951 1.147-.655 4.431-2.736 5.209-3.279 1.816-1.264.86-2.996.86-2.996z"/>
    </svg>
    U.S. Department of Health & Human Services
  </a>
</div>
