<ul {{ attributes.addClass('share-buttons') }}>
  <li>
    <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(location.href))" aria-label="Share on Facebook" title="Share on Facebook">
      <span class="fa fa-facebook-square fa-w-14" aria-hidden="true"></span>
    </a>
  </li>
  <li>
    <a href="#" onclick="window.open('https://twitter.com/intent/tweet?url=' + encodeURIComponent(location.href))" aria-label="Share on Twitter" title="Share on Twitter">
      <span class="fa fa-twitter-square fa-w-14" aria-hidden="true"></span>
    </a>
  </li>
  <li><a href="#" onclick="window.open('https://samhsa.us4.list-manage.com/subscribe?u=d0780dc94825e65acd61c17dc&id=ee1c4b138c', '');return false;" aria-label="Share via Email" title="Share via Email">
      <span class="fa fa-envelope-o fa-w-14" aria-hidden="true"></span>
    </a>
  </li>
</ul>
