{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ url('<front>') }}" title="Home" rel="home" class="site-logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 499.3 168.6" class="samhsa-logo">
      <path d="M30.5,129.2a9.2,9.2,0,0,0,4.6,1.3c2.9,0,4.6-1.6,4.6-3.9s-1.3-3.4-4-4.6-5.5-3.3-5.5-6.4,2.8-6.2,7-6.2a9.6,9.6,0,0,1,4.5,1l-.8,2.4a7.6,7.6,0,0,0-3.8-1c-2.9,0-4,1.8-4,3.4s1.3,3.2,4.2,4.5,5.2,3.6,5.2,6.7-2.6,6.5-7.5,6.5a11.2,11.2,0,0,1-5.3-1.3Z"/>
      <path d="M58.1,128.1c0,1.8.1,3.2.2,4.5H55.7v-2.4h-.1a5.6,5.6,0,0,1-4.9,2.8c-2.6,0-5.2-1.7-5.2-7v-9.8h2.9v9.3c0,3,.8,5.1,3.3,5.1A3.7,3.7,0,0,0,55,128a3.7,3.7,0,0,0,.3-1.5V116.2h2.8Z"/>
      <path d="M61.9,132.6c.1-1,.1-2.8.1-4.1V108.7h2.9v9.9h0a5.4,5.4,0,0,1,5-2.8c3.6,0,6.2,3.3,6.2,8.4s-3.3,8.8-6.7,8.8a5.3,5.3,0,0,1-4.8-2.9h-.1v2.5Zm3-6.3a3.4,3.4,0,0,0,.1,1,4,4,0,0,0,3.9,3.3c2.8,0,4.3-2.6,4.3-6.3s-1.4-6.1-4.3-6.1a4.2,4.2,0,0,0-3.9,3.4,4.9,4.9,0,0,0-.1,1.2Z"/>
      <path d="M78.5,129.7a7.3,7.3,0,0,0,3.6,1.1c2,0,3-1.1,3-2.5s-.8-2.1-2.8-3.1-4.1-2.7-4.1-4.6,2.1-4.8,5.4-4.8a7.7,7.7,0,0,1,3.7,1l-.7,2.1a6,6,0,0,0-3.1-.9,2.2,2.2,0,0,0-2.5,2.2c0,1.3.8,1.9,2.8,2.8s4,2.6,4,5-2.2,4.9-5.8,4.9a7.9,7.9,0,0,1-4.2-1.1Z"/>
      <path d="M94.1,111.6v4.6h4v2.2h-4v9.1c0,2.1.7,3.1,2.1,3.1l1.6-.2v2.2a8.1,8.1,0,0,1-2.5.3,4.2,4.2,0,0,1-3-1.1c-.8-.9-1.1-2.3-1.1-4.3v-9.1H88.9v-2.2h2.4v-3.9Z"/>
      <path d="M108.8,132.6l-.3-2h0a5.6,5.6,0,0,1-4.6,2.4,4.5,4.5,0,0,1-4.6-4.7c0-4.1,3.4-6.1,9-6.1v-.4c0-1.6-.4-3.8-3.4-3.8a6.8,6.8,0,0,0-3.8,1.1l-.7-1.9a9.2,9.2,0,0,1,5-1.4c4.5,0,5.8,3.1,5.8,6.5v6.5a23,23,0,0,0,.2,3.8Zm-.5-8.4c-2.6-.1-6.2.4-6.2,3.7a2.6,2.6,0,0,0,2.6,2.9,3.6,3.6,0,0,0,3.5-2.7,2.8,2.8,0,0,0,.1-.9Z"/>
      <path d="M115,120.6c0-1.8-.1-3.1-.2-4.4h2.6v2.5h.1a5.5,5.5,0,0,1,4.9-2.9c2.3,0,5.3,1.5,5.3,6.6v10.2h-2.9v-9.8c0-2.4-.8-4.6-3.3-4.6a3.9,3.9,0,0,0-3.6,3,5.2,5.2,0,0,0-.2,1.4v10H115Z"/>
      <path d="M142.2,132.1a9.1,9.1,0,0,1-4.1.8c-4.5,0-7.5-3.2-7.5-8.3s3.1-8.7,8.1-8.7a8.2,8.2,0,0,1,3.6.7l-.6,2.3a5.5,5.5,0,0,0-3-.7c-3.4,0-5.2,2.9-5.2,6.2s2.1,6.2,5.2,6.2a6.8,6.8,0,0,0,3.1-.7Z"/>
      <path d="M146.2,124.9c.1,4.3,2.4,5.8,5.1,5.8a9.7,9.7,0,0,0,4-.8l.5,2.1a11.5,11.5,0,0,1-4.9.9c-4.7,0-7.5-3.3-7.5-8.2s2.8-8.9,7.1-8.9,6.2,4.4,6.2,7.6c0,.7-.1,1.1-.1,1.5Zm7.7-2.1c0-2.3-.9-4.8-3.6-4.8s-3.9,2.6-4.1,4.8Z"/>
      <path d="M169,125.5l-2.1,7.1H164l7-22.9h3.3l7,22.9h-2.9l-2.2-7.1Zm6.7-2.2-2-6.4c-.4-1.5-.8-3-1.1-4.5h-.1a36.9,36.9,0,0,1-1.1,4.5l-1.9,6.4Z"/>
      <path d="M183.5,132.6c.1-1,.1-2.8.1-4.1V108.7h2.9v9.9h.1a5.3,5.3,0,0,1,4.9-2.8c3.7,0,6.3,3.3,6.2,8.4s-3.3,8.8-6.6,8.8a5.3,5.3,0,0,1-4.9-2.9h-.1v2.5Zm3-6.3a3.4,3.4,0,0,0,.1,1,4.1,4.1,0,0,0,3.9,3.3c2.8,0,4.3-2.6,4.3-6.3s-1.4-6.1-4.3-6.1a4.3,4.3,0,0,0-3.9,3.4c0,.4-.1.8-.1,1.2Z"/>
      <path d="M213.2,128.1c0,1.8,0,3.2.1,4.5h-2.5l-.2-2.4h-.1a5.6,5.6,0,0,1-4.8,2.8c-2.7,0-5.2-1.7-5.2-7v-9.8h2.9v9.3c0,3,.8,5.1,3.2,5.1a3.8,3.8,0,0,0,3.5-2.6,6.8,6.8,0,0,0,.2-1.5V116.2h2.9Z"/>
      <path d="M216.6,129.7a7.7,7.7,0,0,0,3.6,1.1c2,0,3-1.1,3-2.5s-.8-2.1-2.8-3.1-4.1-2.7-4-4.6,2.1-4.8,5.3-4.8a7.1,7.1,0,0,1,3.7,1l-.7,2.1a6,6,0,0,0-3.1-.9,2.2,2.2,0,0,0-2.5,2.2c0,1.3.8,1.9,2.8,2.8s4,2.6,4,5-2.2,4.9-5.8,4.9a7.9,7.9,0,0,1-4.2-1.1Z"/>
      <path d="M230.5,124.9c0,4.3,2.4,5.8,5.1,5.8a10,10,0,0,0,4-.8l.5,2.1a11.5,11.5,0,0,1-4.9.9c-4.7,0-7.5-3.3-7.5-8.2s2.7-8.9,7.1-8.9,6.1,4.4,6.1,7.6v1.5Zm7.7-2.1c0-2.3-.9-4.8-3.7-4.8s-3.8,2.6-4,4.8Z"/>
      <path d="M258,132.6l-.2-2h-.1a5.2,5.2,0,0,1-4.5,2.4,4.5,4.5,0,0,1-4.7-4.7c0-4.1,3.5-6.1,9-6.1v-.4c0-1.6-.4-3.8-3.4-3.8a7.3,7.3,0,0,0-3.8,1.1l-.6-1.9a8.9,8.9,0,0,1,4.9-1.4c4.5,0,5.8,3.1,5.8,6.5v6.5c0,1.3.1,2.7.2,3.8Zm-.4-8.4c-2.7-.1-6.2.4-6.2,3.7s1.2,2.9,2.5,2.9a3.6,3.6,0,0,0,3.6-2.7,2.8,2.8,0,0,0,.1-.9Z"/>
      <path d="M264.2,120.6c0-1.8,0-3.1-.1-4.4h2.5l.2,2.5h.1a5.4,5.4,0,0,1,4.9-2.9c2.3,0,5.2,1.5,5.2,6.6v10.2h-2.8v-9.8c0-2.4-.8-4.6-3.4-4.6a3.8,3.8,0,0,0-3.5,3,5.2,5.2,0,0,0-.2,1.4v10h-2.9Z"/>
      <path d="M293.8,108.7v19.8c0,1.3.1,3,.1,4.1h-2.5l-.2-2.6h-.1a5.2,5.2,0,0,1-4.9,3c-3.6,0-6.4-3.3-6.4-8.4s3.1-8.8,6.7-8.8a4.7,4.7,0,0,1,4.4,2.4h0v-9.5Zm-2.9,14a5.3,5.3,0,0,0-.1-1.2,3.9,3.9,0,0,0-3.7-3.3c-2.8,0-4.4,2.8-4.4,6.3s1.5,6.1,4.3,6.1a3.9,3.9,0,0,0,3.8-3.3,4.9,4.9,0,0,0,.1-1.2Z"/>
      <path d="M321.5,122.6c-.2-3.1-.4-6.8-.3-9.6h-.1c-.7,2.6-1.6,5.5-2.6,8.5l-3.7,11h-2.1l-3.4-10.7c-1-3.2-1.8-6.1-2.4-8.8h-.1c0,2.8-.2,6.5-.4,9.8l-.5,9.8h-2.7l1.5-22.9h3.5l3.6,10.9a77,77,0,0,1,2.1,7.8h.1c.6-2.4,1.3-4.8,2.2-7.8l3.7-10.9h3.5l1.4,22.9H322Z"/>
      <path d="M330.2,124.9c0,4.3,2.4,5.8,5.1,5.8a10,10,0,0,0,4-.8l.5,2.1a11.5,11.5,0,0,1-4.9.9c-4.8,0-7.5-3.3-7.5-8.2s2.7-8.9,7.1-8.9,6.1,4.4,6.1,7.6a6.2,6.2,0,0,1-.1,1.5Zm7.7-2.1c0-2.3-.9-4.8-3.7-4.8s-3.8,2.6-4,4.8Z"/>
      <path d="M343.5,120.6c0-1.8-.1-3.1-.1-4.4h2.5l.2,2.5h0a5.7,5.7,0,0,1,5-2.9c2.2,0,5.2,1.5,5.2,6.6v10.2h-2.8v-9.8c0-2.4-.8-4.6-3.4-4.6a3.7,3.7,0,0,0-3.5,3,3,3,0,0,0-.2,1.4v10h-2.9Z"/>
      <path d="M363.6,111.6v4.6h4v2.2h-4v9.1c0,2.1.7,3.1,2.1,3.1l1.5-.2.2,2.2a8.1,8.1,0,0,1-2.5.3,4.1,4.1,0,0,1-3-1.1c-.8-.9-1.1-2.3-1.1-4.3v-9.1h-2.4v-2.2h2.4v-3.9Z"/>
      <path d="M378.4,132.6l-.3-2H378a5.2,5.2,0,0,1-4.5,2.4,4.5,4.5,0,0,1-4.7-4.7c0-4.1,3.5-6.1,9.1-6.1v-.4c0-1.6-.5-3.8-3.4-3.8a7.4,7.4,0,0,0-3.9,1.1l-.6-1.9a9.2,9.2,0,0,1,5-1.4c4.5,0,5.7,3.1,5.7,6.5v6.5a22.5,22.5,0,0,0,.3,3.8Zm-.5-8.4c-2.6-.1-6.2.4-6.2,3.7s1.2,2.9,2.6,2.9a3.6,3.6,0,0,0,3.5-2.7,2.8,2.8,0,0,0,.1-.9Z"/>
      <path d="M384.7,108.7h2.8v23.9h-2.8Z"/>
      <path d="M400.7,109.7v9.7h9.7v-9.7h2.8v22.9h-2.8V121.9h-9.7v10.7h-2.9V109.7Z"/>
      <path d="M419.1,124.9c0,4.3,2.4,5.8,5.1,5.8a10,10,0,0,0,4-.8l.5,2.1a11.7,11.7,0,0,1-5,.9c-4.7,0-7.4-3.3-7.4-8.2s2.7-8.9,7.1-8.9,6.1,4.4,6.1,7.6a6.2,6.2,0,0,1-.1,1.5Zm7.6-2.1c.1-2.3-.9-4.8-3.6-4.8s-3.8,2.6-4,4.8Z"/>
      <path d="M440.7,132.6l-.2-2h-.1a5.4,5.4,0,0,1-4.5,2.4,4.5,4.5,0,0,1-4.7-4.7c0-4.1,3.5-6.1,9-6.1v-.4c0-1.6-.4-3.8-3.4-3.8a6.8,6.8,0,0,0-3.8,1.1l-.6-1.9a8.9,8.9,0,0,1,4.9-1.4c4.5,0,5.8,3.1,5.8,6.5v6.5a23,23,0,0,0,.2,3.8Zm-.4-8.4c-2.7-.1-6.2.4-6.2,3.7s1.2,2.9,2.5,2.9a3.7,3.7,0,0,0,3.6-2.7c0-.3.1-.6.1-.9Z"/>
      <path d="M447,108.7h2.9v23.9H447Z"/>
      <path d="M457.5,111.6v4.6h3.9v2.2h-3.9v9.1c0,2.1.6,3.1,2,3.1l1.6-.2v2.2a7.4,7.4,0,0,1-2.4.3,4.3,4.3,0,0,1-3.1-1.1c-.8-.9-1.1-2.3-1.1-4.3v-9.1h-2.4v-2.2h2.4v-3.9Z"/>
      <path d="M463.9,108.7h2.8v9.8h.1a5.8,5.8,0,0,1,1.9-1.9,5.4,5.4,0,0,1,2.8-.8c2.2,0,5.2,1.5,5.2,6.7v10.1h-2.9v-9.8c0-2.4-.8-4.6-3.3-4.6a3.9,3.9,0,0,0-3.6,2.9,5.9,5.9,0,0,0-.2,1.4v10.1h-2.8Z"/>
      <path d="M108.2,164.2a9.2,9.2,0,0,0,4.6,1.3c2.9,0,4.6-1.6,4.6-3.9s-1.3-3.4-4-4.6-5.5-3.3-5.5-6.4,2.8-6.2,7-6.2a9.3,9.3,0,0,1,4.5,1l-.8,2.4a7.6,7.6,0,0,0-3.8-1c-2.9,0-4,1.8-4,3.4s1.3,3.2,4.2,4.5,5.2,3.6,5.2,6.7-2.6,6.5-7.5,6.5a11.2,11.2,0,0,1-5.3-1.3Z"/>
      <path d="M125.2,159.9c.1,4.3,2.4,5.8,5.1,5.8a9.3,9.3,0,0,0,4-.8l.5,2.1a11.5,11.5,0,0,1-4.9.9c-4.7,0-7.5-3.3-7.5-8.2s2.8-8.9,7.1-8.9,6.2,4.4,6.2,7.6c0,.7-.1,1.1-.1,1.5Zm7.7-2.1c0-2.3-.9-4.8-3.6-4.8s-3.9,2.6-4.1,4.8Z"/>
      <path d="M138.5,156c0-1.7,0-3.4-.1-4.8h2.5l.2,3h.1a4.6,4.6,0,0,1,4.2-3.4h.7v2.8h-.8c-2,0-3.4,1.6-3.8,3.7a6.1,6.1,0,0,0-.1,1.4v8.9h-2.9Z"/>
      <path d="M150.3,151.2l2.9,9.2c.5,1.4.8,2.8,1.2,4.2h.1c.3-1.4.7-2.8,1.1-4.2l2.9-9.2h3l-5.9,16.4h-2.7l-5.6-16.4Z"/>
      <path d="M166.7,146.7a1.7,1.7,0,0,1-1.8,1.8,1.7,1.7,0,0,1-1.7-1.8,1.8,1.8,0,0,1,1.8-1.9A1.7,1.7,0,0,1,166.7,146.7Zm-3.2,20.9V151.2h2.9v16.4Z"/>
      <path d="M181,167.1a9.1,9.1,0,0,1-4.1.8c-4.5,0-7.6-3.2-7.6-8.3s3.2-8.7,8.2-8.7a8.2,8.2,0,0,1,3.6.7l-.6,2.3a5.5,5.5,0,0,0-3-.7c-3.5,0-5.2,2.9-5.2,6.2s2.1,6.2,5.1,6.2a6.9,6.9,0,0,0,3.2-.7Z"/>
      <path d="M185.1,159.9c0,4.3,2.4,5.8,5.1,5.8a10,10,0,0,0,4-.8l.5,2.1a11.5,11.5,0,0,1-4.9.9c-4.8,0-7.5-3.3-7.5-8.2s2.7-8.9,7.1-8.9,6.1,4.4,6.1,7.6a6.2,6.2,0,0,1-.1,1.5Zm7.7-2.1c0-2.3-.9-4.8-3.7-4.8s-3.8,2.6-4,4.8Z"/>
      <path d="M198,164.7a7.3,7.3,0,0,0,3.6,1.1c1.9,0,2.9-1.1,2.9-2.5s-.7-2.1-2.7-3.1-4.1-2.7-4.1-4.6,2.1-4.8,5.3-4.8a7.1,7.1,0,0,1,3.7,1l-.7,2.1a5.6,5.6,0,0,0-3-.9,2.2,2.2,0,0,0-2.5,2.2c0,1.3.8,1.9,2.8,2.8s4,2.6,4,5-2.3,4.9-5.8,4.9a7.7,7.7,0,0,1-4.2-1.1Z"/>
      <path d="M219.9,160.5l-2.2,7.1h-2.9l7.1-22.9h3.3l7,22.9h-3l-2.1-7.1Zm6.6-2.2-1.9-6.4a36.9,36.9,0,0,1-1.1-4.5h-.1c-.3,1.5-.7,3-1.1,4.5l-1.9,6.4Z"/>
      <path d="M247.3,143.7v19.8c0,1.3,0,3,.1,4.1h-2.5l-.2-2.6h-.1a5.2,5.2,0,0,1-4.9,3c-3.6,0-6.4-3.3-6.4-8.4s3.1-8.8,6.7-8.8a4.6,4.6,0,0,1,4.3,2.4h.1v-9.5Zm-2.9,14a5.3,5.3,0,0,0-.1-1.2,4,4,0,0,0-3.8-3.3c-2.8,0-4.3,2.8-4.3,6.3s1.4,6.1,4.3,6.1a3.9,3.9,0,0,0,3.8-3.3,4.9,4.9,0,0,0,.1-1.2Z"/>
      <path d="M251.3,155.6c0-1.8-.1-3.1-.2-4.4h2.5l.2,2.4h.1a5.1,5.1,0,0,1,4.7-2.8,4.5,4.5,0,0,1,4.3,3.1h0a7.6,7.6,0,0,1,1.8-2.1,5.5,5.5,0,0,1,3.2-1c2.2,0,5,1.5,5,6.8v10h-2.8V158c0-2.8-.9-4.8-3.2-4.8a3.6,3.6,0,0,0-3.2,2.6,7.7,7.7,0,0,0-.2,1.5v10.3h-2.8V157.5c0-2.4-.9-4.3-3.1-4.3a3.6,3.6,0,0,0-3.3,2.9,3.4,3.4,0,0,0-.2,1.5v10h-2.8Z"/>
      <path d="M280,146.7a1.6,1.6,0,0,1-1.8,1.8,1.7,1.7,0,0,1-1.7-1.8,1.8,1.8,0,0,1,1.8-1.9A1.7,1.7,0,0,1,280,146.7Zm-3.1,20.9V151.2h2.8v16.4Z"/>
      <path d="M283.7,155.6c0-1.8,0-3.1-.1-4.4h2.5l.2,2.5h.1a5.4,5.4,0,0,1,4.9-2.9c2.3,0,5.2,1.5,5.2,6.6v10.2h-2.8v-9.8c0-2.4-.8-4.6-3.4-4.6a3.7,3.7,0,0,0-3.5,3,5.2,5.2,0,0,0-.2,1.4v10h-2.9Z"/>
      <path d="M303.7,146.7a1.7,1.7,0,0,1-1.8,1.8,1.7,1.7,0,0,1-1.7-1.8,1.7,1.7,0,0,1,1.7-1.9A1.8,1.8,0,0,1,303.7,146.7Zm-3.2,20.9V151.2h2.9v16.4Z"/>
      <path d="M306.9,164.7a7.3,7.3,0,0,0,3.6,1.1c2,0,3-1.1,3-2.5s-.8-2.1-2.8-3.1-4.1-2.7-4.1-4.6,2.1-4.8,5.4-4.8a7.7,7.7,0,0,1,3.7,1l-.8,2.1a5.3,5.3,0,0,0-3-.9,2.2,2.2,0,0,0-2.5,2.2c0,1.3.8,1.9,2.8,2.8s4,2.6,4,5-2.2,4.9-5.8,4.9a7.7,7.7,0,0,1-4.2-1.1Z"/>
      <path d="M322.6,146.6v4.6h4v2.2h-4v9.1c0,2.1.7,3.1,2.1,3.1l1.6-.2v2.2a8.1,8.1,0,0,1-2.5.3,4.2,4.2,0,0,1-3-1.1c-.8-.9-1.1-2.3-1.1-4.3v-9.1h-2.4v-2.2h2.4v-3.9Z"/>
      <path d="M329,156c0-1.7,0-3.4-.1-4.8h2.5l.2,3h.1a4.6,4.6,0,0,1,4.2-3.4h.7v2.8h-.8c-2,0-3.4,1.6-3.8,3.7a6.1,6.1,0,0,0-.1,1.4v8.9H329Z"/>
      <path d="M346.9,167.6l-.2-2h-.1a5.2,5.2,0,0,1-4.5,2.4,4.5,4.5,0,0,1-4.7-4.7c0-4.1,3.5-6.1,9-6.1v-.4c0-1.6-.4-3.8-3.4-3.8a6.8,6.8,0,0,0-3.8,1.1l-.6-1.9a8.9,8.9,0,0,1,4.9-1.4c4.5,0,5.8,3.1,5.8,6.5v6.5c0,1.3.1,2.7.2,3.8Zm-.4-8.4c-2.7-.1-6.2.4-6.2,3.7s1.2,2.9,2.5,2.9a3.7,3.7,0,0,0,3.6-2.7,2.8,2.8,0,0,0,.1-.9Z"/>
      <path d="M356.5,146.6v4.6h3.9v2.2h-3.9v9.1c0,2.1.6,3.1,2.1,3.1l1.5-.2v2.2a7,7,0,0,1-2.4.3,3.9,3.9,0,0,1-3-1.1c-.8-.9-1.1-2.3-1.1-4.3v-9.1h-2.4v-2.2h2.4v-3.9Z"/>
      <path d="M366.1,146.7a1.7,1.7,0,0,1-1.8,1.8,1.7,1.7,0,0,1-1.7-1.8,1.7,1.7,0,0,1,1.7-1.9A1.8,1.8,0,0,1,366.1,146.7Zm-3.2,20.9V151.2h2.9v16.4Z"/>
      <path d="M383.2,159.3c0,6.2-3.8,8.7-7.3,8.7s-7.2-3.1-7.2-8.5,3.4-8.7,7.4-8.7S383.2,154.1,383.2,159.3Zm-11.6.1c0,3.4,1.6,6.4,4.4,6.4s4.3-3.1,4.3-6.4-1.1-6.4-4.3-6.4S371.6,156.5,371.6,159.4Z"/>
      <path d="M386.2,155.6c0-1.8-.1-3.1-.2-4.4h2.6v2.5h.1a5.5,5.5,0,0,1,4.9-2.9c2.3,0,5.3,1.5,5.3,6.6v10.2h-2.9v-9.8c0-2.4-.8-4.6-3.3-4.6a3.9,3.9,0,0,0-3.6,3,5.2,5.2,0,0,0-.2,1.4v10h-2.8Z"/>
      <path d="M242.9.9a12,12,0,0,1,2.7-.8h21.9c2.8,0,3.9,1.3,3.6,4.1l-7.8,58.7c-1.1,7.8-2.1,15.6-3.1,23.3-.4,2.4-.7,4.8,2.2,6.2l-.2.5a7.3,7.3,0,0,1-2,.5H242.9c-3.6,0-4.7-1.6-4.1-5.2l9.3-56.9a3.1,3.1,0,0,0-.3-1.8l-4.1,6.9-32,55a3.4,3.4,0,0,1-3.6,2.1c-3.9-.2-7.9-.1-12.3-.1l4.5-63.7-.4-.2a15.5,15.5,0,0,0-1.2,2.2l-27,54.1c-1.7,3.3-1.5,4.4,1.7,7a7.8,7.8,0,0,1-2.3.6H155.2c-4.5,0-5.5-1.7-3.4-5.7L168,56.8,193,9.5A14.2,14.2,0,0,0,194.6,5c.2-.9-.6-2-1-3L192.9.8a3.4,3.4,0,0,1,1.5-.7h20.5c3.5.1,4.4.9,4.2,4.5-.6,13.4-1.4,26.9-2.1,40.3a95,95,0,0,0-.1,10.7c1.7-3.1,3.5-6.2,5.3-9.3,7-12.2,14-24.4,20.9-36.6.6-1,1-1.9,1.5-2.9S246.1,2.6,242.9.9Z"/>
      <path d="M332.1,49.3h-9.7c-5.9,0-11.8.1-17.7,0a2.4,2.4,0,0,0-2.7,1.8c-4.5,11.8-9.2,23.5-13.7,35.2-1.2,3.1-.9,4.2,2.3,6.5a12.2,12.2,0,0,1-2.7.6H269.5c-4.8,0-5.6-1.1-3.9-5.5l24.3-61c2.4-5.9,4.7-11.7,7-17.6a13.7,13.7,0,0,0,1.2-4.4,7.9,7.9,0,0,0-.8-2.9c-.1-.5-.5-1.1-.4-1.3a1.8,1.8,0,0,1,1.3-.6h19.7c2.5,0,3.4,1.5,2.4,4.1-2.5,6.6-5.1,13.2-7.7,19.8l-4,10.5h27.1c1.6,0,2.5-.4,3.1-2,3-7.8,6.2-15.5,9.2-23.3.9-2.6,2.8-5.3-.1-7.9-.1,0,.4-1.1.8-1.2a3.6,3.6,0,0,1,1.8-.2h16.6c4.9.1,5.6,1,3.8,5.5L346.6,67.7c-2.4,6.3-4.9,12.5-7.3,18.7-.8,2.1-1,4.1,1.2,5.5.3.2.3.6.5.9a4.7,4.7,0,0,1-1.5.6h-19c-4.7,0-5.5-1.2-3.8-5.5l7.5-18.8C326.8,62.6,329.3,56.2,332.1,49.3Z"/>
      <path d="M493,92.6a11.6,11.6,0,0,1-2.6.8H473.6c-3.4,0-4.6-1.3-4.3-4.7l1.5-16.8a5.7,5.7,0,0,0,0-1.3l-.4-.3H441.5a3,3,0,0,0-1.9,1.3c-3.8,5-7.6,10.1-11.3,15.2-1.8,2.4-1.5,3.6,1.1,5.1.3.2.4.5.7.8s-.7.7-1,.7H409.3c-3,0-4-1.6-2.5-4.2a75,75,0,0,1,4.8-6.7L467,10.2a30.2,30.2,0,0,0,2.1-3.3c1.6-2.8,1.5-3.6-1.1-6.1a9.6,9.6,0,0,1,2.3-.7h25.2c3,0,4.1,1.1,3.8,4.1-.7,7.4-1.6,14.8-2.4,22.2-1.8,16-3.7,31.9-5.5,47.9-.4,4.2-.9,8.4-1.4,12.6C489.8,89.1,489.8,91.3,493,92.6ZM476.8,20.5l-.5-.2c-8.6,11.9-17.1,23.8-25.8,36h22.4Z"/>
      <path d="M148.9,93.1a15.2,15.2,0,0,1-2.1.3H130.9c-4.2-.1-5.3-1.4-4.9-5.6s1.1-10.8,1.6-16.3a7.2,7.2,0,0,0-.1-1.3H99.3A3.7,3.7,0,0,0,95.9,72c-3.5,4.9-7.2,9.7-10.8,14.6-2,2.8-1.5,4.3,2.2,5.9-.9.4-1.4.9-2,.9H65.5c-2.3,0-3.2-1.4-2.3-3.6a13.8,13.8,0,0,1,2-3.3l58.4-76.2A31.2,31.2,0,0,0,126.3,6c.9-1.8,1-3.6-2-4.9a9.6,9.6,0,0,1,2.5-1h25.6c2.8,0,3.9,1.1,3.6,4.1-.8,7.8-1.7,15.6-2.6,23.4-1.9,17.2-3.9,34.4-5.8,51.5l-.9,7.4c-.2,2.3-.3,4.6,2.4,5.9ZM107.2,56.3h22.4c1.3-12.1,2.6-24,4-36l-.6-.2Z"/>
      <path d="M92.2.2c-1.6,4-3,7.9-4.7,11.5a6.3,6.3,0,0,1-5.8,3.6l-15.2.3H60.9A12.1,12.1,0,0,0,48.4,27.3c-.3,2.9.6,5.3,3.4,6.4l13,5.2c1.8.7,3.6,1.3,5.4,2.1,6.5,3.1,9,7.5,7.6,14.5-1.9,10-5.7,19.3-12.4,27.1A29,29,0,0,1,43,93.4c-13,.2-26,.1-39,0C0,93.4-.8,92,.7,88.3s3.8-9.7,5.8-14.5a10.7,10.7,0,0,1,1.9-2.3c.8,5.4,1.3,6.3,7.2,6.5,7.5.2,15,.1,22.6,0s14.9-7.9,14.7-15.3c-.1-3.2-1.5-5.6-4.4-6.8s-6.6-2.5-9.9-3.6-4.7-1.4-7-2.4c-6.7-2.8-10-9.2-8-16.1A63,63,0,0,1,36.7,9.7c5.4-6.3,13-9.1,21-9.4C69-.2,80.3.2,92.2.2Z"/>
      <path d="M351.3,71.5c.7,6.3,2.9,6.4,7,6.5,7.7.2,15.4.1,23,0s14.8-8.1,14.4-15.6c-.1-2.6-1.1-4.9-3.5-6.1s-5.2-2.2-7.9-3.2-5.7-1.6-8.5-2.7c-8.1-2.9-11.5-9.6-9-17.8a67,67,0,0,1,12.4-22.5C384.8,3.4,392.7.6,401.1.2c11.1-.4,22.3-.1,34.2-.1-2,4.5-3.4,8.8-5.7,12.7s-5.5,2.8-8.7,2.8h-17c-7,0-11.9,4.5-12.6,11.5-.3,3.1.6,5.5,3.5,6.8l8.8,3.6c3.3,1.3,6.8,2.2,10.1,3.8,6.1,3.1,8.4,7.5,7,14.2-2,10.4-5.9,19.9-13,27.9a28.6,28.6,0,0,1-21.1,9.9c-13.2.3-26.5.2-39.7.1-3.9,0-4.8-1.4-3.3-5.1s3.8-9.7,5.8-14.5C349.7,73,350.5,72.5,351.3,71.5Z"/>
    </svg>
    <span class="visually-hidden">SAMHSA.gov, Substance Abuse and Mental Health Services Administrations</span>
    </a>
  {% endif %}
  {% if site_name %}
    <div class="site-name">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
