{#
/**
 * @file
 * Default module implementation to display the USAjobs Search API block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * JobListing variables:
 *   (string) positionTitle
 *   (string) positionURI
 *   (object) positionLocations
 *   (string) jobGrade
 *   (object) jobCategories
 *   (string) jobLowGrade
 *   (string) jobHighGrade
 *   (string) positionSchedule
 *   (string) positionOfferingType
 *   (string) qualificationSummary
 *   (object) positionSalaryRange
 *   (string) jobSummary
 *   (object) jobDetails
 *   (string) whoMayApply
 *   (string) whoMayApplySummary
 *   (string) publicationStartDate
 *   (string) applicationCloseDate
 *
 * @ingroup themeable
 */
#}
{% extends "block.html.twig" %}

{% set jobs = content['#jobs'] %}
{% set numJobs = jobs|length %}
{% set listLimit = 3 %}

{% block content %}
  <div{{ content_attributes.addClass('block-content') }}>
    <div id="usa_job_page">
      {% if jobs is empty %}
        <div class="usa_job_no_results">No job listings currently available.</div>
      {% else %}
        <div class="usa_job_count">
          There are currently {{ numJobs }} SAMHSA positions listed at <a href="https://www.usajobs.gov/">USA Jobs</a>.
        </div>

        {% for job in jobs %}
          {# These strings are in the unfortunate format of 'Mon, 09/27/2021 - 12:00 am' #}
          {% set start_date = job.publicationStartDate|split(' - ')|join(' ')|date('U')|format_date('press_announcement_date') %}
          {% set close_date = job.applicationCloseDate|split(' - ')|join(' ')|date('U')|format_date('press_announcement_date') %}

          <div class="usa_job_listing grid-row">
            <div class="usa_job_title grid-col-12">
              <h2><a href="{{ job.positionURI }}" target="_blank">{{ job.positionTitle }}</a></h2>
            </div>

            <div class="usa_job_left tablet:grid-col-6">
              <div class="usa_jobs_type">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <span class="field__label">Type:</span>
                <span class="field__item">{{ job.positionOfferingType }}</span>
                <span class="field__item">{{ job.positionSchedule }}</span>
              </div>

              <div class="usa_job_open_between">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Open from {{ start_date }} to {{ close_date }}
              </div>

              {% if job.positionSalaryRange %}
                <div class="usa_job_salary">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                  <span class="field__label">Salary:</span>
                  <span class="field__item">
                    <span>${{ job.positionSalaryRange.MinimumRange | number_format }}</span> to
                    <span>${{ job.positionSalaryRange.MaximumRange | number_format }}</span>
                    <span>{{ job.positionSalaryRange.RateIntervalCode }}</span>
                    <span>({{ job.jobGrade }}&nbsp;{{ job.jobLowGrade }}-{{ job.jobHighGrade }})</span>
                  </span>
                </div>
              {% endif %}

              {% if job.positionLocations|length > 0 %}
                <div class="usa_job_location">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span class="field__label">Location(s):</span>
                  <ul class="field__items">
                    {# We don't want to show more than a few locations #}
                    {% for location in job.positionLocations|slice(0, listLimit) %}
                      <li>
                        <span>{{ location.LocationName }}</span>,
                        <span>{{ location.CountryCode }}</span>
                        <a href="https://www.google.com/maps/search/{{ location.LocationName|url_encode }}" target="_blank">(Map)</a>
                      </li>
                    {% endfor %}
                    {% if job.positionLocations|length > listLimit %}
                      <div>
                        <a href="{{ job.positionURI }}" target="_blank">To see more, view the job listing</a>
                      </div>
                    {% endif %}

                  </ul>
                </div>
              {% endif %}
            </div>

            <div class="usa_job_right tablet:grid-col-6">
              <div class="usa_job_id">
                <i class="fa fa-id-badge" aria-hidden="true"></i>
                <span class="field__label">Position ID:</span>
                {{ job.positionID }}
              </div>

              {% if job.jobDetails.HiringPath|length > 1 %}
                <div class="usa_job_hiring_path">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span class="field__label">Hiring Path:</span>
                  {{ job.jobDetails.HiringPath|join(', ') }}
                </div>
              {% endif %}

              {% if job.jobCategories | length > 0 %}
                <div class="usa_job_categories">
                  <i class="fa fa-tags" aria-hidden="true"></i>
                  <span class="field__label">Categories:</span>
                  <ul class="field__items">
                    {# We don't want to show more than a few locations #}
                    {% for category in job.jobCategories|slice(0, listLimit) %}
                      <li>{{ category.Name }} ({{ category.Code }})</li>
                    {% endfor %}

                    {% if job.jobCategories|length > listLimit %}
                      <div>
                        <a href="{{ job.positionURI }}" target="_blank">To see more, view the job listing</a>
                      </div>
                    {% endif %}

                  </ul>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
