// Back to top button
//==========================================================================

// This feature is not used in new SAMHSA theme

.jump-to-top {
  padding: $gutters;
  text-align: center;

  @include breakpoint($break-mobile-landscape) {
    display: none;
  }

  a#toplink {
    display: inline-block;
    padding: .5em .75em;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-decoration: none;

    span {
      display: inline-block;
      margin-right: .25em;
    }
  }
}

//COLORS

// Back to top link and "banner buttons" (Sign up and Blog)

.jump-to-top a#toplink,
.banner-button {
  display: block;
  border: 1px solid $silver;
  color: $midnight;
  background-color: $mist;

  &:hover,
  &:active,
  &:focus {
    background-color: $silver;
    border-color: $mist;
  }
}
