//Languages and footer links
//===============================
.region-postscript-fourth {
  h2 {
    color: $charcoal;
    font-size: 1.6rem;
    margin: 5px 0;
  }

  .menu,
  .lang {
    margin: 0 -8px 20px;
    font-size: 0;
    text-decoration: none;

    .menu-item {
      padding-top: 0;
    }

    li {
      display: inline;
      border-right: 1px solid $charcoal;
      font-size: 14px;
      text-decoration: none;
      // SAMHSAWCM-6913 line height
      line-height: 30px;

      &:last-of-type {
        border-right: none;
      }


      a {
        color: $charcoal;
        display: inline-block;
        padding: 0 10px;
        text-decoration: underline;
        // SAMHSAWCM-6913 - Forces the line to be set below the alphabetic baseline
        text-underline-position: under;
        // SAMHSAWCM-6913 - changes from em to rem
        font-size: 1.5rem;

        &:hover {
          // color $ruby
          color: $ruby;
          text-decoration: none;
        }
      }
    }
  }

  //to fix inline items spacing
  //===============================
  ul.menu .menu-item a {
    margin-right: -5px;
    &.is-active {
      color: $charcoal;
    }
  }
}

.block-menu-footer-1-menu {
  border-top: 1px solid $border-color-line;
}

.menu--menu-footer-1-menu {
  padding-top: 18px;
}
