//Footer Logos
.footer-logo {
  margin-top: 20px;

  @include breakpoint($break-mobile-landscape) {
    text-align: right;
  }

  .logos {
    display: inline-block;
    margin-right: 10px;

    &.samhsa {
      width: 160px;
      height: 68px;
    }

    &.hhs {
      width: 68px;
      height: 68px;
    }
  }

  .samhsa-logo,
  .hhs-logo {
    fill: $white;
  }

  span.ext {
    display: none;
  }
}
