
#block-samhsa-uswds-base-newslettersignup {
  width: 100%;
  float: right;

  @include breakpoint($break-tablet-portrait) {
    width: 68%;
  }

  @include breakpoint($break-tablet-landscape) {
    width: 65%;
  }

  .footer-signup {
    width: 100%;

    h2.footer-title {
      color: inherit;
      font-weight: normal;
      margin-bottom: 10px;
    }

    .signup-text {
      width: 100%;
      float: left;

      @include breakpoint($break-tablet-portrait) {
        width: 45%;
        padding-right: 5px;
      }
    }

    .signup-form {
      width: 100%;
      float: right;

      @include breakpoint($break-tablet-portrait) {
        width: 55%;
      }

      form {
        margin: 0;
      }

      .signup-email {
        width: 100%;
        float: left;
        color: $charcoal;
        border: 1px solid $charcoal;
        font-size: 16px;
        height: 38px;
        padding: 0 10px;

        @include breakpoint($break-tablet-landscape) {
          width: 67%;
        }
      }

      .signup-btn {
        background-color: $teal;
        border: 1px solid $teal;
        border-radius: 0;
        width: 100%;
        height: 38px;
        padding: 0 15px;

        @include breakpoint($break-tablet-landscape) {
          width: auto;
        }
      }

      .signup-btn:hover {
        background-color: $steel;
      }
    }
  }
}

.region--postscript-fourth.region.region-postscript-fourth {
  clear: both;
}

.footer-note p {
  a {
    color: $charcoal;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
      color: $ruby;
    }
  }
}
