//Social media - preface one region
//====================================
#block-samhsa-uswds-base-footersocial {
  width: 100%;
  display: inline-block;
  text-align: center;

  @include breakpoint($break-tablet-portrait) {
    width: 26%;
    text-align: left;
  }

  @include breakpoint($break-tablet-landscape) {
    width: 20%;
    text-align: left;
  }

}

.social {
  a {
    width: 38px;
    height: 38px;
    display: inline-block;
    background-color: $charcoal;
    margin-right: 0.5em;
    border-radius: 3px;
  }

  a.facebook:hover {
    background-color: $fb-color;
  }

  a.twitter:hover {
    background-color: $tw-color;
  }

  a.youtube:hover {
    background-color: $yt-color;
  }

  a.linkedin:hover {
    background-color: $lk-color;
  }

  a.rss:hover {
    background-color: $rss-color;
  }

  a.instagram:hover {
    background-color: $ig-color;
  }

  a.blog:hover {
    background-color: $blog-color;
  }

  span.ext {
    display: none;
  }
}
