#block-samhsa-uswds-base-utilitymenu {
  ul[data-region="header"].menu {
    font-size: 14px;

    li {
      a {
        padding: 3px 10px;
        color: $sapphire;
        text-decoration: none;
      }
    }
  }
}
