// Share Buttons (Add this)
//==========================================================================
//Vertically aligning everything and adding some space between the items

.share-block {
  display: none;
}

@include breakpoint($break-mobile-landscape) {
  .share-block {
    float: right;
    padding: $gutters $gutters 0 0;
    display: block;
    width: 110px;

    ul.share-buttons {
      overflow: hidden;
      float: right;

      li {
        float: left;
        margin-left: 5px;
      }

      img {
        display: block;
        margin: 0;
      }

      i.fas.fa-envelope,
      i.far.fa-envelope,
      i.fab.fa-twitter-square,
      i.fab.fa-facebook-square,
      svg.fa-envelope, svg.fa-facebook-square, svg.fa-twitter-square {
        font-size: 26px;
        color: $midnight-60;

        &:hover {
          color: $sapphire;
        }
      }

      i.fas.fa-envelope,
      i.far.fa-envelope,
      svg.fa-envelope {
        font-size: 30px;
        margin-top: -2px;
      }
    }
  }
}
