/* HHS ribbon - top bar - Begin */
#hhs-ribbon {
  background-color: $charcoal;
  color: $midnight;
  padding: 5px 0;
  display: none;

  @include breakpoint($break-desktop) {
    display: block;
  }

  .svg-icon {
    width: 22px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }

  a {
    color: $midnight;
    text-decoration: none;
    line-height: 1em;

    &:hover,
    &:focus {
      color: $charcoal;
    }
  }
}

input#q.samhsasearchbox {
  font-size: 16px;
  width: 77%;
  height: 38px;
  padding: 0 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  vertical-align: middle;
  margin: 0 -7px 0 0;
  border: 1px solid $smoke;
}

#search_box .samhsasearchbutton {
  background-color: $teal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  color: $white;
  font-size: 16px;
  float: right;
  margin-top: 0;
  margin-left: 2%;
  padding: 0;
  height: 38px;
  width: 23%;
  margin-right: 0;
  box-sizing: content-box;
  vertical-align: middle;
  background: $teal none;
  position: absolute;
  top: 0;
  right: 0;

  &:hover {
    /* border: 1px solid $steel; */
    background: $steel;
    box-shadow: 0 0 5px $midnight;
    padding: 0;
    margin: 0;
  }
}

/* HHS ribbon - top bar - End */
//==========================================================================
/*  Logo - site - branding block - Begin */
#header-outer-wrapper {
  .header-layout {
    position: relative;

    .region--header {
      //Fix for mobile spacing appearing before 692px breakpoint.
      margin-top: -10px;
      padding-top: 10px;

      @include breakpoint($break-mobile-landscape) {
        &:before {
          display: block;
          content: '';
          height: 5px;
          padding: 0;
        }
      }

      .site-branding {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        max-width: max-content;

        @include breakpoint($break-desktop) {
          width: 50%;
          float: left;
        }
      }
    }
  }
}

// cutom styles added for desktop */
.block-superfish-main-menu ul#superfish-main-menu.sf-style-none ul ul {
  display: none !important; /* second level menus are hidden for desktop mode */
}

.block-superfish-main-menu {
  ul.sf-style-none {
    .mobile-only {
      display: none !important;
    }

    .no-link {
      background: $superfish-1-background-color-level-second;
      color: $midnight;
      line-height: 20px;
      padding: 0.75em 0;
      font-size: 16px;
      text-align: left;
      font-weight: $weight-regular;
      text-decoration: none;
      margin: 0;
      display: block;
      position: relative;
    }

    .sub-title {
      font-weight: bold;
      display: block;
      margin-bottom: 10px;
    }

    .locator-icon, .locator-icon:hover, .locator-icon:focus {
      padding-left: 25px;
      background-image: url('../../images/locatorsm.png');
      background-position: 0 14px;
      background-repeat: no-repeat;
      display: block;
    }

    .external-icon, .external-icon:hover, .external-icon:focus {
      display: inline-block;
      padding-right: 25px;
      background-image: url('../../images/external.png');
      background-position: 212px 14px;
      background-repeat: no-repeat;
    }

    li.sf-depth-1 ul li.sf-depth-2 {
      ul {
        display: none !important;
      }
    }

    li .about-leadership {
      border: none;
      padding-top: 15px;
      clear: both;
      float: none;
      overflow: hidden;
      display: block;
    }

    .about-leadership div span {
      padding-left: 130px;
      background-image: url('../../images/leadership.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      height: 120px;
      display: block;
    }
  }
}

.extra-width .block-superfish-main-menu {
  ul.sf-menu.menu {
    display: flex;
    flex-direction: row;
    float: none;
    width: 100%;
    margin: 0 auto;

    li {
      display: inline-block;
      float: none;
      width: 100%;
    }

    li:nth-child(1) {
      min-width: 170px;
    }

    li:nth-child(2) {
      min-width: 190px;
    }

    li:nth-child(3) {
      min-width: 170px;
    }
  }
}

.block-superfish-main-menu, #block-superfish-2 {
  #superfish-main-menu.ul.sf-menu.menu {
    display: flex;
    flex-direction: row;
    float: none;
    width: 100%;
    margin: 0 auto;

    li {
      display: inline-block;
      float: none;
      width: 100%;
    }
  }

  .sf-style-none {
    margin: 0;
    padding: 0;
    background: $midnight;
    width: 100%;
    clear: both;
    float: none;
    min-height: 41px;

    > :nth-child(2) ul {
      left: -7em;
    }

    > :nth-child(3) ul {
      left: -8.5em;
    }

    > :nth-child(4) ul {
      left: -10.25em;
    }

    > :nth-child(5) ul {
      left: -10.7em;
    }

    > :nth-child(6) ul {
      left: -9.5em;
    }

    > :nth-child(7) ul {
      left: -9.5em;
    }

    > :nth-child(8) ul {
      left: -9.6em;
    }

    li.sf-depth-1 {
      a.sf-depth-1, a.sf-depth-1.sf-with-ul {
        font-weight: $weight-regular;
        text-decoration: none;
        height: 41px;
        line-height: 41px;
        text-align: center !important;
        padding: 0 0.75em !important;
        letter-spacing: 0.03em;
        color: $white;
        font-size: 16px;
      }
    }

    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }

    ul {
      background: $superfish-1-background-color-level-second;
      border: 1px solid $smoke;
      border-radius: unset;
      padding: 15px 30px !important;
      min-width: 27em !important; /* some script is overriding the menu width */
      &.sf-megamenu li {
        &.sf-megamenu-wrapper {
          background: $superfish-1-background-color-level-fourth;

          li {
            background: transparent;
          }
        }
      }
    }

    a {
      color: $superfish-1-color;
      padding: 0.75em 1.05em;
      font-size: 16px;
      text-align: left;
      font-family: $base-font-family;
      font-weight: $weight-regular;
      text-decoration: none;

      &.sf-with-ul {
        padding-right: 2.25em;
      }

      &:focus {
        background: $superfish-1-background-color-level-first;
        outline: 0;
      }

      &:hover {
        background: $superfish-1-background-color-level-first;
        outline: 0;
      }

      &:active {
        background: $superfish-1-background-color-level-first;
        outline: 0;
      }
    }

    span {
      &.nolink {
        color: $superfish-1-color-txt;
        padding: 0.75em 0;

        &.sf-with-ul {
          padding-right: 2.25em;
        }

        &:hover {
          background: $superfish-1-background-color-level-second;
          outline: 0;
        }
      }

      &.sf-description {
        color: $superfish-1-color;
        display: block;
        font-size: 0.833em;
        line-height: 1.5;
        margin: 5px 0 0 5px;
        padding: 0;
      }
    }

    &.rtl {
      span {
        &.sf-description {
          margin: 5px 5px 0 0;
        }

        &.nolink.sf-with-ul {
          padding-left: 2.25em;
          padding-right: 1em;
        }
      }

      a.sf-with-ul {
        padding-left: 2.25em;
        padding-right: 1em;
      }
    }

    li.sf-item-1 li.sf-item-1, li.sf-item-3 li.sf-item-6, li li.view-full-bio, li li .about-leadership {
      border: none;
    }

    li {
      background: $superfish-1-background-color-level-first;

      li {
        background: $superfish-1-background-color-level-second;
        color: $midnight;
        font-size: 16px;
        line-height: 20px;
        border-bottom: 1px solid $smoke;

        a {
          background: $superfish-1-background-color-level-second;
          color: $sapphire;
          padding-left: 8px;
          padding-right: unset;
          line-height: 20px;

          &:hover {
            background: $superfish-1-background-color-level-second;
            /* color: $crimson;  508 contrast fix below */
            color: $ruby;
          }

          &:focus {
            background: $superfish-1-background-color-level-second;
            /* color: $crimson;  508 contrast fix below */
            color: $ruby;
          }

          &:active {
            background: $superfish-1-background-color-level-second;
            /* color: $crimson;  508 contrast fix below */
            color: $ruby;
          }
        }

        li {
          background: $superfish-1-background-color-level-third;
        }
      }

      li:last-child {
        border: none;
      }

      &:hover {
        background: $mist;
        /* background: $superfish-1-background-color-level-first; */
        outline: 0;

        > ul {
          top: 40px;
        }
      }

      &.sfHover {
        background: $superfish-1-background-color-level-first;
        outline: 0;

        > ul {
          top: 40px;
        }
      }
    }

    li.sf-item-1 ul {
      li.sf-item-1 div span {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }

      li.sf-item-2, li.sf-item-3, li.sf-item-4, li.sf-item-5 {
        a {
          display: inline-block;
          padding-left: 25px;
          background-image: url('../../images/locatorsm.png');
          background-position: 0 14px;
          background-repeat: no-repeat;
        }
      }
    }

    li.sf-item-3 ul {
      li.sf-item-6, li.ext-link {
        a {
          display: inline-block;
          padding-right: 25px;
          background-image: url('../../images/external.png');
          background-position: 212px 14px;
          background-repeat: no-repeat;
        }
      }

      li.ext-link:hover {
        background: unset;
      }
    }

    li.sf-item-7 ul {
      //   @include breakpoint ($tween_break_high, true) {
      //     left: auto !important;
      //     right: -117px !important;
      //   }
      li .about-leadership div span {
        padding-left: 130px;
        background-image: url('../../images/leadership.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 120px;
        display: block;
      }

      li.view-full-bio a {
        text-align: center;
      }
    }

    .sf-sub-indicator {
      display: none;
      // background-image: url('../images/dropdown-arrows.png');
    }

    ul ul {
      border: unset;
      padding: unset !important;
    }
  }

  div.sf-accordion-toggle {
    &.sf-style-none a {
      background: $superfish-1-background-color-level-first;
      color: $superfish-1-color;
      padding: 1em;

      &.sf-expanded {
        background-color: $superfish-1-background-color-level-fourth;
        font-weight: bold;
      }
    }
  }

  .sf-menu.sf-style-none {
    &.rtl {
      &.sf-accordion li {
        li {
          a {
            padding-right: 2em;
          }

          li {
            a {
              padding-right: 3em;
            }

            li {
              a {
                padding-right: 4em;
              }

              li {
                a {
                  padding-right: 5em;
                }

                span.nolink {
                  padding-right: 5em;
                }
              }

              span.nolink {
                padding-right: 4em;
              }
            }

            span.nolink {
              padding-right: 3em;
            }
          }

          span.nolink {
            padding-right: 2em;
          }
        }
      }

      ul.sf-megamenu {
        li.sf-megamenu-wrapper {
          ol li {
            &.sf-megamenu-column {
              float: right;
            }
          }
        }
      }
    }

    &.sf-accordion li {
      &.sf-expanded {
        background-color: $superfish-1-background-color-level-fourth;

        > {
          a {
            font-weight: bold;
          }

          span.nolink {
            font-weight: bold;
          }
        }
      }

      li {
        a {
          padding-left: 2em;
        }

        li {
          a {
            padding-left: 3em;
          }

          li {
            a {
              padding-left: 4em;
            }

            li {
              a {
                padding-left: 5em;
              }

              span.nolink {
                padding-left: 5em;
              }
            }

            span.nolink {
              padding-left: 4em;
            }
          }

          span.nolink {
            padding-left: 3em;
          }
        }

        span.nolink {
          padding-left: 2em;
        }
      }

      a.sf-accordion-button {
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 499;
      }
    }

    ul.sf-megamenu {
      li.sf-megamenu-wrapper {
        ol {
          margin: 0;
          padding: 0;

          li {
            margin: 0;
            padding: 0;

            &.sf-megamenu-column {
              display: inline;
              float: left;
            }
          }
        }

        a.menuparent {
          font-weight: bold;
        }

        span.nolink {
          &.menuparent {
            font-weight: bold;
          }
        }
      }
    }

    li.news-room ul {
      padding: 0 !important;
      border: none;
    }
  }
}

ul.sf-menu li.sf-depth-1.active-trail a.sf-depth-1.active {
  border-bottom: 4px solid $crimson;
}

ul.sf-menu li.sf-depth-1.active-trail a.sf-depth-1:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    outline: thin dotted;
  }
}

// .sf-style-none li.sf-depth-1 a.sf-depth-1.active,
.sf-style-none li.sf-depth-1 a.sf-depth-1:hover,
.sf-style-none li.sf-depth-1 a.sf-depth-1.sf-with-ul:hover,
.sf-style-none li.sf-depth-1 a.sf-depth-1:hover,
.sf-style-none li.sf-depth-1 a.sf-depth-1.sf-with-ul:hover {
  border-bottom: 4px solid $crimson;
}

.sf-style-none li.sf-depth-1 a.sf-depth-1:focus,
.sf-style-none li.sf-depth-1 a.sf-depth-1.sf-with-ul:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    outline: thin dotted;
  }
}

.block-superfish-main-menu .sf-style-none li li a.active {
  /* color: $crimson;  508 contrast fix below */
  color: $ruby;
}

.block-superfish-main-menu .sf-style-none li li a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    outline: thin dotted;
  }
}

/* cutom styles added for desktop */
.block-mobile-menu {
  .dl-menuwrapper {
    ul.dl-menu {
      .no-link {
        background: $superfish-1-background-color-level-second;
        color: $midnight;
        line-height: 20px;
        padding: 0.75em 0;
        font-size: 16px;
        text-align: left;
        font-weight: $weight-regular;
        text-decoration: none;
        margin: 0;
        display: block;
        position: relative;
      }

      .sub-title {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
      }

      .locator-icon, .locator-icon:hover, .locator-icon:focus {
        padding-left: 25px;
        background-image: url('../../images/locatorsm.png');
        background-position: 0 14px;
        background-repeat: no-repeat;
      }

      .external-icon, .external-icon:hover, .external-icon:focus {
        display: inline-block;
        padding-right: 25px;
        background-image: url('../../images/external.png');
        background-position: 212px 14px;
        background-repeat: no-repeat;
      }

      li .about-leadership {
        border: none;
        padding-top: 15px;
        clear: both;
        float: none;
        overflow: hidden;
        display: block;
      }

      .about-leadership div span {
        padding-left: 130px;
        background-image: url('../../images/leadership.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        height: 120px;
        display: block;
      }
    }
  }
}

@include breakpoint($break-desktop) {
  .block-mobile-menu {
    display: none !important;
  }
}

#header-outer-wrapper {
  background-color: $superfish-1-background-color-level-first;
  //padding: 20px;

  @include breakpoint($break-desktop) {
    background-color: $white;
    padding-top: 15px;
    margin-bottom: 20px;
  }

  .preface-layout {
    position: relative;

    .region--preface-first {
      &:before {
        display: none;
      }
    }
  }
}

/* Common styles of menus */
nav#block-samhsa-uswds-base-mainmenu-2 {
  position: relative;
}

.dl-menuwrapper {
  width: 90%;
  max-width: 100%;
  float: left;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  opacity: 0.97;
  display: block !important;
  position: absolute;
  top: -67px;
  bottom: 0;
  height: 0;
}

.dl-menuwrapper {
  z-index: 500;
}

.dl-menuwrapper:first-child {
  margin-right: 100px;
}

.dl-menuwrapper button {
  background: transparent;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: absolute;
  cursor: pointer;
  outline: none;
  top: 12px;
  left: 5px;
  padding-top: 33px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
}

.dl-menuwrapper button:hover {
  background: none;
}

/* .dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,*/
.dl-menuwrapper ul {
  background: $mist;
}

.dl-menuwrapper button:after {
  content: '';
  position: absolute;
  width: 68%;
  height: 5px;
  background: $white;
  top: 10px;
  left: 15%;
  box-shadow: 0 10px 0 $white,
  0 20px 0 $white;
}

.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* override menu css styles */
.dl-menuwrapper .menu-item, .menu-item--collapsed, .menu-item--expanded {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

.dl-menuwrapper li {
  position: relative;
}

.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 15px 30px 15px 0;
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: $weight-regular;
  color: $sapphire;
  outline: none;
  border-bottom: 1px solid $fog;
  text-decoration: none;
}

.dl-menuwrapper li.last a {
  border: none;
}

.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
}

.dl-menuwrapper li.dl-back {
  background: rgba(0, 0, 0, 0.1);
  display: block;
  clear: both;
  float: none;
  overflow: hidden;
  border-bottom: 1px solid $fog;
  margin: 0 -15px;
}

.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  padding-right: 45px;
  background: unset;
  border-bottom: none;
  display: inline-block;
  cursor: pointer;
}

.dl-menuwrapper ul.dl-subview li.dl-back > a {
  border-right: 1px solid $fog;
}

a.dl-back-link:before {
  position: absolute;
  top: 0;
  line-height: 50px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  text-rendering: auto;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: $weight-regular;
  text-align: center;
  left: 0;
  width: 44px;
  height: 50px;
  content: " ";
  padding-right: 10px;
  color: $sapphire !important;
  background: transparent url(../../images/left-arrow.png) 12px 12px no-repeat;
}

a.dl-close-link:after {
  position: absolute;
  top: 0;
  line-height: 50px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  content: " ";
  color: $sapphire;
  letter-spacing: 0;
  text-align: center;
  right: 0;
  width: 44px;
  background: transparent url(../../images/close.png) 16px 12px no-repeat;
  height: 50px;
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: 'arial';
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.dl-menuwrapper li.menu-item--expanded > span.expand:after {
  position: absolute;
  top: 0;
  line-height: 50px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  content: " ";
  text-rendering: auto;
  font-size: 18px;
  color: $sapphire;
  letter-spacing: 0;
  font-weight: $weight-regular;
  text-align: center;
  right: 0;
  width: 44px;
  height: 50px;
  background: transparent url(../../images/right-arrow.png) 16px 12px no-repeat;
}

.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dl-menuwrapper li .dl-close-link {
  display: inline-block;
  float: right;
}

.dl-menuwrapper li .dl-close-link {
  padding-right: 30px;
  background: unset;
}

.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper .dl-menu {
  margin: 0 0 0 0;
  position: relative;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0 15px;
  left: -100%;
}

.dl-menuwrapper .dl-menu--1.dl-menu.dl-subview {
  margin: -15px 0 0 0;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
  transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
  transition: .5s;
  opacity: 1;
  pointer-events: auto;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow: scroll;
  width: 90%;
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/*
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link.
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
  -webkit-animation: MenuAnimOut1 0.4s;
  animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
  -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
  animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
  -webkit-animation: MenuAnimOut3 0.4s ease;
  animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
  -webkit-animation: MenuAnimOut4 0.4s ease;
  animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
  -webkit-animation: MenuAnimOut5 0.4s ease;
  animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
  0% {
  }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut2 {
  0% {
  }
  100% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut3 {
  0% {
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut4 {
  0% {
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes MenuAnimOut5 {
  0% {
  }
  100% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut1 {
  0% {
  }
  50% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
  }
  75% {
    -webkit-transform: translateZ(-372.5px) rotateY(15deg);
    transform: translateZ(-372.5px) rotateY(15deg);
    opacity: .5;
  }
  100% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
}

@keyframes MenuAnimOut2 {
  0% {
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes MenuAnimOut3 {
  0% {
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut4 {
  0% {
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes MenuAnimOut5 {
  0% {
  }
  100% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
}

.dl-menu.dl-animate-in-1 {
  -webkit-animation: MenuAnimIn1 0.3s;
  animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
  -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
  animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
  -webkit-animation: MenuAnimIn3 0.4s ease;
  animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
  -webkit-animation: MenuAnimIn4 0.4s ease;
  animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
  -webkit-animation: MenuAnimIn5 0.4s ease;
  animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes MenuAnimIn1 {
  0% {
    -webkit-transform: translateZ(-500px) rotateY(0deg);
    transform: translateZ(-500px) rotateY(0deg);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateZ(-250px) rotateY(30deg);
    transform: translateZ(-250px) rotateY(30deg);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MenuAnimIn2 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes MenuAnimIn5 {
  0% {
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
  -webkit-animation: SubMenuAnimIn1 0.4s ease;
  animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-2 {
  -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
  animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-3 {
  -webkit-animation: SubMenuAnimIn3 0.4s ease;
  animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-4 {
  -webkit-animation: SubMenuAnimIn4 0.4s ease;
  animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-in-5 {
  -webkit-animation: SubMenuAnimIn5 0.4s ease;
  animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn1 {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn2 {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn3 {
  0% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn4 {
  0% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SubMenuAnimIn5 {
  0% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
  -webkit-animation: SubMenuAnimOut1 0.4s ease;
  animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-2 {
  -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
  animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-3 {
  -webkit-animation: SubMenuAnimOut3 0.4s ease;
  animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-4 {
  -webkit-animation: SubMenuAnimOut4 0.4s ease;
  animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper > .dl-submenu.dl-animate-out-5 {
  -webkit-animation: SubMenuAnimOut5 0.4s ease;
  animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut3 {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut4 {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}

@-webkit-keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut1 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut2 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut3 {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    transform: translateZ(-300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut4 {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes SubMenuAnimOut5 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-200px);
    transform: translateZ(-200px);
    opacity: 0;
  }
}

/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}

.no-js .dl-menuwrapper li.dl-back {
  display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: '';
}

.dl-menuwrapper span.nolink {
  color: $midnight;
  /* padding: 0.75em 0; */
  padding: 15px 0;
  display: block;
  position: relative;
}

.dl-menuwrapper span.nolink div span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.dl-menu li.first ul.dl-menu--2 li.leaf a {
  display: block;
  padding-left: 35px;
  background-image: url(../../images/locatorsm.png);
  background-position: 14px 16px;
  background-repeat: no-repeat;
}

.dl-menu li.first ul.dl-menu--2 li.last.leaf a {
  background: none;
}

.dl-menu li .about-leadership div span {
  padding-left: 130px;
  background-image: url('../../images/leadership.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 120px;
  display: block;
}

/* Colors for demos */

/* Demo 1 */
.demo-1 .dl-menuwrapper button {
  background: $crimson;
  cursor: pointer;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
  background: $ruby;
}

/* Demo 2 */
.demo-2 .dl-menuwrapper button {
  background: $crimson-60;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
  background: $crimson;
}

/* Demo 3 */
.demo-3 .dl-menuwrapper button {
  background: $cerulean-60;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
  background: $cerulean;
}

/* Demo 4 */
.demo-4 .dl-menuwrapper button {
  background: $cerulean;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
  background: $teal-40;
}

/* Demo 5 */
.demo-5 .dl-menuwrapper button {
  background: $teal;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
  background: $teal;
}

@include breakpoint($break-desktop) {
  .block--menu-menu-samhsa-menu, .block--system-main-menu {
    display: none;
  }
}

.block-superfish-main-menu {
  display: none;

  @include breakpoint($break-desktop) {
    display: block;
    ul#superfish-1.sf-style-none {
      margin-top: 20px;
    }
  }

  h2.block__title {
    display: none;
  }
}

#block-superfish-2 {
  display: block;

  @include breakpoint($break-desktop) {
    display: none;
  }
}

@include breakpoint($break-desktop) {
  .mobile-only {
    display: none;
  }
}

.overlay-container {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: 0.5s;
  z-index: 499;
  background: $black;
  opacity: 0.7;
}

//-------------------------------------------
//Hiding / Showing User menu, search and social
//-------------------------------------------
.header-social,
.search-form-wrapper,
.user-menu,
.hhs-ribbon {
  display: none !important;
}

//Show mobile search when magify icon has been clicked
.search-form-wrapper.open {
  display: block !important;
  width: 100%;
  overflow: hidden;
  border-top-color: rgb(0, 0, 0);
  padding: 14px;
  background-color: $mist;

  form {
    margin: 0;
  }
}

//Layout and display at screen sizes above mobile
@include breakpoint($break-desktop) {
  .site-search .search-form-wrapper,
  .user-menu, .hhs-ribbon {
    display: block !important;
  }
  .header-social,
  .site-search {
    display: block !important;
    @include grid-span(7, 6);
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}

//TOP SEARCH INPUT - FULL SCREEN
div.site-search {
  position: absolute;
  // top: auto;
  bottom: -10px;
  right: 5px;
  width: auto;
  float: none;

  #top-search-glass-icon {
    display: none;
  }

  form.topsearchform {
    //display:inline;
    float: right;
    margin: 0;
    padding: 0;
    width: 60%;

    input.topsearchinput {
      color: $steel;
      display: inline;
      font-size: 16px;
      height: 40px;
      margin: 0;
      padding: 0 10px;
      width: 77%;
    }

    input.topsearchbutton {
      background-color: $teal;
      color: $white;
      display: inline;
      font-size: $base-font-size;
      height: 40px;
      margin: 0;
      padding: 0 15px;
      width: 23%;
    }

    input.topsearchbutton:hover {
      background-color: $steel;
    }
  }

  @include breakpoint($break-desktop) {
    div#block-solrheadersearch {
      position: relative;
      bottom: auto;
      right: auto;
    }
  }

  #search-toggle {
    display: block !important;
    width: 70px;
    height: 70px;
  }
}

div.search-form-wrapper-mobile {
  form.topsearchform {
    // display:inline;
    float: right;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;

    input.topsearchinput {
      color: $steel;
      display: inline;
      font-size: 16px;
      height: 45px;
      margin: 0;
      padding: 0 10px;
      width: 81%;
    }

    input.topsearchbutton {
      background-color: $teal;
      color: $white;
      font-size: $base-font-size;
      height: 45px;
      margin: 0;
      padding: 0 15px;
      width: 23%;
    }

    input.topsearchbutton:hover {
      background-color: $steel;
    }
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes FULL
@include breakpoint($break-desktop) {
  // .site-branding,
  div.site-search {
    @include grid-span(6, 1);
    float: right;
    width: 57%;
  }
  .header-social {
    @include grid-span(6, 7);
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes NOTEPAD - 999
@include breakpoint(max-width $break-desktop - 1) {
  div.site-search {
    #top-search-glass-icon {
      display: block;
      position: absolute;
      right: -5px;
      top: -80px;
    }

    form {
      display: none !important;
    }
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes MOBILE PORTRAIT - 801
@media screen and (max-width: $break-tablet-landscape) {
  //Show mobile search when magify icon has been clicked
  section#preface-outer-wrapper {
    div.search-form-wrapper-mobile.open {
      display: block !important;
      border-top-color: transparent;
      width: 100%;

      form.topsearchform {
        max-width: 100%;
        width: 100%;

        input.topsearchinput {
          width: 80%;
        }

        input.topsearchbutton {
          width: 23%;
        }
      }
    }
  }

  section#content-outer-wrapper {
    form.views-exposed-form {
      div.form-item {
        margin-top: 0;
        margin-bottom: 0;
      }

      div.form-actions {
        margin: 28px 10px 0;
      }
    }
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes MOBILE PORTRAIT - 624
@media screen and (max-width: $break-tablet-portrait) {
  section#content-outer-wrapper {
    form.views-exposed-form {
      div.form-actions {
        margin: 28px 10px 10px 0;
      }
    }
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes MOBILE PORTRAIT - 480
@media screen and (max-width: $break-mobile-landscape) {
  //Show mobile search when magify icon has been clicked
  section#content-outer-wrapper {
    form.views-exposed-form {
      div.form-actions {
        margin: 28px 10px 10px 0;
      }
    }
  }
}

//TOP SEARCH INPUT - Layout and display at screen sizes MOBILE PORTRAIT - 375
@media screen and (max-width: $break-mobile-only) {
  //Show mobile search when magify icon has been clicked
  section#content-outer-wrapper {
    form.views-exposed-form {
      div.form-actions {
        margin: 26px 10px 10px 0;
      }
    }
  }
}

div#block-breadcrumbs {
  //  padding-top: 14px;
  width: calc(100% - 120px);
  float: left;
}

div#block-sharebuttons {
  width: 30%;
}

div#block-solrmobilesearch {
  float: left;
  width: 100%;
}

section#content-outer-wrapper {
  nav.tabs {
    ul.primary {
      margin-left: 0;
    }
  }
}

.side-menu {
  margin-top: 1px;
  overflow: visible !important;
  display: none;
  @include breakpoint($break-tablet-portrait) {
    display: block;
  }
}
