// Status messages
//===================================================================
// messages
//-----------------------------
.messages {
  @include breakpoint(0 $break-tablet-portrait) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include breakpoint(0 $break-tablet-portrait) {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 2px;
  }
}
