// Preface
//--------------------------------------------------------------

// This region houses the breadcrumbs and share block
.region--preface-second {
  .breadcrumb-block {
    display: none;
  }

  // Custom Breadcrumb - Resource Center
  .breadcrumbs-resources {
    width: 70%;
    float: left;
    margin-top: 10px;
  }

  @include breakpoint($break-mobile-landscape) {
    overflow: hidden;
    .breadcrumb-block {
      float: left;
      padding: $gutters 0 0 $gutters;
      display: block;
      width: 70%;

      .breadcrumb {
        padding-bottom: 0.5em;
        font-size: 12px;

        a {
          font-weight: normal;
          text-decoration: none;
        }

        li:before {
          content: "/";
        }

        li:first-child:before {
          content: "";
        }
      }
    }
  }
}
