
body.path-frontpage #main-layout {
  padding: 0; //this removes the padding from the entire homepage
}

///view
.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
}

.view-id-homepage_carousel_view .view-content {
  visibility: hidden;
  background: $teal;

  &.slick-initialized {
    visibility: visible;
  }
}

.slick-list {
  height: auto !important;
}

.view-id-homepage_carousel_view .view-content {
  .slick-prev.slick-arrow {
    left: 5px;
    z-index: 1;
    border: transparent;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .4);
    border-radius: 50%;

    svg {
      fill: $white;
      font-weight: $weight-bold;
      left: 7px;
      position: absolute;
      top: 7px;
      z-index: 1;
    }

    &:hover, &:focus {
      box-shadow: none;
    }

    @include breakpoint(max-width $break-tablet-landscape - 1) {
      top: 35%;
    }
    @include breakpoint($break-mobile-only) {
      top: 35%;
    }
    @include breakpoint(max-width $break-mobile-landscape - 1) {
      top: 22%;
    }
  }

  .slick-next.slick-arrow {
    right: 5px;
    border: transparent;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .4);
    border-radius: 50%;

    svg {
      fill: $white;
      font-weight: $weight-bold;
      left: 9px;
      position: absolute;
      top: 7px;
      z-index: 1;
    }

    &:hover, &:focus {
      box-shadow: none;
    }

    @include breakpoint(max-width $break-tablet-landscape - 1) {
      top: 35%;
    }
    @include breakpoint($break-mobile-only) {
      top: 35%;
    }
    @include breakpoint(max-width $break-mobile-landscape - 1) {
      top: 22%;
    }
  }

  .slick-list {
    height: auto;

    .slide-content {
      display: grid !important;
      display: -ms-grid !important;

      .slide_caption {
        order: 2;
        background: $teal;
        color: $white;
        margin-bottom: 0;
        padding: 2rem;
        overflow-wrap: break-word;
        -ms-word-wrap: break-word;

        .slide_body {
          font-size: $base-font-size;
          margin: 30px 0 20px;
        }

        .slide_title {
          margin-top: 2px;
          margin-bottom: 1.4em;

          h1 {
            color: $white;
            position: relative;
            font-size: 2rem;

            &:after {
              position: absolute;
              left: 0;
              width: 80px;
              content: "";
              border-bottom: 4px solid $white;
              bottom: -15px;
              color: $white;
            }
          }
        }

        .slide_link {
          text-align: center;
          float: right;

          > a {
            @include inverted-button-1;
            width: 50%;
            margin: 0 auto;
            padding: 6px 12px;
            text-decoration: none;

            span.exitDisclaimer a {
              color: $white;
              margin-left: 2px;

              &:active, &:focus, &:hover {
                color: $ruby;
              }
            }
          }
        }
      }

      picture {
        order: 1;
        height: auto;

        img {
          width: 100% !important;
          height: 100% !important;
          max-height: 100%;
          min-width: 100%;
          vertical-align: middle;
          overflow: hidden;
        }
      }

      @include breakpoint($break-tablet-landscape) {
        display: inline !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: fit-content(0);
        background: $teal;

        .slide_caption {
          height: auto;
          padding: 20px 20px 10px 50px;
          width: 40%;
          overflow-y: auto;
          float: left;
          margin-bottom: 0;

          .slide_title {
            h1 {
              font-size: 2rem;
            }
          }

          .slide_body {
            margin: 30px 0 20px 0;
          }

          .slide_link {
            display: block;
            float: none;
            margin-bottom: 40px;
          }
        }

        picture {
          width: 60%;
          overflow-y: auto;
          float: left;
        }
      }

      @include breakpoint($break-fullsize) {
        .slide_caption {
          .slide_title {
            h1 {
              font-size: 24px;
              height: auto;
            }
          }
        }
      }
      @include breakpoint(max-width $break-mobile-landscape - 1) {
        .slide_link {
          text-align: center;
          float: none !important;
          margin-bottom: 50px;
        }
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: 3px;
    width: 50%;
    left: 20px;
    float: left;
    margin-bottom: 20px;

    li {
      float: left;

      &.slick-active {
        button {
          background-color: $white;

          .slick-dot-icon {
            color: $white !important;
            opacity: 1;
          }
        }
      }

      button {
        overflow: hidden;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: transparent;
        box-shadow: inset 0 0 0 2px $white;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        position: absolute;
        color: transparent;

        &:hover, &:focus {
          border: 1px solid $cerulean;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: transparent;
          box-shadow: inset 0 0 0 2px $white;
          transition: background .3s ease;
        }

        .slick-dot-icon {
          color: transparent;
          opacity: unset;

          &:before {
            font-size: 20px !important;
          }

          &:focus {
            outline: .25rem solid $cerulean;
          }
        }
      }
    }

    @include breakpoint($break-tablet-landscape) {
      position: absolute;
      bottom: 8px;
      width: 30%;
      left: 55px;
      float: left;
      margin-top: 40px;
      margin-bottom: 0;
    }
    @include breakpoint(max-width $break-mobile-landscape - 1) {
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      float: none;
      margin-bottom: 20px;
      text-align: center;

      li {
        float: none;
        width: 16px;
        height: 16px;
      }
    }
  }

  .slick-autoplay-toggle-button {
    position: absolute;
    bottom: 0 !important;
    left: 35% !important;
    color: $fog;
    background: transparent;
    border: none;
    padding: 0;
    opacity: 1;

    &:hover, &:focus {
      background-color: transparent;
      border: 1px solid $cerulean;
      color: $white;
      box-shadow: none;
    }

    .slick-pause-icon,
    .slick-play-icon {
      color: $white;
      background: transparent;
      border: none;
      opacity: unset;
    }

    .slick-pause-icon:before {
      border: 3px solid $white;
      border-radius: 50%;
      padding: 4px 3px 3px 3px;
    }
  }
}
