// Main Menu
//===================================================================

//Mobile menu icon (to open the mobile menu)
//-----------------------------
.block-mobile-hamburger-block {
  .menu-toggle,
  .menu-toggle.open {
    display: block;
    text-decoration: none !important;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 4.5;
    padding: 2px 7px;
    transition: none;
    width: 65px;
    height: 65px;

    .menu-icon,
    .menu-icon:before,
    .menu-icon:after {
      width: 30px;
      height: 4px;
      border-radius: 1px;
      display: block;
    }

    .menu-icon {
      position: relative;
      overflow: visible;
      margin: 10px auto;
      top: 18px;

      &:before,
      &:after {
        content: '';
        overflow: hidden;
        position: absolute;
        left: 0;
      }

      &:before {
        top: -7px;
      }

      &:after {
        bottom: -7px;
      }
    }
  }
}

//Unique for one added via a block
.block-mobile-hamburger-block {
  position: absolute;
  bottom: 0;
  left: 0;

  @include breakpoint($break-mobile-landscape) {
    display: none;
  }
}

.block-mobile-hamburger-block .menu-toggle.open {
  background-color: $teal;
}

//The Menu
//-----------------------------
.main-menu {
  overflow: visible;
  position: relative;
  z-index: 30;
  display: none;

  //Visibility settings for the mobile menu
  //--------------------------------
  &.open {
    display: block;
  }

  @include breakpoint($break-mobile-landscape) {
    display: block;
  }

  .menu {
    @include menu;
    background-color: $midnight;
  }

  //Things unique to mobile menu links
  //--------------------------------
  &.collapsible {
    > .menu > li {
      > a {
        text-decoration: none;
        position: relative;
        padding: 0.35em 0.75em 0.35em 0.75em;
        font-size: 1.6rem;

        //the arrow
        &:after {
          @include triangle(right, $white, 5px);
          position: absolute;
          top: 50%;
          right: 15px;
          margin: -5px 0 0 0;
        }
      }
    }

    //Always hiding the mega menu
    .mega-menu-wrapper {
      display: none !important;
    }
  }

  // Touch device visibility
  //--------------------------------
  .menu-item.open .mega-menu-wrapper {
    display: block;
    opacity: 1;
  }

  //Basic Menu set up
  //--------------------------------
  > .menu {
    overflow: visible;
    @include clearfix;
    font-size: $base-font-size;

    > li {
      display: block;
      border-bottom: 4px solid $midnight;
      border-top: 1px solid $white;

      &:hover {
        border-bottom: 4px solid $crimson;

        & + li {
          border-top: 1px solid $midnight;
        }
      }

      > a {
        display: block;
        line-height: 1.4;
        text-decoration: none;
      }
    }

    > li.is-active {
      border-bottom: 4px solid $crimson;
    }

    //Horizontal Menu
    //-----------------------------
    @include breakpoint($break-mobile-landscape) {
      font-size: $base-font-size;

      > li {
        float: left;
        border-top: none;

        &:hover + li {
          border-top: none;
        }

        > a {
          padding: 0.25em 0;
          text-align: center;
          // min-height: 3.5em;
        }
      }
    }

    @include breakpoint($break-tablet-portrait) {
      li > a {
        //min-height: 3.5em;
        padding: 0.5em 0;
      }
    }

    @include breakpoint($break-tablet-landscape) {
      font-size: 1.6rem;
      li {
      }
    }
  }

  //Mega menu fonts always stay at 14px
  .mega-menu-item {
    font-size: $base-font-size;
  }

  > .menu > li {

    //Responsive widths for navigation tabs
    //-----------------------------------------
    @include breakpoint($break-mobile-landscape) {
      //Find help
      &:nth-child(1) {
        width: 13%;
      }
      //Practitioner Training
      &:nth-child(2) {
        width: 13%;
      }
      //Public Messages
      &:nth-child(3) {
        width: 12%;
      }
      //Grants
      &:nth-child(4) {
        width: 8%;
      }
      //Data
      &:nth-child(5) {
        width: 8%;
      }
      //Programs
      &:nth-child(6) {
        width: 11%;
      }
      //Newsroom
      &:nth-child(7) {
        width: 12%;
      }
      //About Us
      &:nth-child(8) {
        width: 11%;
      }
      //Publications
      &:nth-child(9) {
        width: 12%;
      }
    }

    @include breakpoint($break-tablet-portrait) {
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 17%;
      }
      &:nth-child(3) {
        width: 16%;
      }
      &:nth-child(4) {
        width: 7%;
      }
      &:nth-child(5) {
        width: 6%;
      }
      &:nth-child(6) {
        width: 9%;
      }
      &:nth-child(7) {
        width: 10%;
      }
      &:nth-child(8) {
        width: 9%;
      }
      &:nth-child(9) {
        width: 11%;
      }
    }
  }
}

// Main Menu COLORS
// Might want to edit the color variables in /config/variables/colors rather than change code here
//-----------------------------------------------------

//Mobile menu icon
//---------------------
.block-mobile-hamburger-block .menu-toggle {
  color: $white !important;

  .menu-icon,
  .menu-icon:before,
  .menu-icon:after {
    background-color: $white;
  }
}

.block-mobile-hamburger-block .menu-toggle:hover,
.block-mobile-hamburger-block .menu-toggle.animating,
.block-mobile-hamburger-block .menu-toggle.open {
  color: $white !important;
  background-color: $teal;

  .menu-icon,
  .menu-icon:before,
  .menu-icon:after {
    background-color: $white;
  }
}

//Main menu top links
//---------------------

.main-menu .menu-item,
.main-menu .menu-item.open {
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }

  > a,
  > a.is-active {
    // @include link-colors($white, $white, $white, $white, $white);
  }
}

//MEGA MENU 2019 styles
//========================
//Base Set up for mega menu
//--------------------------

.mega-menu-item {
  display: block;
  width: 100%;
  line-height: 1.3;

  @include breakpoint($break-desktop) {
    height: auto;
  }

  a.heading-link {
    @include hover-link;
  }
}

.menu--simple-mega-menu > .menu-item--expanded > .mega-menu-wrapper {
  background: $mist;
  border: 1px solid $silver;

  .field--type-link {
    float: right;
    margin: 0 10px 10px 0;
  }

  .col-3 {
    width: 32%;
    float: left;
    margin-right: 2%;

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .col-4 {
    width: 23.8%;
    float: left;
    margin-right: 1.2%;

    &.about-1,
    &.about-2 {
      border-right: 1px solid $silver;
      height: 240px;
    }

  }

  img.align-left {
    margin: 5px 10px 0 0;
  }
}

.simple-mega-menu {
  h2 {
    margin: 5px 0;
    font-size: 1.5rem;

    a {
      color: $midnight;
      text-decoration: none;

      &:hover {
        color: $ruby;
        text-decoration: underline;
      }
    }
  }

  h3 {
    font-size: 14px;
    margin: 0.75em 0;
    color: $black;
  }

  ul {
    margin-bottom: 10px;

    li {
      padding: 0.5em;
      //mega menus second level bulleted list
      ul {
        margin-top: 10px;
        margin-bottom: 0;

        li {
          font-size: 14px;
          padding: 0.25em 1em;
          //Double caret lists (used in mega menu)
          /*&:before {
              content: "\0BB \020";
            }*/
        }
      }

      a {
        color: $sapphire;
        text-decoration: none;

        &:hover {
          color: $midnight;
          text-decoration: underline;
        }
      }
    }
  }
}

//Locator list (used in mega menu)
//--------------------------------------

.menu ul.locator li {
  margin: 0 0 0.5em;
  padding: 0 0 0 24px;
  display: block;
}

//data mega menu styles
//--------------------------

.data_menu {
  width: 100%;
  margin-bottom: 15px;
  margin-left: 5px;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 5px 0;

      a {
        text-decoration: none;
      }
    }

    //li
    .newlevel.level-1 {
      margin: 12px 0;
    }

    .level-1 {
      position: absolute;
      top: 0;
      left: 250px;
    }
  }

  //ul
  .newlevel li:hover > ul {
    display: block;
  }

  .level-0 ul {
    display: none;
  }
}

//fix for the arrows bug on the main navigation between 624-640px
//------------------------------------------------------------------
@include breakpoint(max-width $break-tablet-portrait -1) {
  .main-menu.collapsible > .menu > li > a {
    font-size: $base-font-size;

    &:after {
      border-left: none;
      border-bottom: none;
      border-top: none;
    }
  }
}
