div#block-breadcrumbs {
  //    padding-top: 14px;
  width: 70%;
  float: left;
}

.block-system-breadcrumb-block {
  display: none;
}

@include breakpoint($break-mobile-landscape) {
  .block-system-breadcrumb-block {
    display: block;

    h2 {
      display: none;
    }
  ;

    nav {
      padding-bottom: 0.5em;

      h2 {
        display: none;
      }

      ol {
        margin: 0;
        padding: 0 0 0 8px;
      }

      [dir="rtl"] ol {
        /* This is required to win over specificity of [dir="rtl"] ol */
        margin-right: 0;
      }

      li {
        display: inline;
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      /* IE8 does not support :not() and :last-child. */
      li:before {
        content: " \BB ";
      }

      li:first-child {
        padding-left: 0;

        &:before {
          content: none;
        }
      }

    }
  }
}
