// Mobile fix
#rc--mobile-collapsible-menu {
  display: block;
  height: auto;
  width: auto;
  color: $sapphire;
  border: 1px solid $smoke;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 0 10px 10px;
  font-weight: bold;
}

#rc--mobile-collapsible-menu::after {
  left: 95%;
}

#rc--mobile-collapsible-menu::before {
  left: 95%;
}

#rc--mobile-outer-wrapper {

  @include breakpoint($break-mobile-landscape) {
    display: none;
  }
}

.rc--side-sidebar-first {
  min-height: 100%;
}

.js-facets-checkbox-links {
  li {
    border: none;
    height: auto;
  }
}

.rc-plus-icon {
  @include plus-icon(8px, 16px, 4px, plus);

}

.rc-minus-icon {
  display: block;
  @include plus-icon(8px, 16px, 4px, minus);
}

.rc--mobile-filters-container {
  // display: none;
  display: block;

  @include breakpoint($break-tablet-portrait) {
    // display: block;
    display: none;
  }
}

#rc--mobile-collapsible-filters-title {
  // display: none;
  display: block;
  width: 145px;
  height: 30px;
  color: rgb(74, 74, 74);
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 10px;
    //margin-top: 55px;

  @include breakpoint($break-tablet-portrait) {
    display: none;
  }
}

.block-mobile-rc-header-h1 {
  // display: none;
  display: block;
  width: 64px;
  height: 20px;
  color: rgb(74, 74, 74);
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 20px;
  margin-left: 10px;

  @include breakpoint($break-tablet-portrait) {
    display: none;
  }
}

.rc--hide-block {
  display: none;
  @include breakpoint($break-tablet-portrait) {
    display: block;
  }
}

.rc--mobile-collapsible-filters {
  // display: none;
  background: url(../../images/plus-icon.svg) no-repeat right;
  background-size: 6%;
  background-position: 95%;
  color: $sapphire;
  font-size: 16px;
  font-weight: $weight-bold;
  line-height: 40px;
  width: auto;
  height: 45px;
  border: 1px solid $smoke;
  border-radius: 0;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: block;

  @include breakpoint($break-tablet-portrait) {
    display: none;
  }

  &.expanded {
    background: url(../../images/minus-icon.svg) no-repeat 95%;
    background-size: 6%;
  }
}

.rc--main {
  .messages--error {
    display: none;
  }
}
