// if no serach result
.fix_empty_block {
  height: 70px;

  section {
    padding: 0;
  }

  ul {
    height: 70px;
    padding-top: 5px;
    display: flex;
  }

  .link-left-space {
    margin-left: 100px;
  }
}

@include breakpoint(0 $break-tablet-portrait) {
  .fix_empty_block {
    height: auto;

    section {
      padding: 10px;
    }

    ul {
      flex-direction: column;
      margin-left: 10px;
      margin-top: 5px;
    }

    .link-left-space {
      margin-left: 0;
    }
  }
}
