.helper-top-content {
  padding: 0 !important;
  margin: 0 !important;

  .region-content {
    width: 100%;
    padding: 3%;

    @include breakpoint($break-tablet-portrait) {
      padding: 0;
      width: 70%;
    }

    .resource-search-filter {
      display: none;
      @include breakpoint($break-tablet-portrait) {
        display: block;
      }
    }

    .resource-view-h1 {
      display: none;
      @include breakpoint($break-tablet-portrait) {
        display: block;
      }
    }
  }

  .region--sidebar-first {
    margin: 0 !important;
    width: 100% !important;
    //padding: 3% !important;

    @include breakpoint($break-tablet-portrait) {
      width: 25% !important;
    }

    .rc--collapsible-filters {
      display: none;
      @include breakpoint($break-tablet-portrait) {
        display: block;
      }
    }

    .rc--container-outer-wrapper {
      display: none;
      @include breakpoint($break-tablet-portrait) {
        margin-top: 8px;
        display: block;
      }
    }
  }

  /// test moving this outside that stupid class
  .rc--collapsible-filters {
    display: none;
    @include breakpoint($break-tablet-portrait) {
      display: block;
    }
  }

  .rc--container-outer-wrapper {
    display: none;
    @include breakpoint($break-tablet-portrait) {
      display: block;
      margin-top: 8px;
    }
  }

}

article.node--type-resource .resource-link {
  padding-bottom: 0 !important;

  .field__item a {
    color: $white;
  }

  .field__item > a {
    appearance: none;
    background-color: $teal;
    border: 1px solid $teal;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: $base-font-family;
    font-weight: $weight-regular;
    line-height: 2.2;
    padding: 0 16px;
    margin: 0 .375em .375em 0;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:active {
      background-color: $steel;
      border: 1px solid $steel;
    }
  }
}

// .helper-preface nav .dl-menuwrapper button  {
//   top:-30px;
// }
