// Custom class
// Search page Top search engine.
.rc---outer-container {
  position: relative;
  z-index: 2;
  display: none;
}

.rc---inner-container {
  position: relative;
  z-index: 0;
  top: 0;
  width: 100%;
  left: 0;

  @include breakpoint($break-tablet-portrait) {
    position: absolute;
    z-index: 100;
    top: -110px;
    width: 100%;
    left: -15%;
  }
}

.rc---fixed-container {
  display: flex;
  margin: 0;
  padding: 0;

  .form-submit {
    width: 100px;
  }

  .form-item {
    margin: 0;
    padding: 0;
  }

  .button {
    height: 45px;
    background: $sapphire;
  }

  .rc---input {
    width: 100%;
    height: 45px;

    .form-text {
      width: 100%;
      height: 45px;
    }
  }
}

.rc---submit.reset input {
  margin-left: 20px;
  background: white;
  color: $sapphire;
  border: solid 1px $sapphire;
}

// updated RC Styles webform rebuild

#views-exposed-form-rc-solr-search-page-1 {
  display: flex;
  margin-bottom: 0;
  flex-direction: column-reverse;
  justify-content: flex-end;
  max-width: unset;

  @include breakpoint($break-desktop) {
    flex-direction: row-reverse;
  }

  input {
    display: none;
  }

  .form-item-items-per-page {
    padding-left: 0;
    width: 50%;

    @include breakpoint($break-tablet-portrait) {
      padding-left: 50px;
    }
  }

  #edit-items-per-page {
    margin-left: 18px;
    @include breakpoint($break-tablet-portrait) {
      margin-left: 5px;
    }
  }

  .form--inline {
    flex-direction: column-reverse;
    width: 100%;
    

    @include breakpoint($break-tablet-portrait) {
      display: flex;
      flex-direction: row-reverse;
    }

    .js-form-item {
      display: flex;
      margin-right: 0;

      label {
        font-weight: $weight-regular;
        padding-top: 5px;
        width: 55px;
      }
    }
  }

  // USWDS migration styles 040721 - limit override to RC pages
  .form-item {
    display: flex;
  }

  .usa-label {
    label {
      padding-top: 1.2rem;
      padding-right: 1rem;
    }
  }

  // USWDS migration modification 041421
  #edit-sort-bef-combine {
    width: 300px;
  }

  .usa-select {
    padding: 0 2rem 0 .5rem;
    height: 3rem;
  }
}

.rc--search-form {
  margin: 0;
  

  @include breakpoint($break-tablet-portrait) {
    // margin: 4rem 0 0;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 4rem 0 0;
  }

  .usa-label {
    width: 70%; //added for USWDS 041921
  }
}

.rc--search-input {
  width: 70%;

  input {
    height: 40px;
  }
}

.webform-submission-resource-center-search-add-form {
  .webform-elements {
    display: flex;
    justify-content: center;
  }
}

.rc--search-button {
  height: 40px;
}
