// Search page.
// Mian target class is region-sidebar-first.
// faceted search.
.region-sidebar-first {
  @include view-block-facets;

  .block-facets {
    @include collapsiblock;
    padding: 0 !important;
  }

  .rc--collapsible-filters-title {
    width: 57px;
    height: 20px;
    color: rgb(74, 74, 74);
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 12px;
  }

  .facet-empty {
    font-weight: bold;
    margin-bottom: 20px;
    border-top: 1px solid $border-color-line;
    padding-top: 20px;
  }

  div .collapsiblock {
    background: url(../../images/bold-chevron-down.svg) no-repeat 95%/18px 18px;
    // background-size: 6% !important;
    // background-position: 95% !important;
  }

  div .collapsiblockCollapsed {
    background: url(../../images/bold-chevron-right.svg) no-repeat 95%/18px 18px;
    // background-size: 4% !important;
    // background-position: 95% !important;
  }

  li.facet-item {
    display: flex;

    [type=checkbox] {
      margin-right: 1.375em;
      margin-top: 0.50em;
      width: 1.25em;
      height: 1.25em;
      border: 2px solid $steel;
      //background-color: $silver;
    }

    label {
      width: 240px;
      color: $steel;
      font-size: 15px;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      font-weight: normal;
    }
  }
}
