
.rc---filter-outer-container {
  margin: 0;
  height: 60px;

  @include breakpoint(0 $break-tablet-portrait) {
    padding-top: 15px;
    height: 120px;
  }

  .js-form-item {
    #edit-items-per-page {
      width: 60px;
    }
  }

  .js-form-item-sort-bef-combine {
    margin-right: 100px;

    @include breakpoint(0 $break-tablet-portrait) {
      //margin-right: 35px;
      margin-right: 5px;
    }
  }

  ul {
    li {
      .form-select {
        height: 45px;

        @include breakpoint(0 $break-tablet-portrait) {
          height: 35px;
        }
      }
    }

    display: flex;
    margin: 0;
    list-style: none;

    @include breakpoint(0 $break-tablet-portrait) {
      display: flex;
      margin: 0;
      list-style: none;
      flex-direction: column;
    }

    div {
      display: flex;

      label {
        margin-top: 0;
        font-weight: normal;
      }

      label[for="edit-items-per-page"] {
        width: 35px !important;
        font-weight: normal;
        padding-top: 12px;

        @include breakpoint(0 $break-tablet-portrait) {
          width: 56px !important;
        }
      }

      label[for="edit-sort-bef-combine"] {
        width: 70px;
        font-weight: normal;
        padding-top: 12px;
      }
    }
  }

}

// Reset Search button
.rc-sidebar {
  .rc-search-filters-reset {
    @include button-secondary-1;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
  }
}
