// main page
// List search result
// solr-search list style for files | publication-date | title | resource-summary | resource-url
.view-rc-solr-search {
  .views-row {
    display: inline-block;
    margin-bottom: 1rem;

    .views-field-field-resource-image img {
      @include view-block-image;
      width: 130px;
      height: 150px;

      @include breakpoint($break-mobile-landscape) {
        float: none;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
      }
    }

    .views-field-title {
      @include views-field-title-h3;

      a {
        @include views-field-title;
        text-decoration: none;
      }

      h3 {
        font-size: 1.8rem;

        &:hover {
          font-size: 1.8rem;
        }
      }
    }

    .views-field-field-rc-publication-date {
      display: flex;
      margin-top: 10px;
      margin-bottom: 10px;

      .datetime {
        width: 63px;
        @include view-block-style;
        margin-left: 10px;
      }
    }

    .views-field-field-rc-resource-summary {
      @include view-block-style;
    }

    .views-field-sticky {
      display: flex;
    }

    .views-field-field-resource-url {
      display: flex;
    }
  }

}

.rc--content {
  @include breakpoint($break-mobile-landscape) {
  }
}

// View page heading
.view--rc-header-h2 {
  display: none;

  @include breakpoint($break-tablet-portrait) {
    display: block;
    margin-bottom: 0;
    margin-top: .5rem; //added for USWDS 041921
    padding: 0;
  }
}

// Side filter block
.block--rc-header-h1 {
  margin-top: 1.6rem; //updated for UWSDS 041921
}

// Results View List styles
// .rc-list-results classname added to view config

.rc-list-results {
  .right {
    font-weight: $weight-bold;
    overflow: hidden;

    p, a {
      font-weight: $weight-regular;
    }
  }

  .datetime {
    display: inline-block;
    padding-bottom: 1rem;
    font-weight: $weight-regular;
  }

  .views-field-title {
    .field-content {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: $ruby;
        }
      }
    }
  }

  .left {
    img {
      display: none;

      @include breakpoint($break-tablet-portrait) {
        display: block;
        float: left;
        margin-right: 1rem;
        border: 1px solid $silver;
        width: 116px;
      }
    }
  }
}

.view--rc-header-h1 {
  display: none;

  @include breakpoint($break-mobile-landscape) {
    display: block;
  }
}

// USWDS 042021
.rc-list-results {
  .usa-nav__primary {
    justify-content: center;
    text-align: center;
    display: inline-flex;
  }

  .usa-nav__primary-item {
    border-top: none;
  }
}
