
.views-field-description-1 {
  margin-left: 0;
  height: 130px;
  display: block;
  margin-top: 45px;
  margin-bottom: 0;
  padding: 0;
  /* Portrait and Landscape */
  @include breakpoint(0 $break-tablet-portrait) {
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 10px 10px;
  }
}

.link--rc-head-links {
  @include rc-horizontal-list;

  @include breakpoint(0 $break-tablet-portrait) {
    padding-top: 10px
  }

  ul {
    li {
      a {
        & {
          color: $sapphire;
          text-decoration: none;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }

        &:visited {
          color: $sapphire;
          text-decoration: none;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }

        &:hover {
          color: $ruby;
          text-decoration: underline;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }

        &:active {
          color: $sapphire;
          text-decoration: none;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }

        &:focus {
          color: $sapphire;
          text-decoration: none;
          font-size: 15px;
          font-weight: normal;
          line-height: 20px;
        }

        .exitDisclaimer {
          display: none;
        }
      }
    }
  }

  .link-rc-first {
    border: none;
  }

  .link-rc-end {
    margin-left: 105px;
    /* Portrait and Landscape */
    @include breakpoint(0 $break-tablet-portrait) {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
