// Monobar/HHS ribbon at mobile - up to 624px
//------------------------------------------------
.region--header-top {
  .mono-bar {
    display: none;
  }
}

//HHS ribbon on desktop 624px and up
//---------------------------------------

@include breakpoint($break-mobile-landscape) {
  .region-header-top {
    .mono-bar {
      display: block;
      background-color: $mist;
      text-align: left;
      padding: 0;

      .hhs-ribbon {
        width: 1000px;
        margin: 0 auto;
        height: 36px;

        .hhs-icon {
          width: 30px;
          margin-right: 5px;
          vertical-align: middle;
          fill: $midnight;

          &:hover {
            fill: $steel;
          }
        }

        a {
          color: $midnight;
          text-decoration: none;
          font-size: $base-font-size;
          line-height: 2.5em;

          &:hover {
            color: $steel;
          }
        }
      }

      span.ext {
        display: none;
      }
    }
  }
}
