//Styling for PNG logo replacement
nav#block-samhsa-uswds-base-utilitymenu {
  margin-top: -5px;
}

.region-header {
  background-color: $midnight;
  @include breakpoint($break-desktop) {
    background-color: transparent;
  }
}

.site-branding {
  margin: 0;
  max-width: 100%;
  padding: 10px 0;
  width: 100%;
  text-align: center;

  .samhsa-logo {
    fill: $white;
    width: 118px;
    height: 50px;
  }

  @include breakpoint($break-desktop) {
    margin: 0;
    max-width: 190px !important;
    padding: 10px 0 10px;
    text-align: left;
    .samhsa-logo {
      fill: $midnight;
      width: 250px;
      height: 85px;
    }
  }
}
