{#
/**
 * THIS IS A CUSTOM 1 COLUMN LAYOUT FOR USE IN LAYOUT PARAGRAPHS
 */
#}
{%
  set classes = [
  'layout',
  'layout--onecol',
  'grid-row',
  'grid-gap',
]
%}
{% if content %}
  <style>
    .node-form .layout--onecol .layout__region {
      width: 100%;
    }
  </style>

  <div{{ attributes.addClass(classes) }}>
    <div {{ region_attributes.content.addClass('layout__region', 'layout__region--content', 'grid-col-12') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
