{#
/**
 * THIS IS A CUSTOM 3 COLUMN LAYOUT FOR USE IN LAYOUT PARAGRAPHS
 */
#}
{%
  set classes = [
  'layout',
  'layout--threecol',
  'grid-row',
  'grid-gap',
]
%}
{% if content %}
  <style>
    .node-form .layout--threecol {
      display: flex;
      flex-wrap: wrap;
    }
    .node-form .layout--threecol > .layout__region {
      flex: 0 1 100%;
    }
    @media screen and (min-width: 40em) {
      .node-form .layout--threecol > .layout__region--first,
      .node-form .layout--threecol > .layout__region--third {
        flex: 0 1 33%;
      }
      .node-form .layout--threecol > .layout__region--second {
        flex: 0 1 34%;
      }
    }
  </style>

  <div{{ attributes.addClass(classes) }}>
    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first', 'desktop:grid-col-4') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second', 'desktop:grid-col-4') }}>
        {{ content.second }}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('layout__region', 'layout__region--third', 'desktop:grid-col-4') }}>
        {{ content.third }}
      </div>
    {% endif %}
  </div>
{% endif %}
