// COMPONENTS - CUSTOM - samhsa - accordion

.usa-accordion.samhsa {
  color: $base-font-color;
  font-size: $base-font-size-px;
  margin: 0;
  padding: 0 0 1.5rem 0;

  .usa-accordion_panel_wrapper {
    margin-bottom: 10px;
    float: left;
    font-size: $base-font-size-px;

    a:active {
      color: $sapphire;
      text-decoration: underline;
    }

    .usa-accordion__heading {
      font-size: $base-font-size-px;
      position: relative;

      button {
        background-color: $white;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: 97%;
        color: $base-font-color;
        cursor: pointer;
        border: none;
        line-height: 20px;
        margin: 0;
        padding: 15px 65px 15px 30px;
        position: relative;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: left;
        white-space: normal;

        p {
          margin-bottom: 0;
        }

        &:after {
          content: "";
          border-bottom: 1px solid $teal;
          position: absolute;
          bottom: 0;
          left: 3%;
          width: 94%;
        }

        &[aria-expanded="true"] {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border: 1px solid $silver;
          border-right: 3px solid $fog;
          border-bottom: 0;

          &:after {
            border-bottom: 1px solid $cerulean;
            left: 2%;
            width: 96%;
          }
        }

        &[aria-expanded="false"] {
        }
      }
    }

    h1 {
      font-size: 24px !important;

      button {
        font-weight: $weight-bold;
        line-height: 28px !important;
      }
    }

    h2 {
      font-size: 20px !important;
      margin: 5px 0;

      button {
        font-weight: $weight-bold;
        line-height: 24px !important;
      }
    }

    h3 {
      font-size: 18px !important;

      button {
        font-weight: $weight-bold;
        line-height: 22px !important;
      }
    }

    h4 {
      font-size: 16px !important;

      button {
        font-weight: $weight-bold;
        line-height: 20px !important;
      }
    }

    h5 {
      font-size: 15px !important;

      button {
        font-weight: $weight-bold;
        line-height: 19px !important;
      }
    }

    h6 {
      font-size: 15px !important;
      font-weight: $weight-regular !important;

      button {
        line-height: 19px !important;
      }
    }

    .usa-accordion__content {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid $silver;
      border-bottom: 3px solid $fog;
      border-right: 3px solid $fog;
      border-top: 0;
      padding-bottom: 20px;

      &[hidden] {
        border-radius: 0;
        border: 0;
      }
    }
  }
}

// COMPONENTS - CUSTOM - uswds - accordion

.usa-accordion.uswds {
  color: $base-font-color;
  font-size: $base-font-size-px;
  margin: 0;
  padding: 0;

  .usa-accordion-group-header {
    padding: 1.5rem 0 0 0;
  }

  .usa-accordion__expandcollapse {
    margin: auto 0;
  }

  .usa-accordion_panel_wrapper {
    float: left;
    font-size: $base-font-size-px;
    padding-bottom: 1.5rem;

    a:active {
      color: $sapphire;
      text-decoration: underline;
    }

    .usa-accordion__heading {
      font-size: $base-font-size-px;
      position: relative;

      button {
        background-color: $mist;
        background-size: 30px;
        background-position: 97%;
        color: $base-font-color;
        cursor: pointer;
        border: 1px solid $mist;
        line-height: 20px;
        margin: 0;
        padding: 1.5rem 45px 1.5rem 1.5rem;
        position: relative;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-align: left;
        white-space: normal;

        p {
          padding: 0;
          margin: 0;
        }

        &[aria-expanded="true"] {
          border: 1px solid $holy-gray;
          border-bottom: 0;
        }

        &[aria-expanded="false"] {
        }

        &:hover,
        &:focus {
          background-color: $holy-gray;
        }
      }
    }

    h1 {
      font-size: 24px !important;

      button {
        font-weight: $weight-bold;
        line-height: 28px !important;
      }
    }

    h2 {
      font-size: 20px !important;

      button {
        font-weight: $weight-bold;
        line-height: 24px !important;
      }
    }

    h3 {
      font-size: 18px !important;

      button {
        font-weight: $weight-bold;
        line-height: 22px !important;
      }
    }

    h4 {
      font-size: 16px !important;

      button {
        font-weight: $weight-bold;
        line-height: 20px !important;
      }
    }

    h5 {
      font-size: 15px !important;

      button {
        font-weight: $weight-bold;
        line-height: 19px !important;
      }
    }

    h6 {
      font-size: 15px !important;
      font-weight: $weight-regular !important;

      button {
        line-height: 19px !important;
      }
    }

    .usa-accordion__content {
      border: 1px solid #e6e6e6;
      border-top: 0;
      padding: 1.5rem;

      &[hidden] {
        border-radius: 0;
        border: 0;
      }
    }
  }
}
