// COMPONENTS - CUSTOM - samhsa - alert

.usa-alert.samhsa {
  color: $base-font-color;
  margin: 1.5rem 0;

  a:active {
    color: $sapphire;
    text-decoration: underline;
  }

  &:before {
    top: 10px;
    mask-size: 35px 35px;
    -webkit-mask-size: 35px 35px;
    width: 35px;
    height: 35px;
  }

  .usa-alert__body {
    margin: 5px 0 0 0;
    padding: 0 20px 0 60px;

    .usa-alert__heading {
      font-size: $base-font-size;
      font-weight: $weight-bold;
      margin-bottom: 8px;
    }

    .usa-alert__text {
      font-size: $base-font-size;

      p {
        margin: 0 0 4px 0;
      }
    }
  }
}

.usa-alert.samhsa.usa-alert--slim {
  &:before {
    top: 8px;
    left: 8px;
    mask-size: 20px 20px;
    -webkit-mask-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .usa-alert__body {
    padding: 0 20px 0 36px;

    .usa-alert__heading {
      display: none;
    }

    .usa-alert__text {
    }
  }
}

.usa-alert.samhsa.usa-alert--no-icon {
  &:before {
    display: none;
  }

  .usa-alert__body {
    margin: 2px 0 0 0;
    padding: 0 20px 0 12px;

    .usa-alert__heading {
      display: none;
    }

    .usa-alert__text {
    }
  }
}

.usa-alert.samhsa.usa-alert--info {
  background: $cerulean-20;
  border-left-color: $cerulean;
}

.usa-alert.samhsa.usa-alert--warning {
  background: $light-yellow;
  border-left-color: $dark-yellow;
}

.usa-alert.samhsa.usa-alert--error {
  background: $crimson-20;
  border-left-color: $crimson;
}

.usa-alert.samhsa.usa-alert--success {
  background: $light-green;
  border-left-color: $success;
}

.usa-alert.samhsa.usa-alert--emergency {
  background: $ruby;
  border-left-color: $ruby;
  color: $white;

  a,
  a:hover {
    color: $white;
  }
}
