// COMPONENTS - CUSTOM - samhsa - buttons
.usa-button.samhsa {
  &.primary-button-1 {
    background-color: $teal;
    color: $white;
    border: none;

    button {
      background-color: $teal;
      color: $white;
      border: none;
    }
  }

  &.primary-button-1:hover {
    background-color: $steel;

    button {
      background-color: $steel;
      color: $white;
      border: none;
    }
  }

  &.primary-button-2 {
    background-color: $midnight;
    color: $white;
    border: none;

    button {
      background-color: $midnight;
      color: $white;
      border: none;
    }
  }

  &.primary-button-2:hover {
    background-color: $charcoal;

    button {
      background-color: $charcoal;
      border: none;
    }
  }

  &.secondary-button-1 {
    background-color: $white;
    color: $teal;
    border: solid 1px $teal;

    svg {
      color: $teal;
    }

    button {
      background-color: $white;
      color: $teal;
      border: none;
    }
  }

  &.secondary-button-1:hover {
    color: $steel;
    border: solid 1px $steel;

    svg {
      color: $steel;
    }

    button {
      color: $steel;
      border: none;
    }
  }

  &.secondary-button-2 {
    background-color: $white;
    color: $midnight;
    border: solid 1px $midnight;

    svg {
      color: $midnight;
    }

    button {
      background-color: $white;
      color: $midnight;
      border: none;
    }
  }

  &.secondary-button-2:hover {
    color: $charcoal;
    border: solid 1px $charcoal;

    svg {
      color: $teal;
    }

    button {
      color: $teal;
      border: none;
    }
  }

  &.inverted-button-1 {
    background-color: $teal;
    color: $white;
    border: solid 1px $white;

    button {
      background-color: $teal;
      color: $white;
      border: none;
    }
  }

  &.inverted-button-1:hover {
    color: $teal;
    background-color: $white;

    svg {
      color: $teal;
    }

    button {
      color: $teal;
      background-color: $white;
      border: none;
    }
  }

  &.inverted-button-2 {
    background-color: $midnight;
    color: $white;
    border: solid 1px $white;

    button {
      background-color: $midnight;
      color: $white;
      border: none;
    }
  }

  &.inverted-button-2:hover {
    color: $charcoal;
    background-color: $white;

    svg {
      color: $charcoal;
    }

    button {
      color: $charcoal;
      background-color: $white;
      border: none;
    }
  }

  &.cancel-button {
    background-color: $crimson;
    color: $white;
    border: solid 1px $white;

    button {
      background-color: $crimson;
      color: $white;
      border: none;
    }
  }

  &.cancel-button:hover {
    color: $white;
    background-color: $ruby;

    button {
      color: $white;
      background-color: $ruby;
      border: none;
    }
  }

  &.disabled-button {
    background-color: $mist;
    color: $charcoal;
    border: solid 1px $white;

    svg {
      color: $charcoal;
    }

    button {
      background-color: $mist;
      color: $charcoal;
      border: none;
    }
  }
}
