// // COMPONENTS - CUSTOM - samhsa - cards
.paragraph--type--usa-card.samhsa {
  height:100%;
}

// // CARDS - WITHOUT BORDER STYLES
.usa-card.samhsa {
  font-size: $base-font-size-px;
  list-style: none;
  margin-bottom: 0;
  padding: 0;

  a:active {
    color: $sapphire;
    text-decoration: underline;
  }

  .usa-card__container {
    border: none;
    color: $base-font-color;
    font-size: $base-font-size-px;
    margin-left: 0;
    margin-right: 0;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .compat-object-fit {
        background-size: cover;
        background-position: center center;

        img {
          opacity: 0;
        }
      }
    }

    .usa-card__header {
      padding: 0;
    }

    .usa-card__media {
      .usa-card__img {
        img {
          @include breakpoint($break-desktop) {
            height: auto;
          }
          width: 100%;
        }
      }
    }

    .usa-card__body {
      padding: 1.5rem 0;

      ul {
        li {
          list-style-type: disc;
        }
      }

      p {
        @include breakpoint(0 $break-tablet-portrait) {
          margin-left: 0 !important;
        }
      }
    }

    .usa-card__link {
      padding: 0;
      display: none;
      @include breakpoint($break-desktop) {
        display: block;
      }

      .link_icon {
        padding: 0 4px;
        text-decoration: none;
      }

      &.mobile {
        display: block;
        padding: 0;
        text-align: left;
        margin-top: -15px;
        @include breakpoint($break-desktop) {
          display: none;
        }

      }
    }

    .usa-card__footer {
      padding: 1.5rem 0;

      button {
        a {
          color: $white;
          font-weight: bold;
          text-decoration: underline;
        }
        svg, i {
          color: $white;
          fill: $white;
          margin-left: 1rem;
        }
      }
    }
  }
}

// CARDS - FLAG LEFT STYLE
.usa-card.samhsa.usa-card--flag {
  .usa-card__header {
    padding-left: 0;
    @include breakpoint($break-tablet-portrait) {
      padding-left: 1.5rem;
    }
  }
  .usa-card__body,
  .usa-card__link,
  .usa-card__footer {
    padding:1.5rem 0 0 0;
    @include breakpoint($break-tablet-portrait) {
      padding:1.5rem 0 0 1.5rem;
    }
  }

  .usa-card__link {
    @include breakpoint($break-tablet-landscape) {
      padding-left: 165px;
    }
  }

  .usa-card__media {
    .usa-card__img {
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

// CARDS - FLAG RIGHT STYLE
.usa-card.samhsa.usa-card--media-right {
  .usa-card__header {
    margin-right: 0;
    padding-left: 0;
    @include breakpoint($break-tablet-portrait) {
      padding-right: 1.5rem;
    }
  }
  .usa-card__body,
  .usa-card__link,
  .usa-card__footer {
    padding-left: 0;
    padding-right: 1.5rem;
    @include breakpoint($break-tablet-portrait) {

    }
  }

  .usa-card__media {
    .usa-card__img {
      img {
      }
    }
  }
}

// CARDS - FLAG LEFT 50/50 STYLE
.usa-card.samhsa.usa-card--media-left--50 {
  .usa-card__header {
    margin-left: 0;
    padding-left: 0;
    @include breakpoint($break-tablet-landscape) {
      margin-left: 50%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 50%;
    }
  }
  .usa-card__body,
  .usa-card__link,
  .usa-card__footer {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    @include breakpoint($break-tablet-landscape) {
      margin-left: 50%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 50%;
    }
  }

  .usa-card__media {
    width: 100%;
    position: relative;
    .usa-card__img {
      width: 100%;
    }
    @include breakpoint($break-tablet-landscape) {
      width: 50%;
      position: absolute;
      .usa-card__img {
        width: 100%;
      }
    }

    .usa-card__img img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

// CARDS - FLAG RIGHT 50/50 STYLE
.usa-card.samhsa.usa-card--media-right--50 {
  .usa-card__header {
    padding-right: 0;
    @include breakpoint($break-tablet-landscape) {
      width: 50%;
    }
  }
  .usa-card__body,
  .usa-card__link,
  .usa-card__footer {
    margin-right: 0;
    padding-left: 0;
    @include breakpoint($break-tablet-landscape) {
      width: 50%;
    }
  }

  .usa-card__media {
    width: 100%;
    position: relative;
    .usa-card__img {
      width: 100%;
    }
    @include breakpoint($break-tablet-landscape) {
      width: 50%;
      position: absolute;
      .usa-card__img {
        width: 100%;
      }
    }

    .usa-card__img img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

// CARDS - WITH BORDER STYLES
.usa-card.samhsa.yes_border {
  .usa-card__container {
    border: 2px solid $mist;
    border-radius: .25rem;

    .usa-card__header {
      padding: 0 1.5rem;

      h2 {
        margin: 5px 0;
      }
    }

    .usa-card__body,
    .usa-card__link,
    .usa-card__footer {
      padding: 1.5rem 1.5rem .5rem;
    }
  }

  &.usa-card--image-top {
    .usa-card__media {
      .usa-card__img {
        max-height: 280px;
      }
    }
  }

  &.usa-card--media-right {
    .usa-card__header {
      padding-right: 15rem;
    }
  }
}

// CARDS INSIDE CARD-GRID
.usa-card-group.samhsa {
  color: $base-font-color;
  font-size: $base-font-size-px;
  margin: 0;
  padding: 0 0 1.5rem 0;

  li.usa-card-two-col {
    padding: 0 0 1rem 0;
    width: 100%;

    @include breakpoint($break-tablet-landscape) {
      padding: 0 1.5rem 1rem 0;
      width: 50%;
    }
  }
  li.usa-card-two-col:nth-child(2n) {
    padding: 0 0 1rem 0;
  }

  li.usa-card-three-col {
    padding: 0 1.5rem 1rem 0;
  }
  li.usa-card-three-col:nth-child(3n) {
    padding: 0 0 1rem 0;
  }

  .usa-card {
    padding: 0;

    .usa-card__header{
      p {
        padding: 0;
        margin: 0;
      }
    }

    .usa-card__footer {
      // BUTTONS
      .btn {
        display: flex;
        line-height: 20px;
        font-weight: $weight-regular;
        cursor: pointer;
        padding: 15px 0;
        margin: 5px auto;
        text-decoration: none;
        max-width: 100%;
        width: 100%;

        button {
          line-height: 18px;
          max-width: 100%;
          width: 100%;
          word-wrap: break-word;
          white-space: normal;
          margin-bottom: 0;
        }

        &.primary-button-1 {
          background-color: $teal;
          color: $white;
          border: none;

          button {
            background-color: $teal;
            color: $white;
            border: none;
          }
        }

        &.primary-button-1:hover {
          background-color: $steel;

          button {
            background-color: $steel;
            color: $white;
            border: none;
          }
        }

        &.primary-button-2 {
          background-color: $midnight;
          color: $white;
          border: none;

          button {
            background-color: $midnight;
            color: $white;
            border: none;
          }
        }

        &.primary-button-2:hover {
          background-color: $charcoal;

          button {
            background-color: $charcoal;
            border: none;
          }
        }

        &.secondary-button-1 {
          background-color: $white;
          color: $teal;
          border: solid 1px $teal;

          svg {
            color: $teal;
          }

          button {
            background-color: $white;
            color: $teal;
            border: none;
          }
        }

        &.secondary-button-1:hover {
          color: $steel;
          border: solid 1px $steel;

          svg {
            color: $steel;
          }

          button {
            color: $steel;
            border: none;
          }
        }

        &.secondary-button-2 {
          background-color: $white;
          color: $midnight;
          border: solid 1px $midnight;

          svg {
            color: $midnight;
          }

          button {
            background-color: $white;
            color: $midnight;
            border: none;
          }
        }

        &.secondary-button-2:hover {
          color: $charcoal;
          border: solid 1px $charcoal;

          svg {
            color: $teal;
          }

          button {
            color: $teal;
            border: none;
          }
        }

        &.inverted-button-1 {
          background-color: $teal;
          color: $white;
          border: solid 1px $white;

          button {
            background-color: $teal;
            color: $white;
            border: none;
          }
        }

        &.inverted-button-1:hover {
          color: $teal;
          background-color: $white;

          svg {
            color: $teal;
          }

          button {
            color: $teal;
            background-color: $white;
            border: none;
          }
        }

        &.inverted-button-2 {
          background-color: $midnight;
          color: $white;
          border: solid 1px $white;

          button {
            background-color: $midnight;
            color: $white;
            border: none;
          }
        }

        &.inverted-button-2:hover {
          color: $charcoal;
          background-color: $white;

          svg {
            color: $charcoal;
          }

          button {
            color: $charcoal;
            background-color: $white;
            border: none;
          }
        }

        &.cancel-button {
          background-color: $crimson;
          color: $white;
          border: solid 1px $white;

          button {
            background-color: $crimson;
            color: $white;
            border: none;
          }
        }

        &.cancel-button:hover {
          color: $white;
          background-color: $ruby;

          button {
            color: $white;
            background-color: $ruby;
            border: none;
          }
        }

        &.disabled-button {
          background-color: $mist;
          color: $charcoal;
          border: solid 1px $white;

          svg {
            color: $charcoal;
          }

          button {
            background-color: $mist;
            color: $charcoal;
            border: none;
          }
        }

        span.exitDisclaimer {
          padding-right: 15px;
        }
      }
    }
  }

  .usa-card.desktop\:grid-col-12.no_border.usa-card--image-none {
    .usa-card__container {
      font-size: $base-font-size-px;

      .usa-card__header {
        padding: 0;
      }

      .usa-card__body {
        padding: 0;
      }

      .usa-card__link {
        padding: 0;
      }

      .usa-card__footer {
        padding: 0;

        .btn {
          max-width: 50%;
          width: 50%;
        }
      }
    }
  }
}
