// COMPONENTS - CUSTOM - samhsa - custom-block
.usa-custom-block-group.samhsa {
  color: $base-font-color;
  font-size: $base-font-size-px;

  .usa-custom-block-item {
    margin-bottom: 10px;
    font-size: $base-font-size-px;

    a:active,
    a:visited {
      color: $sapphire;
      text-decoration: underline;
    }

    .usa-custom-block-container {
      margin-left: .5rem;
      margin-right: .5rem;
      padding: 14px;
    }
  }
}

.usa-custom-block-group.samhsa.yes_border {
  .usa-custom-block-item {
    .usa-custom-block-container {
      border-width: 2px;
      border-color: $silver;
      border-style: solid;
      height: 100%;
    }
  }
}
