// COMPONENTS - CUSTOM - samhsa - summary-box

.usa-summary-box.samhsa {
  background-color: $cerulean-20;
  border: 1px solid $cerulean;
  color: $base-font-color;
  margin-bottom: 1.5rem;
  font-size: $base-font-size-px;

  a:active {
    color: $sapphire;
    text-decoration: underline;
  }

  .usa-summary-box__header {
    margin: 0 0 15px 0;
  }

  .usa-summary-box__text {
    ul {
      li {
        line-height: 1;
        max-width: 100%;
      }
    }
  }
}
