.block-views-blockcategory-block-block-1 {
  h2 {
    color: $crimson;
    font-family: Open Sans, sans-serif;
    font-weight: $weight-bold;
    line-height: 1.2;
    margin: 1.5em 0 .75em;
  }

  select {
    padding: 0 10px;
    height: 32px;
    margin: 0 0 .75em;
    border-radius: 5px;
    border: 1px solid $fog;
  }

  select:hover {
    border-color: $fog;
  }
}
