// Blog Base Styles
// created 06072021
// ************* //
.blog {

  h2 {
    @include h2-title;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h3 {
    a {
      text-decoration: none;
      color: $sapphire;

      &:hover {
        color: $ruby;
        text-decoration: underline;
      }
    }
  }

  .categories {
    border-bottom: 1px solid $fog;
    padding: 0 5px 10px 5px;
    margin-top: 15px;

    @include breakpoint($break-desktop) {
      padding-bottom: 5px;
    }
  }

  .blog__menu-toggle {
    background: url('../../images/plus-icon.svg') no-repeat 95% 5px;
    background-size: 5%;

    @include breakpoint($break-desktop) {
      background: none;
    }
  }

  .blog__categories-open {
    background: url('../../images/minus-icon.svg') no-repeat 95% 5px;
    background-size: 5%;
    margin-left: 0;
  }

  img {
    &.image-style-blog-list-image {
      max-width: unset;
    }
  }

  .blog__row {
    border-bottom: 1px solid $midnight-20;
    padding-bottom: 20px;
    margin-bottom: 20px;

    @include breakpoint($break-desktop) {
      padding-bottom: 20px;
      margin-bottom: 25px;
    }
  }

  .blog__row-content {
    display: block;

    @include breakpoint($break-desktop) {
      display: flex;
    }
  }

  .image-style-blog-list-image {
    width: 320px;

    @include breakpoint($break-desktop) {
      height: 180px;
    }
  }

  .blog__feat-img {
    text-align: center;
    padding-right: 0;
    margin-bottom: 10px;

    @include breakpoint($break-desktop) {
      text-align: unset;
      padding-right: 20px;
    }
  }

  .blog__date, .blog__byline {
    padding-bottom: 10px;

    @include breakpoint($break-desktop) {
      padding-bottom: 10px;
    }
  }

  .blog__category-item,
  .block-samhsa-blog-by-year-block li,
  {
    margin-bottom: 15px;
    padding-left: 6px;
  }
}

// this rule is to add the box shadow around open categories list
// added via toggleClass function in blog.js
//
.region--box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 5px 10px 20px 10px;
  margin: 0 -7px 30px -7px;

  @include breakpoint($break-desktop) {
    box-shadow: none;
    margin-bottom: unset;
    padding: unset;
  }
}
