
.publication {
  margin-bottom: 20px;

  .publication-date {
    display: inline;
  }

  .categories {
    border-left: 1px solid $black;
    display: inline;
    margin-left: 10px;
    padding-left: 10px;
  }
}

.blog_citation {
  margin-top: 20px;
}

//16:9 aspect ratio body images
.blog_body_image {
  img {
    margin: 5px 20px 0 0;
  }
}

.blog__summary {
  margin: 20px 0;
}
