// Utility classes
// Added for blog but these can be used site-wide
// Created 062521 by LM

.hide-mobile {
  display: none;

  @include breakpoint($break-desktop) {
    display: block;
  }
}

.hide-desktop {
  display: block;

  @include breakpoint($break-desktop) {
    display: none;
  }
}
