// Variables for colors and mixins for Blog
// created 06072021
///////

@mixin h2-title {
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 5px;

  @include breakpoint($break-desktop) {
    font-size: 23px;
    line-height: 25px;
    margin: 20px 0;
  }
}

@mixin title-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
