{% if youtube_url is not empty %}
    {{ attach_library('samhsa_video_widget/videojs-youtube-master') }}
    {{ attach_library('samhsa_video_widget/videojs') }}
    {% if video_title is not empty %}
        <p>{{ video_title  }}</p>
    {% endif %}
    {% if video_description is not empty %}
        <p>{{ video_description  }}</p>
    {% endif %}
    {% if video_length is not empty %}
        <p>{{ video_length  }}</p>
    {% endif %}
    <video id="video-{{ delta }}"
           class="video-js vjs-default-skin vjs-fluid"
           controls
           width="640" height="264"

           {% if poster_image %}
             poster="{{ poster_image }}"
           {% endif %}

           data-setup='{
               "techOrder": ["youtube"],

               {% if poster_image %}
                 "poster": "{{ poster_image }}",
               {% endif %}

               "sources": [{
                    "type": "video/youtube",
                    "src": "{{ youtube_url }}"
               }]
           }'
           html5='{
                "nativeTextTracks": false
           }'
    >
        {#{% if caption_file %}#}
            <track kind="captions" src="{{ caption_file }}" srclang="en" label="English" default />
        {#{% endif %}#}
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
{% endif %}

{% if mp3_audio_file is not empty %}
    {% if mp3_audio_title is not empty %}
        <p>{{ mp3_audio_title  }}</p>
    {% endif %}
    {% if mp3_audio_description is not empty %}
        <p>{{ mp3_audio_description  }}</p>
    {% endif %}
    {% if mp3_audio_length is not empty %}
        <p>{{ mp3_audio_length  }}</p>
    {% endif %}
    <audio controls="controls">
        <source src="{{ mp3_audio_file }}" type="audio/mpeg"/>
    </audio>
{% endif %}