<div class="grid-container" style="margin-top:10px;">
  <!-- MAIN SECTION WRAPPER -->
  <div class="grid-row">

    <!-- NAV COLUMN -->
    <div class="tablet:grid-col-2">
      <nav aria-label="Secondary navigation">
        <ul class="usa-sidenav">
          <li class="usa-sidenav__item"><a class="usa-current" href="#accordions">Accordions</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item"><a href="#accordions-default">Accordions - Default</a></li>
              <li class="usa-sidenav__item"><a href="#accordions-samhsa">Accordions - Samhsa</a></li>
              <li class="usa-sidenav__item"><a href="#accordions-multiselect">Accordions - Multi-Select</a></li>
            </ul>
          </li>
          <li class="usa-sidenav__item"><a href="#alerts">Alerts</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item"><a href="#alerts-default">Alerts - Default</a></li>
              <li class="usa-sidenav__item"><a href="#alerts-default-samhsa">Alerts - Default - Samhsa</a></li>
              <li class="usa-sidenav__item"><a href="#alerts-slim">Alerts - Slim</a></li>
              <li class="usa-sidenav__item"><a href="#alerts-slim-samhsa">Alerts - Slim - Samhsa</a></li>
              <li class="usa-sidenav__item"><a href="#alerts-noicon">Alerts - No Icon</a></li>
              <li class="usa-sidenav__item"><a href="#alerts-noicon-samhsa">Alerts - No Icon - Samhsa</a></li>
            </ul>
          </li>
          <li class="usa-sidenav__item"><a href="#banners">Banners</a></li>
          <li class="usa-sidenav__item"><a href="#breadcrumbs">Breadcrumbs</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item"><a href="#breadcrumbs-default">Breadcrumbs - Default</a></li>
              <li class="usa-sidenav__item"><a href="#breadcrumbs-wrapping">Breadcrumbs - Wrapping</a></li>
            </ul>
          </li>
          <li class="usa-sidenav__item"><a href="#buttons">Buttons</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item"><a href="#buttons-default">Buttons - Default</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-secondary">Buttons - Secondary Colors</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-accent">Buttons - Accent Colors</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-warm">Buttons - Warm Colors</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-base">Buttons - Base Colors</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-outline">Buttons - Outline</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-outline-inverse">Buttons - Outline Inverse</a></li>
              <li class="usa-sidenav__item"><a href="#buttons-big">Buttons - Big</a></li>
            </ul>
          </li>
          <li class="usa-sidenav__item"><a href="#button-groups">Button Groups</a></li>
          <li class="usa-sidenav__item"><a href="#cards">Cards</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item"><a href="#cards-default">Cards - Default</a></li>
              <li class="usa-sidenav__item"><a href="#cards-flag">Cards - Flag</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <!-- MAIN COLUMN -->
    <div class="tablet:grid-col-fill" style="padding-left:20px;">

      <!-- ACCORDIONS -->
      <h2 class="site-preview-heading" id="accordions" style="margin-top:0;padding-top:0;">Accordions</h2>
      <h3 class="site-preview-heading" id="accordions-default">Accordions - Default</h3>
      <div class="usa-accordion">
        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading"><button aria-controls="a1" aria-expanded="true" class="usa-accordion__button">First Amendment</button></h4>
        <div class="usa-accordion__content" id="a1">
          <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
        </div>
        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading"><button aria-controls="a2" aria-expanded="false" class="usa-accordion__button">Second Amendment</button></h4>
        <div class="usa-accordion__content" id="a2">
          <p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p>
          <ul>
            <li>This is a list item</li>
            <li>Another list item</li>
          </ul>
        </div>
      </div>

      <h3 class="site-preview-heading" id="accordions-samhsa">Accordions - Samhsa</h3>
      <div class="usa-accordion samhsa" aria-multiselectable="false">
        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading">
          <button aria-controls="a1a" aria-expanded="true" class="usa-accordion__button">
            First Amendment - Samhsa
          </button>
        </h4>
        <div class="usa-accordion__content" id="a1a">
          <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
        </div>

        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading">
          <button aria-controls="a2a" aria-expanded="false" class="usa-accordion__button">
            Second Amendment - Samhsa
          </button>
        </h4>
        <div class="usa-accordion__content" id="a2a">
          <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="accordions-multiselect">Accordions - Multi-Select</h3>
      <div class="usa-accordion" aria-multiselectable="true">
        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading">
          <button class="usa-accordion__button"
                  aria-expanded="false"
                  aria-controls="m-a1">
            First Amendment
          </button>
        </h4>
        <div id="m-a1" class="usa-accordion__content">
          <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
        </div>

        <!-- Use the accurate heading level to maintain the document outline -->
        <h4 class="usa-accordion__heading">
          <button class="usa-accordion__button"
                  aria-expanded="false"
                  aria-controls="m-a2">
            Second Amendment
          </button>
        </h4>
        <div id="m-a2" class="usa-accordion__content">
          <p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>
        </div>
      </div>

      <h3 class="site-preview-heading" id="accordions-multiselect">Accordions - Multi-Select - Samhsa</h3>
      <div class="usa-accordion samhsa" aria-multiselectable="true">
        <h4 class="usa-accordion__heading">
          <button class="usa-accordion__button"
                  aria-expanded="false"
                  aria-controls="m-a21">
            First Amendment
          </button>
        </h4>
        <div id="m-a21" class="usa-accordion__content">
          <p>Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the Government for a redress of grievances.</p>
        </div>

        <h4 class="usa-accordion__heading">
          <button class="usa-accordion__button"
                  aria-expanded="false"
                  aria-controls="m-a22">
            Second Amendment
          </button>
        </h4>
        <div id="m-a22" class="usa-accordion__content">
          <p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed.</p> <ul><li>This is a list item</li><li>Another list item</li></ul>
        </div>
      </div>

      <!-- ALERTS -->
      <h2 class="site-preview-heading" id="alerts">Alerts</h2>
      <h3 class="site-preview-heading" id="alerts-default">Alerts - Default</h3>

      <div class="usa-alert usa-alert--info usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Informative status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="usa-alert usa-alert--warning usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Warning status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="usa-alert usa-alert--error usa-alert--default" role="alert">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Error status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="usa-alert usa-alert--success usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Success status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="alerts-default-samhsa">Alerts - Default - Samhsa</h3>
      <div class="samhsa usa-alert usa-alert--info usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Informative status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="samhsa usa-alert usa-alert--warning usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Warning status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="samhsa usa-alert usa-alert--error usa-alert--default" role="alert">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Error status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <div class="samhsa usa-alert usa-alert--success usa-alert--default" >
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Success status</h4>
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="alerts-slim">Alerts - Slim</h3>
      <div class="usa-alert usa-alert--info usa-alert--slim" >
        <div class="usa-alert__body">
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="alerts-slim-samhsa">Alerts - Slim - Samhsa</h3>
      <div class="samhsa usa-alert usa-alert--info usa-alert--slim" >
        <div class="usa-alert__body">
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="alerts-noicon">Alerts - No Icon</h3>
      <div class="usa-alert usa-alert--info usa-alert--no-icon" >
        <div class="usa-alert__body">
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>

      <h3 class="site-preview-heading" id="alerts-noicon-samhsa">Alerts - No Icon - Samhsa</h3>
      <div class="samhsa usa-alert usa-alert--info usa-alert--no-icon" >
        <div class="usa-alert__body">
          <p class="usa-alert__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
        </div>
      </div>

      <!-- BANNERS -->
      <h2 class="site-preview-heading" id="banners">Banners</h2>
      <section class="usa-banner" aria-label="Official government website">
        <div class="usa-accordion">
          <header class="usa-banner__header">
            <div class="usa-banner__inner">
              <div class="grid-col-auto">
                <img class="usa-banner__header-flag" src="../themes/custom/samhsa_uswds_base/dist/img/us_flag_small.png" alt="U.S. flag">
              </div>
              <div class="grid-col-fill tablet:grid-col-auto">
                <p class="usa-banner__header-text">An official website of the United States government</p>
                <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
              </div>
              <button class="usa-accordion__button usa-banner__button"
                      aria-expanded="false" aria-controls="gov-banner-default">
                <span class="usa-banner__button-text">Here’s how you know</span>
              </button>
            </div>
          </header>
          <div class="usa-banner__content usa-accordion__content" id="gov-banner-default">
            <div class="grid-row grid-gap-lg">
              <div class="usa-banner__guidance tablet:grid-col-6">
                <img class="usa-banner__icon usa-media-block__img" src="../themes/custom/samhsa_uswds_base/dist/img/icon-dot-gov.svg" role="img" alt="" aria-hidden="true">
                <div class="usa-media-block__body">
                  <p>
                    <strong>
                      Official websites use .gov
                    </strong>
                    <br/>
                    A <strong>.gov</strong> website belongs to an official government organization in the United States.

                  </p>
                </div>
              </div>
              <div class="usa-banner__guidance tablet:grid-col-6">
                <img class="usa-banner__icon usa-media-block__img" src="../themes/custom/samhsa_uswds_base/dist/img/icon-https.svg" role="img" alt="" aria-hidden="true">
                <div class="usa-media-block__body">
                  <p>
                    <strong>
                      Secure .gov websites use HTTPS
                    </strong>
                    <br/>
                    A <strong>lock</strong> (
                    <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title-default banner-lock-description-default" focusable="false"><title id="banner-lock-title-default">Lock</title><desc id="banner-lock-description-default">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>
                    ) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.

                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- BREADCRUMBS -->
      <h2 class="site-preview-heading" id="breadcrumbs">Breadcrumbs</h2>
      <h3 class="site-preview-heading" id="breadcrumbs-default">Breadcrumbs - Default</h3>
      <nav class="usa-breadcrumb" aria-label="Breadcrumbs">
        <ol class="usa-breadcrumb__list">
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Home</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Federal Contracting</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Contracting assistance programs</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
            <span>Women-owned small business federal contracting program</span>
          </li>
        </ol>
      </nav>

      <h3 class="site-preview-heading" id="breadcrumbs-wrapping">Breadcrumbs - Wrapping</h3>
      <nav class="usa-breadcrumb usa-breadcrumb--wrap" aria-label="Breadcrumbs">
        <ol class="usa-breadcrumb__list">
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Home</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Federal Contracting</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item">
            <a href="#" class="usa-breadcrumb__link">
              <span>Contracting assistance programs</span>
            </a>
          </li>
          <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
            <span>Women-owned small business federal contracting program</span>
          </li>
        </ol>
      </nav>

      <!-- BUTTONS -->
      <h2 class="site-preview-heading" id="buttons">Button</h2>
      <h3 class="site-preview-heading" id="buttons-default">Buttons - Default</h3>
      <button class="usa-button ">Default</button>
      <button class="usa-button  usa-button--hover">Hover</button>
      <button class="usa-button  usa-button--active">Active</button>
      <button class="usa-button  usa-focus">Focus</button>
      <button class="usa-button " disabled>Disabled</button><button class="usa-button  usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-secondary">Buttons - Secondary Colors</h3>
      <button class="usa-button usa-button--secondary">Default</button>
      <button class="usa-button usa-button--secondary usa-button--hover">Hover</button>
      <button class="usa-button usa-button--secondary usa-button--active">Active</button>
      <button class="usa-button usa-button--secondary usa-focus">Focus</button>
      <button class="usa-button usa-button--secondary" disabled>Disabled</button><button class="usa-button usa-button--secondary usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-accent">Buttons - Accent Colors</h3>
      <button class="usa-button usa-button--accent-cool">Default</button>
      <button class="usa-button usa-button--accent-cool usa-button--hover">Hover</button>
      <button class="usa-button usa-button--accent-cool usa-button--active">Active</button>
      <button class="usa-button usa-button--accent-cool usa-focus">Focus</button>
      <button class="usa-button usa-button--accent-cool" disabled>Disabled</button><button class="usa-button usa-button--accent-cool usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-warm">Buttons - Warm Colors</h3>
      <button class="usa-button usa-button--accent-warm">Default</button>
      <button class="usa-button usa-button--accent-warm usa-button--hover">Hover</button>
      <button class="usa-button usa-button--accent-warm usa-button--active">Active</button>
      <button class="usa-button usa-button--accent-warm usa-focus">Focus</button>
      <button class="usa-button usa-button--accent-warm" disabled>Disabled</button><button class="usa-button usa-button--accent-warm usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-base">Buttons - Base Colors</h3>
      <button class="usa-button usa-button--base">Default</button>
      <button class="usa-button usa-button--base usa-button--hover">Hover</button>
      <button class="usa-button usa-button--base usa-button--active">Active</button>
      <button class="usa-button usa-button--base usa-focus">Focus</button>
      <button class="usa-button usa-button--base" disabled>Disabled</button><button class="usa-button usa-button--base usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-outline">Buttons - Outline</h3>
      <button class="usa-button usa-button--outline">Default</button>
      <button class="usa-button usa-button--outline usa-button--hover">Hover</button>
      <button class="usa-button usa-button--outline usa-button--active">Active</button>
      <button class="usa-button usa-button--outline usa-focus">Focus</button>
      <button class="usa-button usa-button--outline" disabled>Disabled</button><button class="usa-button usa-button--outline usa-button--unstyled">Unstyled button</button>

      <h3 class="site-preview-heading" id="buttons-outline-inverse">Buttons - Outline Inverse</h3>
      <div class="bg-base-darkest padding-1" style="max-width: fit-content">
        <button class="usa-button usa-button--outline usa-button--inverse">Default</button>
        <button class="usa-button usa-button--outline usa-button--inverse usa-button--hover">Hover</button>
        <button class="usa-button usa-button--outline usa-button--inverse usa-button--active">Active</button>
        <button class="usa-button usa-button--outline usa-button--inverse usa-focus">Focus</button>
        <button class="usa-button usa-button--outline usa-button--inverse" disabled>Disabled</button><button class="usa-button usa-button--outline usa-button--inverse usa-button--unstyled">Unstyled button</button>
      </div>

      <h3 class="site-preview-heading" id="buttons-big">Buttons - Big</h3>
      <button class="usa-button usa-button--big">Default</button>
      <button class="usa-button usa-button--big usa-button--unstyled">Unstyled button</button>

      <!-- BUTTON GROUPS -->
      <h2 id="cards" id="button-groups">Button Groups</h2>
      <ul class="usa-button-group">
        <li class="usa-button-group__item">
          <a href="#" class="usa-button usa-button--outline">Back</a>
        </li>
        <li class="usa-button-group__item">
          <button class="usa-button">Continue</button>
        </li>
      </ul>

      <!-- CARDS -->
      <h2 id="cards" id="cards">Cards</h2>
      <h3 class="site-preview-heading" id="cards-default">Cards - Default</h3>
      <ul class="usa-card-group">
        <li class="tablet:grid-col-3 usa-card">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Card</h2> </header>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae. Excepturi nobis dolores molestias! Quas quisquam a officia eos.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-3 usa-card">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Card with media</h2> </header>
            <div class="usa-card__media">
              <div class="usa-card__img"><img alt="A placeholder image" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" /></div>
            </div>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae. Excepturi nobis dolores molestias! Quas quisquam a officia eos.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-3 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Media and header first</h2> </header>
            <div class="usa-card__media">
              <div class="usa-card__img"><img alt="A placeholder image" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" /></div>
            </div>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-3 usa-card usa-card--header-first">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Inset media</h2> </header>
            <div class="usa-card__media usa-card__media--inset">
              <div class="usa-card__img"><img alt="A placeholder image" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" /></div>
            </div>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis earum tenetur quo cupiditate, eaque qui officia recusandae.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
      </ul>
      <h3 class="site-preview-heading" id="cards-flag">Cards - Flag</h3>
      <ul class="usa-card-group">
        <li class="tablet:grid-col-6 usa-card usa-card--flag">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Flag default</h2> </header>
            <div class="usa-card__media">
              <div class="usa-card__img"><img alt="A placeholder image" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" /></div>
            </div>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
        <li class="tablet:grid-col-6 usa-card usa-card--flag usa-card--media-right">
          <div class="usa-card__container">
            <header class="usa-card__header">
              <h2 class="usa-card__heading">Flag media on right</h2> </header>
            <div class="usa-card__media">
              <div class="usa-card__img"><img alt="A placeholder image" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" /></div>
            </div>
            <div class="usa-card__body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="usa-card__footer">
              <button class="usa-button">Visit Florida Keys</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
